[2020-02-12 12:02] None-stopCoding opened #2 "Реализовать библиотеку, соответствующую спецификации"
#1 - спецификация

[2020-02-16 06:13] YuriSilenok commented on #1
Если вы сделали документацию, то нужно прикреплять ссылку к документу.
Иначе из этой задачи не найти документ.
если вы делали эту задачу, то должны ее назначить на себя в поле Assigness.
если эта задача завершена, ее нужно закрыть

[2020-02-16 06:18] YuriSilenok commented on #2
Кто ответственный за задачу?

[2020-02-16 06:19] YuriSilenok commented on #3
Непонятна чуть задачи, что залить и почему на это нужна задача, все должно попадать на гит, кто отвественный

[2020-02-21 06:13] Svyat935 commented on #9
[Тестовый журнал](https://docs.google.com/spreadsheets/d/1MPkVTspH5MCtCvUXNTduhgQl90N3LIjzLjqfjYTDPdc/edit#gid=1778812415)

[2020-02-22 16:20] None-stopCoding commented on #1
В ближайшее время мы приведем в порядок и автоматизируем процесс разработки

[2020-02-22 19:27] TsaplinK commented on #3
Этапы
1: Разработать систему веток, создать базу в git
2: Всем разработчикам установить Qt Creator и познакомиться с фреймворком Qt 5
3: Создать тестовую базу

[2020-02-22 19:33] TsaplinK commented on #1
По полученному API от почтового сервиса спроектировать методы приема /ответа сервиса проверок

[2020-02-24 20:10] None-stopCoding commented on #15
[Рекомендации для код ревью](https://docs.google.com/document/d/19Qf2eQCrAhQCHDadIgdWVq4mtCPDfXSduzHvf7VgFy0/edit?usp=sharing)

[2020-02-25 13:37] AnastasiVokhmyanina28 commented on #14
[Strategy-master.zip](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/files/4250227/Strategy-master.zip)

[2020-02-25 13:39] AnastasiVokhmyanina28 commented on #13
https://docs.google.com/document/d/195i030GI10Pz2-hxs4BWLWtoQo5EMXyw6LikYWUgehI/edit

[2020-02-26 22:03] urec-programmec opened #28 "Cпецификация JSON"
Закончить документацию по JSON
Написать единый документ формата

Лабораторная работа № N
Порт № Z
Формат JSON:
{
...
}

[2020-02-26 22:06] urec-programmec opened #29 "Развернуть локальный веб-сервер"
Локальный веб-сервер для изучения взаимодействия с ним

Результаты представить в виде настроенной веб страницы локального хоста (к примеру 127.0.0.1 или 192.168.0.1)

[2020-02-26 22:10] urec-programmec opened #30 "Изучить работу с http запросами"
Имитация работы с веб-сервером
Стадии работы:

- изучить работу с отправкой http запросов в python.

Результаты работы представить в виде листа документации или рабочего метода

- послать http запрос, получить ответ на запрос от веб-сервера

Результаты представить в виде работающего метода

- послать JSON, получить ответ на запрос от веб-сервера

Результаты представить в виде работающего метода

[2020-02-26 22:15] urec-programmec opened #32 "Написать тестовые письма"
Написать различные тестовые письма

- не меньше десяти
- письма должны быть сформированы по разным шаблонам, с разными ошибками для тестирования системы валидации

Результаты представить в виде файла на Google Disk

[2020-02-26 22:19] urec-programmec opened #33 "Сформировать общедоступный модуль глобальных классов"
Написать один модуль в понятии python (отдельный файл), содержащий описание общедоступных методов

Методы связи:

- Letter
- LetterResult
- AnswersForUsers

Глобальный класс

- User

Результаты представить в виде отдельного пакета питона, способного к подключению в другие модули с описанием представленных классов внутри

[2020-02-27 09:33] YuriSilenok commented on #1
Какие есть изменения по этой задаче?

[2020-02-27 10:33] YuriSilenok commented on #4
Задача поставлена 6 дней назад, к какой команде она относится?

[2020-02-27 10:34] YuriSilenok commented on #5
К какой команде относится эта задача?

[2020-02-27 10:34] YuriSilenok commented on #6
К какой команде относится эта задача?

[2020-02-27 10:34] YuriSilenok commented on #7
К какой команде относится эта задача и кто ответственный за нее?

[2020-02-27 10:53] ShapovalovQ commented on #7
18-ИСбо-2а Шаповалов В.

[2020-02-27 17:15] YuriSilenok commented on #14
вы создали проект и прикрепили его к этой задаче. Это хорошо, но не идеально, возникнет проблема, откуда будет Ваш компонент брать эти шаблоны? думаю он должен размещен в репозитории в подкаталоге каталога LR07

[2020-02-27 17:17] YuriSilenok commented on #14
А почему задачу закрыл отличный человек от ответственного? Если эту задачу кто-то проверяет и после проверки должны закрыть ее, то нужно перевесить на этого человека для закрытия

[2020-02-27 17:18] YuriSilenok commented on #15
заменить ссылку на файл действительной, текущая ссылка ведет на файл не расположенный в общей папке.

[2020-02-27 18:41] YuriSilenok commented on #11
Пожалуйста, добавьте ссылку на документация, если Вам нужно что бы я проверил, то назначте меня в ответственных с соответствующим комментарием,

[2020-02-27 18:54] ComButterbrot commented on #11
Ссылка на документацию доступна [здесь](https://drive.google.com/folderview?id=1ax4_BVRX6Tjtlypt7YU5KuNpSsFyFGTa).
Файл называется "Описание протокола передачи данных".

[2020-02-27 19:05] YuriSilenok commented on #20
кто делает эту задачу?

[2020-02-27 19:05] YuriSilenok commented on #21
Кто делает эту задачу?

[2020-02-27 19:26] MaXL2000 commented on #5
К команде Смирнова Александра и Обидина Никиты

[2020-02-27 19:34] None-stopCoding commented on #14
За закрытие задач отвечает наш task-manager - Костя Цаплин, он закрыл задачу. Zip файл уже добавляется в папку на гугл диске. Спасибо.

[2020-02-27 19:42] TsaplinK commented on #16
Обращаться к Коренухину Егору (https://github.com/Sirokko77)

[2020-02-27 19:56] TsaplinK opened #48 "Реализовать отправку данных (1 или 0) клиенту"
Срок завершения работ по задаче: 20.03.20

[2020-02-27 23:14] MoL4okkk opened #49 "Изучить основы Unit-тестирования на Python"
В рамках выполнения задачи #10.
Изучить библиотеку unittest, создать тест, проверяющий сложение двух чисел.

[2020-02-27 23:19] MoL4okkk commented on #49
Созданный тест находится в ветке issue-49

[2020-02-27 23:19] #49 closed

[2020-02-28 05:54] Svyat935 commented on #9
Ожидание проверки задачи. Ветка "issue-9"

[2020-02-28 06:53] YuriSilenok opened #54 "Описать структуру конфига проекта"
Необходимо учесть в конфиге:
- сопоставление лабораторной работы и порта
- токен для гугл
- ид журнала
- ид таблицы регистрации

[2020-02-28 14:26] BlackReper086 commented on #37
Написать шаблон писем для разработчиков

[2020-02-28 14:53] YuriSilenok commented on #56
Duplicate of #10

[2020-02-29 08:30] YuriSilenok commented on #5
Проверяю на соответствие [шаблону](https://docs.google.com/document/d/1DRhgepxVwoscylIS2LCW-po5SFBdqOr-oo92bP_XfHE/edit?usp=sharing)

[2020-02-29 10:06] BlackReper086 commented on #37
Шаблоны сохранены на [Google Drive](https://drive.google.com/open?id=11wergOjZTa9mxJ_jn8ZqnYSBYRqcSNhE). Требуется проверка. Требуется уточнить структуру письма разработчикам.

[2020-02-29 12:54] BlackReper086 commented on #36
Шаблоны сохранены на [Google Drive](https://drive.google.com/open?id=1I20MJTDv4RmFZNJQEfeGhtcd4N9tj4xC). Требуется проверка.

[2020-03-01 05:12] None-stopCoding commented on #15
Ссылка заменена

[2020-03-01 08:47] urec-programmec commented on #36
Проверил, отправлено на доработку

[2020-03-01 09:03] urec-programmec commented on #37
Проверил
Обсудил с исполнителем места на доработку
Отправил на доработку

[2020-03-01 10:50] None-stopCoding commented on #3
[Git Flow 18-vt-a](https://codesandbox.io/s/git-flow-18-vt-a-dnjwg)

[2020-03-01 18:10] Progoger commented on #33
Выполнил, пока без описания имеющихся классов, если всё нормально, дорабатываю описание

[2020-03-01 18:11] Progoger commented on #33
Ветка: issue-33

[2020-03-02 13:18] YuriSilenok commented on #11
Ссылка должна вести на документ, а не на папку

[2020-03-02 16:14] YuriSilenok commented on #11
Оставил несколько комментариев в документе
если неизвестно что писать в томи или ином случае, то для этиого все равно должен быть каркас. Не увидел ответ на получание лабораторной работы. а так же не увидел описание протокола для выставления оценки в журнал

[2020-03-02 16:15] YuriSilenok commented on #55
ваша задача будент может быть зхакрыта только после мержа запросов и закрытия запросов и задач связанных с этой задачей. В вашем случае все три мержа все еще открыты

[2020-03-02 19:27] cyberAndrey commented on #32
[Документ](https://docs.google.com/document/d/1knlDwZ4lGp7NlXlYRQp_11sQAKZlG4qBdP2qyhC0TQY/edit#heading=h.xzwb24pmw5e7)

[2020-03-02 19:37] urec-programmec commented on #32
Задание проверил
На текущий спринт задание закрыто
Задание остаётся в разработку на последующие спринты

[2020-03-02 19:51] urec-programmec commented on #28
Принял результаты через Вконтакте
Презентация [здесь](https://docs.google.com/presentation/d/1dQ9rwSkHJOVe4mQOJdMzmxA_TbwCOrXUCuktlhyW3eg/edit#slide=id.g7ed27e09f8_0_60)
Задача ожидает корректировки со стороны ВТ

[2020-03-02 19:53] urec-programmec commented on #28
Информация по поводу портов

Порты
18-ВТбо-1а - [10000-10999]
18-ВТбо-1б - [11000-11999]
18-ИСбо-2а - [12000-12999]
18-ИСбо-2б - [13000-13999]

[2020-03-02 20:05] BlackReper086 commented on #36
Уменьшил длину кода до 2 символов. Разделил на категории: ошибки (00-09), нейтральные результаты (10-19), успех(20-29), резерв (30-99). Требуется проверка

[2020-03-02 20:09] BlackReper086 commented on #37
Убраны письма о отправке работы и в процессе проверки. Более формальные темы писем. Присвоен код к каждому письму(кроме писем разработкам). Требуется проверка.

[2020-03-02 20:21] urec-programmec commented on #36
Ссылка на нужный документ
[Коды](https://drive.google.com/file/d/1teHvhrZZOLNP5cWcR7rntGVakC1fje1Q/view)

[2020-03-02 20:22] urec-programmec commented on #36
Задача принята

[2020-03-02 21:16] urec-programmec commented on #35
Задача принята.
Ссылка на документ [здесь](https://vk.com/doc467746984_539542984?hash=32630816554d3a32f1&dl=23613df722fefb38ec)

[2020-03-03 04:46] Progoger commented on #27
Задание выполнил Гусев Артём, прикрепляю ссылку для проверки выполнения:https://drive.google.com/drive/u/0/folders/1If6XZeMkUzFZq8CMNrp8k6XDYhe1g3t-

[2020-03-03 05:09] Progoger commented on #33
Добавил описание классов

[2020-03-03 05:44] SkinnerX7 commented on #28
Выполнил стандарт JSON
Ссылка на документ: https://docs.google.com/document/d/18wjwqCfr148crAN2Glso_a0bkwB36QitpP-h4bHFz7Q/edit

[2020-03-03 06:25] Progoger commented on #33
Исправлено описание так, как сказал Юрий Викторович

[2020-03-03 06:30] BlackReper086 commented on #38
Ознакомлен.

[2020-03-03 06:31] SkinnerX7 commented on #40
С архитектурой ознакомлен

[2020-03-03 06:31] Progoger commented on #40
Ознакомился

[2020-03-03 06:33] urec-programmec commented on #33
Добавить pull request

[2020-03-03 06:40] Progoger commented on #33
Добавил pull request

[2020-03-04 16:36] VladmirV commented on #39
С диаграммой ознакомлен.

[2020-03-04 16:36] VladmirV commented on #39
С пояснительной запиской ознакомлен.

[2020-03-04 17:42] Dudka567 commented on #64
[Документация](https://javarush.ru/groups/posts/654-klassih-socket-i-serversocket-ili-allo-server-tih-menja-slihshishjh)

[2020-03-04 21:46] CatherinePRO commented on #39
С диаграммой ознакомилась

[2020-03-04 21:47] CatherinePRO commented on #39
С пояснительной запиской ознакомлена

[2020-03-04 21:49] CatherinePRO commented on #23
Выполнена настройка сервисного аккаунта

[2020-03-04 21:50] CatherinePRO commented on #23
Реализовано чтение и запись данных

[2020-03-04 21:51] CatherinePRO commented on #23
Выборка данных в процессе

[2020-03-05 06:17] cyberAndrey commented on #39
С документами ознакомился

[2020-03-05 06:17] cyberAndrey commented on #18
Задание выполнил

[2020-03-05 18:02] MaJishpro commented on #8
Добавил метод на вытаскивание почты, передаваемой @0Meridian0. Так же закончил с методом поиска в таблице.

[2020-03-06 04:25] #33 closed

[2020-03-06 04:27] urec-programmec commented on #29
Не наблюдаю комментария о проделанной работе
Задача отсылается в To do

[2020-03-06 04:35] urec-programmec commented on #27
Комментирую
Структура модуля включает в себя весь заявленный в [диаграмме](https://www.draw.io/#G1uBk9EZCwKGp3pa4MURUgB9tz5a2x9DN_) функционал
Что такое модуль — ссылка [тут](https://docs.google.com/document/d/1VnIuTmjycBvwvyfVx-RJl1hDfTVA0YoDg1v0tsyrhQA/edit)

Что имеется сейчас — 4 класса, которые не способны выполнять свою функциональную нагрузку

Что ожидается — более подробное изучение идеи м

[2020-03-06 04:42] urec-programmec commented on #28
После обсуждения на предыдущей паре данного вопроса изменяю задачу и назначаю исполнителем себя

[2020-03-06 04:45] urec-programmec commented on #30
Ожидаю комментариев о проделанной работе

[2020-03-06 04:45] urec-programmec commented on #31
Ожидаю комментариев о проделанной работе

[2020-03-06 04:45] urec-programmec commented on #24
Ожидаю комментариев о проделанной работе

[2020-03-06 04:46] urec-programmec commented on #26
Ожидаю комментариев о проделанной работе

[2020-03-06 04:46] urec-programmec commented on #22
Ожидаю комментариев о проделанной работе

[2020-03-06 04:48] urec-programmec commented on #18
Ожидаю результатов по задаче в любом виде для проверки

[2020-03-06 04:50] urec-programmec commented on #38
Ожидаю комментариев от остальных членов команды о стадии выполнения задачи

[2020-03-06 04:56] urec-programmec commented on #37
Задание выполнено верно.
Теперь ожидаю документ, перезалитый на Google Drive в ту же папку, но в формате Google документа а не документа .docx

[2020-03-06 04:58] urec-programmec commented on #37
Кроме этого когда задание выполнено и требует проверки, оно должно находиться в колонке Preview done.
Перетаскивать задачи можно самому.

[2020-03-06 05:01] urec-programmec commented on #36
Перезалито на GD в формате Google Таблицы
[Ссылка](https://docs.google.com/spreadsheets/d/1o6pLF4PXGc6h6X7q4epYjuzTCzZmDobuR0on4av4wO4/edit#gid=1847888026)

[2020-03-06 05:02] urec-programmec commented on #36
Перезалито на GD в формате Google Документы
[Ссылка](https://docs.google.com/document/d/11wergOjZTa9mxJ_jn8ZqnYSBYRqcSNhE/edit#heading=h.gjdgxs)

[2020-03-06 05:03] urec-programmec commented on #37
Перезалито на GD в формате Google Документы
[Ссылка](https://docs.google.com/document/d/11wergOjZTa9mxJ_jn8ZqnYSBYRqcSNhE/edit#heading=h.gjdgxs)

[2020-03-06 05:39] urec-programmec opened #69 "Изучить работу с http запросами 3"
Epic - #30

Изучить работу с отправкой http запросов в python.

[2020-03-06 05:51] urec-programmec opened #70 "Структура модуля: UML диаграмма классов"
Epic - #27

- изучение модульной разработки по [ссылке](https://docs.google.com/document/d/1VnIuTmjycBvwvyfVx-RJl1hDfTVA0YoDg1v0tsyrhQA/edit)

- разработка UML диаграммы в соответствии с требованиями:

- - Диаграмма должна описывать все классы, используемые в модуле. При отсутствии необходимости писать какой-либо класс, отвечающий за общий алгоритм работы модуля, использовать класс main
- - Классы

[2020-03-06 06:10] urec-programmec opened #73 "Структура модуля: UML диаграмма классов"
Epic - #25

- изучение модульной разработки по [ссылке](https://docs.google.com/document/d/1VnIuTmjycBvwvyfVx-RJl1hDfTVA0YoDg1v0tsyrhQA/edit)

- разработка UML диаграммы в соответствии с требованиями:

- - Диаграмма должна описывать все классы, используемые в модуле. При отсутствии необходимости писать какой-либо класс, отвечающий за общий алгоритм работы модуля, использовать класс main
- - Классы

[2020-03-06 06:11] urec-programmec opened #74 "Структура модуля: Диаграмма вызовов"
Epic - #25

- Изучить (вспомнить) материалы по разработке диаграммы вызовов

- Диаграмма должна дополнять UML диаграмму, показывая
- - Взаимодействие ваших классов между собой
- - Взаимодействие вашего модуля с другими

[2020-03-06 06:13] urec-programmec opened #75 "Структура модуля: Пояснительная записка"
Epic - #25

- Изучить материалы по написанию пояснительной записки. За пример можно взять пояснительную записку к диаграмме [архитектуры](https://www.draw.io/#G1uBk9EZCwKGp3pa4MURUgB9tz5a2x9DN_)

- Написать пояснительную записку, отражающую суть каждого класса. Записка не должна быть слишком подробной, скорее дополнять UML и диаграмму вызовов в местах, которые требуют более детального описания

[2020-03-06 06:27] urec-programmec opened #76 "Валидация письма: Реализация"
Epic - #22

- Изучить водопад валидации писем

- Написать класс, реализующий этот функционал

[2020-03-06 06:29] urec-programmec opened #77 "Валидация письма: Документация"
Epic - #22

- Дополнение к задаче #76

- - Пояснительная записка, в которой будет прописан цикл алгоритма проверки
- - Либо диаграмма вызовов

[2020-03-06 07:03] 0Meridian0 opened #78 "Разработать шаблон писем"
Написать шаблон для писем:
1. Письмо не прошло авторизацию
2. Письмо не прошло валидацию
3. В лабораторной работе имеются ошибки
4. Работа принята

[2020-03-06 07:23] Progoger commented on #29
Написал простой сервер на питоне, взял данные этого сервера и передал их на веб-страницу.
Закидываю в preview done

[2020-03-06 08:31] urec-programmec commented on #29
Принято. До встречи на демке

[2020-03-06 08:31] #29 closed

[2020-03-06 09:39] Dudka567 opened #82 "Ознакомиться с форматом JSON"

[2020-03-06 09:42] Dudka567 commented on #82
[Документация`](https://javadevblog.com/primer-raboty-s-json-simple-v-java-parsing-i-sozdanie-json.html)

[2020-03-06 09:42] #82 closed

[2020-03-07 13:45] urec-programmec opened #85 "Вводная"
Команда состоит из трёх человек.
Максим — разработка, написание кода
Тимофей — разработка, написание кода
Артём — тестирование, документация. при необходимости — написание кода.

Спринт 1. Таски

Максим — основная задача #30. К концу спринта доделать её реализацию до стадии презентации. Дальнейшие задачи непосредственно будут связаны с ней.
Задача вынесена из контекста потому что нет пока общей ст

[2020-03-07 14:35] urec-programmec opened #87 "Парсинг данных: GitHub"
Продемонстрировать работу по изучению языка python
Для этого:

Разработать метод, вытаскивающий данные из github по ссылке на репозиторий

Что на вход:
Ссылка на репозиторий

Что на выходе
Единый текстовый файл (пока использовать запись в файл) с кодом, размещённым на github

Что предусмотреть
- Объединение кода из разных папок и документов в один
- Сопоставление (merging) заголовков (using ... )

[2020-03-07 14:55] urec-programmec opened #88 "Разработка общего метода модуля - CheckEmail()"
Ваш модуль является звеном, соединяющий предыдущий и следующий.
CheckEmail() — метод, вызываемый у вас предыдущим модулем. После его вызова начинается работа вашего функционала, ваша зона ответственности

- Что на входе
Ничего, ваш модуль первый в цикле проверки писем

- Что требуется от вас
- - Проверить почту на предмет новых писем
- - Выгрузить данные с почты
- - Привести к единому виду информа

[2020-03-07 15:12] urec-programmec commented on #38
Закрываю задачу по утрате релевантности

[2020-03-07 21:57] urec-programmec opened #95 "Общий метод модуля: Наполнение метода"
Epic — #93

Расставить внутри сформированного метода новые методы - заглушки. Каждый из методов должен отвечать за одно действие

Последовательность действий — см. Функционал задачи #93

Метод-заглушка имеется в виду описанный ниже в коде метод, который выполняет код по типу
print ("Метод такой-то сделал то-то. После этого метода данные находятся (если есть какие-то общие переменные) в таком-то ви

[2020-03-07 22:03] urec-programmec opened #96 "Разработать класс ответов пользователям"
Продолжение задачи #36

Разработать класс, в котором поля класса являются написанными шаблонами писем

Результат представить в виде модуля на языке python

[2020-03-08 16:47] JackiEwens commented on #98
[Документация](https://habr.com/ru/post/98638/)

[2020-03-09 16:02] YuriSilenok commented on #7
1. Вы не указали Ваше имя и фамилию в гихаб

[2020-03-09 16:07] Progoger commented on #67
Добавлен Сервер-"Server.py"
Добавлена отправка json-"HTTPReq.py"
Общие классы перенесены в папку "CommonClasses"

[2020-03-09 16:36] Progoger commented on #68
Добавлен Сервер-"Server.py"
Добавлена отправка http-запроса-"HTTPReq.py"
Общие классы перенесены в папку "CommonClasses"

[2020-03-09 16:38] cyberAndrey commented on #89
Задание [выполнил ](https://docs.google.com/document/d/1YMtlwsImBzR1ONhY6hH0VZnonpRmHM9UZ0glsG8sMLA/edit)

[2020-03-09 16:42] YuriSilenok commented on #6
Причина закрытия задачи?

[2020-03-09 16:44] Progoger commented on #69
На основе задач:
issue#67(https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/67);
issue#68(https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/68);
И материала статей и форумов:
https://pythonworld.ru/web/cgi-1.html
https://pythonru.com/biblioteki/kratkoe-rukovodstvo-po-biblioteke-python-requests
https://qna.habr.com/q/615289
Изучил http-запросы

[2020-03-09 16:50] Progoger commented on #30
Добавлен Сервер-"Server.py"
Добавлены отправка http-запроса и отправка json-"HTTPReq.py"
Общие классы перенесены в папку "CommonClasses"

[2020-03-09 16:51] YuriSilenok commented on #55
вы видели что запросы на слияния завершены?

[2020-03-09 16:53] YuriSilenok commented on #3
зачем это?

[2020-03-09 16:55] YuriSilenok commented on #15
Почему задача все еще открыта?

[2020-03-09 17:08] YuriSilenok commented on #8
если статус на доске done, почему задача не закрыта?

[2020-03-09 17:13] YuriSilenok commented on #1
Почему нет активности по этой задаче?

[2020-03-09 17:14] YuriSilenok commented on #17
если запрос на слияние смержен, то почему задача все еще открыта?

[2020-03-09 17:15] YuriSilenok commented on #18
укажите причину закрытия задачи

[2020-03-09 17:21] YuriSilenok commented on #41
где описание задачи, ссылка документ со сценариями, ссылку на описание лабораторной работы?

[2020-03-09 17:23] YuriSilenok commented on #11
если задача в статусе Done, почему она открыта?

[2020-03-09 17:24] YuriSilenok commented on #5
какие изменения по этой задаче?

[2020-03-09 17:28] YuriSilenok commented on #4
@Sirokko77  Зачем на меня назначена эта задача?
что с задачей?

[2020-03-09 18:13] 0Meridian0 commented on #6
задача закрыта, так как была реализована сразу с другой

[2020-03-09 20:02] cyberAndrey commented on #22
задание выполнил
Код в issue-18
Описание алгоритма [здесь](https://docs.google.com/document/d/15Q_UAAx9t5kV54nmH6MoFaj9ALFjcynmVDsKJy6U6uY/edit)
Пока без кодов писем

[2020-03-09 21:58] urec-programmec commented on #89
Задачу подредактировал проверил
Принято

[2020-03-09 22:17] urec-programmec commented on #22
Задача принимается
Жду pull request в ветку Google

[2020-03-10 00:25] urec-programmec commented on #67
Pull request имеет конфликты.
Остановлено до решения этих конфликтов

[2020-03-10 03:34] CatherinePRO opened #106 "Выставление оценок в журнал"
Разработать метод, принимающий данные о студенте + идентификатор лаб.работы + оценку
оценку выставить в журнал
варианты оценок: 0 или 1

[2020-03-10 03:49] CatherinePRO commented on #106
какие данные будем возвращать, bool?

[2020-03-10 05:39] Progoger commented on #30
Разделил один файл HTTPReq на два HTTPReq(http-запрос), JSONSend(отправка JSON)

[2020-03-10 05:40] VladmirV commented on #24
Создана ветка issue-24

[2020-03-10 05:40] VladmirV commented on #24
Добавлены первичные данные.

[2020-03-10 05:40] VladmirV commented on #24
Реализованы функция для авторизации.

[2020-03-10 05:41] VladmirV commented on #24
Реализована функция, которая отправляет сообщения. На вход поступает SMTP объект, адрес получателя, заголовок, текст.

[2020-03-10 05:43] VladmirV commented on #24
Процесс реализована функция прочтения сообщения. На вход поступает IMAP объект.

[2020-03-10 05:44] VladmirV commented on #24
Реализована возможность получения имени и адреса отправителя.

[2020-03-10 05:45] VladmirV commented on #24
Реализована возможность получения темы сообщения.

[2020-03-10 05:46] VladmirV commented on #24
Реализована возможность получения вложений из прочитанного письма.

[2020-03-10 05:47] VladmirV commented on #24
Трудности с получением body. Необходимо дополнительное время для доработки.

[2020-03-10 07:53] magnitola commented on #55
da

[2020-03-10 13:19] HozookiSan commented on #61
[Вариант_1](https://github.com/HozookiSan/Losyash.git)

[2020-03-10 13:19] HozookiSan commented on #61
[Вариант_2](https://github.com/HozookiSan/Krosh.git)

[2020-03-10 13:20] HozookiSan commented on #61
[Вариант_3](https://github.com/HozookiSan/Yozhik.git)

[2020-03-10 13:47] HozookiSan commented on #61
[Вариант_4](https://github.com/HozookiSan/Barash.git)

[2020-03-10 15:18] urec-programmec commented on #67
Закрываю
Входит в pull request задачи #30

[2020-03-10 15:19] urec-programmec commented on #68
Закрываю
Входит в pull request задачи #30

[2020-03-10 15:19] urec-programmec commented on #69
Закрываю
Входит в pull request задачи #30

[2020-03-10 15:19] #69 closed

[2020-03-10 15:34] urec-programmec commented on #23
Принял.
Проверил pull request ы

[2020-03-10 15:56] urec-programmec opened #108 "Python и TCP: Сервер"
Epic - #107

Написать серверную компоненту, требующуюся для TCP соединения

- Изучить информацию по TCP, сокетам, способам взаимодействия через них, паттерну "Слушатель"

- Разработать модуль, отвечающий за серверную компоненту

- Предусмотреть настройку модуля через файл config.txt, в котором будет прописан адрес хоста и порт, прослушиваемый сервером. При изменении файла должны соответственно мен

[2020-03-10 18:43] Llouqs opened #112 "Определить функцию проверки веток на GitHub"
Проверить наличие двух веток, вторая называется task n
Проверить наличие и корректность файла .gitignore
Наличие в первой ветке 3 файлов, во второй 5

[2020-03-10 18:47] urec-programmec commented on #28
Закончил общую структуру

[2020-03-10 18:51] urec-programmec commented on #32
Закрыто из за потери приоритетности

[2020-03-10 18:51] #32 closed

[2020-03-10 18:52] urec-programmec commented on #18
Задача не соответствует спецификации. Закрыто за нерелевантностью.

[2020-03-10 19:30] Tyson44-rus opened #114 "Ознакомиться с документацией по настройке сервера"

[2020-03-11 04:10] urec-programmec opened #116 "Список экземпляров класса Letter"
Разработать метод, работающий непосредственно с поступающими с почты письмами
Метод должен использоваться для заполнения списка экземпляров класса Letter

- Что на вход
Сырые данные по письмам, вытащенные с почты

- Что требуется
Составить список экземпляров класса Letter по спецификации в [диаграмме](https://www.draw.io/#G1uBk9EZCwKGp3pa4MURUgB9tz5a2x9DN_)

- Что предусмотреть
- - Заполнение поля

[2020-03-11 04:16] urec-programmec commented on #22
https://www.draw.io/#G1uBk9EZCwKGp3pa4MURUgB9tz5a2x9DN_

[2020-03-11 04:16] urec-programmec commented on #22
Pull request принял
Задачу закрываю

[2020-03-11 04:17] urec-programmec commented on #76
Задачу закрываю из за решения Epic

[2020-03-11 04:17] #76 closed

[2020-03-11 05:37] urec-programmec commented on #28
Закончил с расстановкой форматов JSON
Документ [здесь](https://docs.google.com/document/d/1UWPYAc9Qqtg3XbEyg5CfDk6F5vaSsirt08Jx3DZSYD4/edit)

[2020-03-11 07:04] YuriSilenok commented on #6
В таком случае необходимо указывать номер задачи. Что бы можно было найди   эти изменения

[2020-03-11 07:22] 0Meridian0 commented on #6
Задача реализована в issue-17

[2020-03-11 09:58] MoL4okkk opened #117 "Ошибка при импорте из google.py"
При тестировании методов из файла google.py (18-ISbo-2a/email/18-ISbo-2a) возникает следующая ошибка:
![image](https://user-images.githubusercontent.com/55210615/76404659-dc922c00-6397-11ea-9e5d-8cd697072457.png)
Если переименовать файл google и исправить импорт, ошибка не возникает.

[2020-03-11 12:09] YuriSilenok commented on #13
Прикрепленный файл не является валидным

[2020-03-11 12:11] YuriSilenok commented on #14
файл zip не найден на гугл диске

[2020-03-11 13:45] urec-programmec opened #120 "Написать единую документацию по ЛР"
Написать документ, в котором будут чётко описаны все задания по каждой ЛР.
Речь идёт не о конкретных вариантах в цифрах или кусках классов, а о задании в целом в рамках курса "Дисциплина ТРПО"

Результаты представить в виде документа на [GD](https://drive.google.com/drive/folders/1z9DwdZ6ETedAGSBkTFUHI1MOGeoRJg35)

[2020-03-11 16:11] urec-programmec commented on #30
Принял pull request

[2020-03-11 16:11] #30 closed

[2020-03-11 16:11] urec-programmec commented on #28
Исправил замечания, обсудил результаты проверки.

[2020-03-11 16:11] #28 closed

[2020-03-11 16:59] CatherinePRO commented on #121
закрыт доступ по старому токену

[2020-03-11 16:59] CatherinePRO commented on #121
создан новый токен

[2020-03-11 17:21] CatherinePRO commented on #121
запрошена отмена выпуска

[2020-03-11 17:23] urec-programmec commented on #121
Отмена проведены.
По результатам pull request задача закрывается

[2020-03-11 18:55] AnastasiVokhmyanina28 commented on #20
ссылка на документ с задачами: https://docs.google.com/document/d/1QJxrZKpf69n_SEcLJ-Ni6uKhueuDTLZHdZCGMwyDBZ8/edit

[2020-03-12 17:57] YuriSilenok commented on #55
Тогда почему задача открыта?

[2020-03-13 03:59] None-stopCoding commented on #3
Это первый пункт по задаче - разработана системам веток.

[2020-03-13 05:42] YuriSilenok commented on #78
нет ссылки на результаты

[2020-03-13 05:42] ShapovalovQ commented on #115
https://docs.google.com/document/d/1dWNlsbyRJFYibmpcPZ5xLk5pPMggd24E4CzrP3LijgU/edit

[2020-03-13 05:48] Sirokko77 commented on #79
Работа выполнена, пожалуйста сделайте проверку. @Svyat935

[2020-03-13 05:54] Sirokko77 commented on #4
Задача выполнена

[2020-03-13 05:57] 0Meridian0 commented on #78
Ссылка на шаблоны писем в GD
https://docs.google.com/document/d/12a3RU3ZGSdKiSx-n4b8T2KO-b40wL6MpF5t_uh2tD7o/edit?usp=sharing

[2020-03-13 05:57] #78 closed

[2020-03-13 06:29] ComButterbrot commented on #54
Ссылка на [информацию](https://drive.google.com/drive/folders/1AySUzSenJhsfD-t1xxChlgt8LWQ0y8oL).

[2020-03-13 06:39] 0Meridian0 opened #130 "Реализовать архивацию писем"
Получить доступ к labels
Исправить ошибку 403

[2020-03-13 06:44] 0Meridian0 opened #131 "Исправить ссылки в коде"
Исправить ссылки(изменив общедоступную ссылку на ограниченную по доступу)

[2020-03-13 14:46] MaJishpro opened #132 "Составить пользовательский сценарий."
Подразумевается,  что с точки зрения пользователя ты делаешь, и что получаешь после выполнения всех модулей.

[2020-03-13 18:00] BlackReper086 commented on #58
Документ сохранил на [Google Drive](https://drive.google.com/open?id=1_0wGJbMO4SctmNRMTFkDYaOhgvOVKfpT8hklMQCNxEg). Требуется проверка.

[2020-03-13 18:41] MaJishpro commented on #132
Добавил пример сценария.
https://drive.google.com/file/d/1UxsDcVl95DzXizePlJF8Ji7CrqDzVyl3/view?usp=sharing

[2020-03-14 08:01] Progoger commented on #86
Написал метод WorkWithLetters
Постарался в комментариях объяснить все нюансы

[2020-03-14 11:02] avilova opened #134 "Покрыть код файла Test из ветки 18-VTbo-B-Itog Unit-тестами"
Покрытие 50% и более кода тестами. Написать отчет о выявленных проблемах и багах в тестировании.

[2020-03-14 12:34] vvtatyana commented on #41
[Сценарий лабораторной работы](https://docs.google.com/document/d/1HwiwtyuUKBC38tDCYTeOGleCW8atKlELT9Ipd4pJCBo/edit)

[2020-03-14 17:10] Svyat935 commented on #5
Задача продлена на третий спринт.

[2020-03-14 17:12] Svyat935 commented on #117
@Sirokko77 назначается исправить данный баг.

[2020-03-14 17:15] Svyat935 commented on #11
Задача закрыта в связи с её выполнением.

[2020-03-14 17:16] Svyat935 commented on #54
Задача выполнена.

[2020-03-14 17:16] #54 closed

[2020-03-14 17:30] Kruuliter commented on #94
код сделан
куда заливать?

[2020-03-14 17:57] Svyat935 commented on #136
Задача выполнена.

[2020-03-14 21:11] Tyson44-rus commented on #114
[https://o7planning.org/ru/11583/installing-and-configuring-tomcat-server](Развертка приложения на сервере с помощью TomCat Server)

[2020-03-15 08:00] #112 closed

[2020-03-15 09:54] Progoger commented on #87
Добавил парсинг, пока только одного файла, если всё в порядке продолжаю работу

[2020-03-15 09:57] Progoger commented on #87
Проверял парсинг на файлах по этим ссылкам:
https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/blob/Base/Server/HTTPReq.py
https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/blob/Base/.gitignore

[2020-03-15 12:23] Kruuliter commented on #94
задание сделано

[2020-03-15 16:43] SkinnerX7 commented on #107
Написал серверный и клиентский модули
Ветка issue-107

[2020-03-15 19:56] VladmirV commented on #24
Задача выполнена.

[2020-03-15 21:14] urec-programmec commented on #86
Принят pull request
Задача закрывается

[2020-03-15 22:29] urec-programmec commented on #24
Принял pull request
Задачу закрываю

[2020-03-15 22:35] urec-programmec commented on #90
Принял pull request
Задача закрывается

[2020-03-15 22:47] urec-programmec commented on #96
Задание проверено. Выявлены следующие непонимания:

- Как будет производиться работа с этим классом. Планируется, что этот класс будет использоваться для формирования тел ответа и будет удобным хранилищем

- Задание звучит как "класс, в котором поля являются написанными шаблонами писем"
Я бы ожидал абстрактный класс LetterPattern с полями "Theme", "Body", "Code" и "ForTeacher"
К нему ожидал бы нес

[2020-03-15 23:06] urec-programmec commented on #58
Задача решена верно.
Разработанная структура является стандартом логов в нашей части проекта

[2020-03-15 23:39] urec-programmec commented on #94
Задание проверил
Метод не соответствует требуемому в описании к задаче
Дальше:
- Изучить [диаграмму](https://app.diagrams.net/#G1uBk9EZCwKGp3pa4MURUgB9tz5a2x9DN_), оттуда взять функционал работы модуля
- Изучить пример такой же задачи у команды Base как пример хорошей реализации (Base -> BaseFunctions -> WorkWithLetters.py)

[2020-03-16 11:38] YuriSilenok commented on #120
@urec-programmec мы не договривались на разработку вариантов, а договаривались на разработку ТЗ. Разработкой вариантов занимаются группы ВТ. Пересмотри границу того, что будет делать твоя команда.

[2020-03-16 17:34] VladmirV commented on #116
Создание ветки "issue-116".

[2020-03-16 17:35] VladmirV commented on #116
Добавление первичного скрипта с неполным функционалом.

[2020-03-16 19:07] cyberAndrey commented on #88
Работа готова к проверке. Результаты залил в ветку 88

[2020-03-16 19:41] VladmirV commented on #116
Задержка pull request.
Причины:
1. Трудность с поиском информации о парсинге "Body" писем.
2. Морально-психологическая надорванность, вызванная ложной информацией о закрытии учебного заведения на карантин.

[2020-03-16 20:17] HozookiSan commented on #61
[Вариант_5](https://github.com/HozookiSan/Nusha.git)

[2020-03-16 21:21] HozookiSan commented on #61
[Вариант_6](https://github.com/HozookiSan/Pin.git)

[2020-03-16 21:43] HozookiSan commented on #61
[Вариант_7](https://github.com/HozookiSan/Sovunya.git)

[2020-03-16 22:06] HozookiSan commented on #61
[Вариант_8](https://github.com/HozookiSan/Pandi.git)

[2020-03-16 22:17] HozookiSan commented on #61
[Вариант_9](https://github.com/HozookiSan/Kar-Karych.git)

[2020-03-17 06:28] BlackReper086 commented on #58
Добавить данные в Info.

[2020-03-17 07:13] CatherinePRO commented on #106
Реализован метод поиска названия листа по группе студента

[2020-03-17 07:14] CatherinePRO commented on #106
Добавлен метод поиска номера строки по ФИО студента в журнале

[2020-03-17 07:14] CatherinePRO commented on #106
Добавлен метод поиска столбца по id лаб.работы

[2020-03-17 07:21] CatherinePRO commented on #106
Реализован метод заполнения ячейки для выставления оценок

[2020-03-17 13:52] CatherinePRO commented on #106
классы рабочие, но требуют доработок по ТЗ. Текущее состояние описано внутри класса Sheet

[2020-03-17 13:54] CatherinePRO commented on #106
Кто-то угнал файлы по 23 таску из ветки гугл. Заливаю повторно

[2020-03-17 18:41] Svyat935 commented on #115
@ShapovalovQ  Как состояние задачи ?

[2020-03-17 18:41] Svyat935 commented on #117
Баг исправлен.

[2020-03-17 18:41] #117 closed

[2020-03-17 18:42] Svyat935 commented on #130
@0Meridian0 Как состояние задачи ?

[2020-03-17 18:42] Svyat935 commented on #131
@0Meridian0 Как состояние задачи ?

[2020-03-17 18:43] Svyat935 commented on #137
@Sirokko77 Как состояние задачи ?

[2020-03-17 18:49] Svyat935 commented on #132
Задача выполнена

[2020-03-17 18:49] #132 closed

[2020-03-17 18:52] Svyat935 commented on #5
@MaXL2000 Состояние задачи ?

[2020-03-17 20:10] 0Meridian0 commented on #130
@Svyat935 В поиске информации. Ср-Чт точно будет готова

[2020-03-17 20:10] 0Meridian0 commented on #131
@Svyat935 В поиске информации. Ср-Чт точно будет готова

[2020-03-17 20:17] 0Meridian0 commented on #131
@Svyat935 если я хочу изменить структуру проекта, то мне надо новую задачу писать?

[2020-03-17 20:21] 0Meridian0 opened #148 "Реализовать верную структуру проекта"
Убрать ошибки запуска APIgoogle.py с помощью правильной структуры Python кода

[2020-03-17 20:33] None-stopCoding commented on #1
Задача не имеет смысл, так как создавалась в начале проекта, когда не было полного понимание, что делаем

[2020-03-17 20:46] Sirokko77 commented on #137
Задача в процессе, диаграмма почти закончена

[2020-03-17 20:55] None-stopCoding commented on #3
Разрабы опрошены - пункт 2 выполнен. Пункт 3 - не имеет смысла (при создании не обговорили необходимость)

[2020-03-18 08:01] MaXL2000 commented on #5
Выполняется

[2020-03-18 11:06] DanilKozlov00 commented on #61
[Тесты](https://docs.google.com/document/d/1MdNoKPLF1NMY_PTO67v4EvTaC3JS6Zzc/edit)

[2020-03-18 13:28] DanilKozlov00 opened #153 "Объединить Selenium с сервером"
Создать единый код обеспечивающий работу обоих классов, настроить файл moc

[2020-03-18 15:35] 0Meridian0 commented on #131
@Svyat935 можно ли сделать ссылку в роде [этой](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/131), но в gmail. я не нахожу таких функций. Либо мне надо просто изменить ссылки на доступные только людям имеющим эту ссылку?

[2020-03-18 16:19] ShapovalovQ commented on #115
В процессе

[2020-03-18 18:31] None-stopCoding opened #156 "Юнит тесты методов tcp-сервера"
# Срок сдачи: 01.04.20| Задача просрочена (3 дня)
## Задачи разработки: #44
### Epic: #209
_Пояснения_: нет

[2020-03-18 18:43] #131 closed

[2020-03-18 18:43] #148 closed

[2020-03-18 18:53] Sirokko77 commented on #137
Задача выполнена [Посмотреть тут](https://drive.google.com/file/d/1vP5poMqukWCco8qLhCVHXQfLySdUPErT/view?usp=sharing)

[2020-03-18 19:25] None-stopCoding commented on #21
Текущий прогресс по задаче:
1. @SlenderWoker решает все 15 задачек по паттерну Стратегия (разные реализации)
2. @None-stopCoding создает набор проверок (шаблон) для программного кода лабы

[2020-03-18 19:32] None-stopCoding opened #159 "Функциональное тестирование сервера"
# Срок сдачи: 21.04.20
## Задачи разработки: #44 #45 #46 #47 #48 #194 #195
### Epic: #209
_Пояснения_: не требуются

[2020-03-19 07:40] ShapovalovQ commented on #115
Сделал [документацию](https://docs.google.com/document/d/1dWNlsbyRJFYibmpcPZ5xLk5pPMggd24E4CzrP3LijgU/edit?usp=sharing). Прошу проверить.

[2020-03-19 12:40] #153 closed

[2020-03-19 16:27] Svyat935 commented on #115
Задача выполнена

[2020-03-19 16:28] MoL4okkk opened #162 "Метод содержит код, делающий невозможным тестирование"
Метод search_email в файле APIgoogle содержит строки, предназначенные для файлов конфигурации:

![image](https://user-images.githubusercontent.com/55210615/77089135-7b60fd00-6a16-11ea-86a2-b886ed55ec88.png)

Ожидаемый результат:  в методе будут использоваться переменные, хранящиеся в файле config.py.

[2020-03-19 16:56] 0Meridian0 commented on #130
SCOPES = ['https://www.googleapis.com/auth/gmail.readonly','https://www.googleapis.com/auth/gmail.send', 'https://www.googleapis.com/auth/gmail.labels', 'https://www.googleapis.com/auth/gmail.modify']
не сработало, попробую дать полный доступ

[2020-03-19 17:06] 0Meridian0 commented on #130
SCOPES = ['https://mail.google.com/']
не сработало, попробую дать область metadata(Читайте метаданные ресурсов, включая метки, записи истории и заголовки сообщений электронной почты, но не тело сообщения или вложения.)

[2020-03-19 17:37] 0Meridian0 commented on #130
SCOPES = ['https://www.googleapis.com/auth/gmail.readonly','https://www.googleapis.com/auth/gmail.send', 'https://www.googleapis.com/auth/gmail.labels', 'https://www.googleapis.com/auth/gmail.modify', 'https://www.googleapis.com/auth/gmail.metadata']
программа получила ошибку доступа раньше чем мы обратились к ярлыкам, значит последняя область мешает работе
попробуем убрать "ограниченные области"

[2020-03-19 17:54] 0Meridian0 commented on #130
SCOPES = ['https://www.googleapis.com/auth/gmail.readonly','https://www.googleapis.com/auth/gmail.send', 'https://www.googleapis.com/auth/gmail.labels']
Ошибка выпадает в том же месте(при попытке сменить ярлык)

[2020-03-19 18:44] MoL4okkk opened #165 "Метод содержит строку, предназначенную для файла конфигурации"
Метод get_service в файле APIgoogle.py содержит строку, предназначенную для файлов конфигурации:

![image](https://user-images.githubusercontent.com/55210615/77102947-b40ad180-6a2a-11ea-9fe9-07e1ba7516d7.png)

Ожидаемый результат: будут использоваться переменные, хранящиеся в файле config.py

[2020-03-20 08:06] #134 closed

[2020-03-20 19:29] #48 closed

[2020-03-20 21:39] urec-programmec commented on #107
Pull reqest принят
Задача закрывается

[2020-03-20 21:39] urec-programmec commented on #108
Epic закрыт

[2020-03-20 21:39] #108 closed

[2020-03-20 21:39] urec-programmec commented on #109
Epic закрыт

[2020-03-20 21:50] urec-programmec commented on #120
@YuriSilenok это задача не на каждый из вариантов в отдельности, а на общие задания для каждой ЛР, которые соответствуют курсу "ТРПО"

[2020-03-21 00:56] urec-programmec commented on #116
Информацию принял.
Вакцины нет, но вы держитесь.

До встречи на у д а л ё н к е

[2020-03-21 08:57] nekislev commented on #16
https://docs.google.com/document/d/1wdzsv4y-gV9yEhMEU-ldf8_9o023fY9vsq1xILDyeio/edit

[2020-03-21 09:06] None-stopCoding commented on #16
Нужно то, что нам пришлют с почтового сервиса по паттерну Стратегия.
Это устаревший документ и составлялся, когда еще не было понимания, как все должно работать.

[2020-03-21 13:17] nekislev commented on #16
https://docs.google.com/document/d/1UWPYAc9Qqtg3XbEyg5CfDk6F5vaSsirt08Jx3DZSYD4/edit

[2020-03-22 08:29] Progoger commented on #87
Сделал открытие папок и файлов репозитория. Теперь все конечные файлы в папках и самом репозитории парсятся. Сделал чуть более понятную структуру, добавив вначале текста каждого файла его название

[2020-03-22 10:33] Progoger commented on #176
Добавлены поиск файлов в репозитории и во всех папках репозитория
Запись текста файлов в один файл txt

[2020-03-22 11:15] #106 closed

[2020-03-22 17:40] VladmirV commented on #116
Проблема с декодированием решена. Возникли новые проблемы:
1. Лишние дублирования писем.
2. Ошибки при попытке декодировать письмо с вложениями.
Проводится работа по устранению ошибок.

[2020-03-23 07:33] YuriSilenok commented on #120
Привет @urec-programmec

Этим занимаются группы ВТ, изготовлением общего задания и вариантов к ним.

Спасибо,
Юрий

[2020-03-23 07:36] YuriSilenok commented on #5
Судя по истории этой задаче, я закрыл эту задачи.
Это было обоснованно?

[2020-03-23 15:10] VladmirV commented on #116
@urec-programmec
На текущий момент загружена промежуточная версия. Работа приостановлена до внесения правок в классы Letter и User. Есть несколько оптимизационных вопросов, которые необходимо будет обсудить при личной встрече.

[2020-03-23 17:13] Svyat935 commented on #5
Да, валидация была выполнена.
Почему закрыли именно вы - так как просто навсего её забыли закрыть.

[2020-03-23 17:29] AlbertShabrov commented on #45
#126 Решил две задачи в одной ветке feature/44, признаю ошибку, в будущем такого не повторится.

[2020-03-23 18:49] urec-programmec commented on #87
Принял pull request
Задача закрывается

[2020-03-23 18:49] #87 closed

[2020-03-23 19:21] urec-programmec opened #187 "Шаблон для в письме есть вложение"
В системе появилось новое состояние письма. Оно связано тем, что если в письме есть вложения, для системы это ошибочное состояние

Нужно
- Сформировать шаблон ответного письма

Предусмотреть
- Код для этого состояния уже назначен. Документация [здесь](https://docs.google.com/spreadsheets/d/1o6pLF4PXGc6h6X7q4epYjuzTCzZmDobuR0on4av4wO4/edit#gid=1847888026)

Результат - дополненная документация

[2020-03-23 19:48] urec-programmec opened #188 "Исправить метод валидации"
Структура писем (и лабораторных) немного изменилась
У каждой лабораторной появилось 15 вариантов, вариант присылается в теме письма

В связи с этим:
- Изменить метод валидации писем, который учитывает и проверяет письма по новым требованиям, с изменёнными  кодами ошибок
- На основе всех неструктурированных данных папки Validation написать один модуль с единственной функцией ValidateLetters(letters

[2020-03-23 20:43] AnastasiVokhmyanina28 commented on #172
https://docs.google.com/document/d/1QJxrZKpf69n_SEcLJ-Ni6uKhueuDTLZHdZCGMwyDBZ8/edit

[2020-03-24 02:17] urec-programmec commented on #176
Pull request принял
Задача закрывается

[2020-03-24 02:18] urec-programmec commented on #178
Pull request принял
Задача закрывается

[2020-03-24 02:57] urec-programmec commented on #88
Задача потеряла актуальность

[2020-03-24 02:57] #88 closed

[2020-03-24 06:41] YuriSilenok commented on #120
делегировано на ВТ

[2020-03-24 06:41] #120 closed

[2020-03-24 14:56] 0Meridian0 commented on #170
задача закрыта по причине реорганизации

[2020-03-24 15:04] Svyat935 commented on #137
Задача выполнена.

[2020-03-24 20:53] leshastern commented on #159
Текущий прогресс по задаче тут: [Ссылка](https://docs.google.com/spreadsheets/d/1lbYraedf03kPdlvMH0Iv_QTpAkXsVawn03gtBDR1ngo/edit?usp=sharing)

[2020-03-25 05:51] None-stopCoding opened #194 "Продумать безопасное отключение сервера по запросу"
## Due:
### Commet: Прописать delete выделенный памяти в main

[2020-03-25 06:53] None-stopCoding opened #195 "Переписать метод передачи данных клиенту"
# Срок сдачи: 17.04.20
### Epic: #2
_Пояснения_: метод должен отдавать данные в определенном формате, могут возникнуть проблемы и должна быть возможность известить клиента об ошибке

Предполагаемый формат отдаваемых данных (с типами):
`{
    grade: bool | null
    errorSystem: bool | null
    mistakeDescription: string | null
}`

grade -  (оценка за лабу)
errorSystem - true - системная ошибка, fal

[2020-03-25 10:58] None-stopCoding commented on #21
[Шаблон собственной персоной](https://docs.google.com/document/d/1VMtT235kwXve-s164ntW3EsJjV1_KUOcKixMAYj8iUM/edit?usp=sharing)

[2020-03-25 15:53] Svyat935 opened #199 "Реализация кода для запуска программы в виде службы на Ubuntu"
Реализовать метод, который будет запускать программу в виде службы. Предусмотреть запуск на Ubuntu.
Продолжение задачи #115

[2020-03-25 18:14] MoL4okkk opened #200 "Ошибка в логировании"
Правильно логируются лишь методы, не принимающие входных параметров; в случае, если метод имеет один или более входных параметров, возникает ошибка:

![image](https://user-images.githubusercontent.com/55210615/77570757-5ae4e700-6edd-11ea-9818-fb3c12b79b63.png)

[2020-03-25 19:07] MoL4okkk commented on #200
Баг исправлен

[2020-03-25 19:07] #200 closed

[2020-03-26 14:43] MoL4okkk opened #202 "Ошибка в методе url_cheack"
Метод получения ссылки на лабораторную из письма студента работает некорректно: ссылка не возвращается, если после неё идут пробелы.

[2020-03-26 14:47] MoL4okkk opened #203 "Ошибка в регистре"
Ошибка в регистре в методе отправления письма студенту:

![image](https://user-images.githubusercontent.com/55210615/77659958-c84e5180-6f89-11ea-9135-8b3ae154f4da.png)

Ожидаемый результат: Subject с заглавной буквы.

[2020-03-26 18:35] MaXL2000 commented on #204
задача уже была поставлена

[2020-03-26 19:16] 0Meridian0 commented on #203
ошибка была исправлена в [ветке 171](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/tree/issue-171)

[2020-03-26 19:18] 0Meridian0 commented on #165
проблемы не будет, если есть токен

[2020-03-26 19:31] MoL4okkk commented on #10
Были разработаны модульные тесты для получения, валидации и отправления писем, получения доступа к аккаунту, выставления оценки. Тесты на поиск email не были реализованы, так как в методе содержатся ошибки, не позволяющие тестировать метод отдельно. Тесты на отправление работы на проверку также не были реализованы

[2020-03-26 19:52] None-stopCoding opened #208 "Создать файл конфига"
# Срок сдачи: 13.04.20
### Epic: #210
_Пояснения_: конфиг должен быть в xml формате, там будет инфа на каждый вариант лабы  (обговорить с тех писателем над ограничениями по лабе)

[2020-03-26 19:58] None-stopCoding opened #209 "Покрыть код Unit тестами"
# Срок сдачи: не определен
_Пояснения_: итак все понятно

[2020-03-26 19:59] None-stopCoding opened #210 "Реализовать проверку лаб по паттерну Стратегия"
# Срок сдачи: не определен
_Пояснения_: итак все понятно

[2020-03-26 20:01] None-stopCoding opened #211 "Написать документацию по проекту"
# Срок сдачи: не определен
_Пояснения_: итак все понятно

[2020-03-26 20:11] None-stopCoding opened #212 "Внести правки по конфигу"
# Срок сдачи: 03.04.20|  Задача просрочена (5 дней)
### Epic: #210
_Пояснения_: после обсуждения с Юрием Викторовичем

[2020-03-26 20:14] MoL4okkk commented on #203
Исправлено

[2020-03-26 20:14] #203 closed

[2020-03-26 20:17] None-stopCoding opened #213 "Создать класс для проверки лабы"
# Срок сдачи: 31.03.20
### Epic: #210
_Пояснения_: речь идет про класс, который будет костяком проверки лаб по паттерну Стратегия

[2020-03-26 20:21] None-stopCoding opened #214 "Прописать функционал проверки кода по конфигу"
# Срок сдачи: 03.04.20
### Epic: #210
_Пояснения_: нет

[2020-03-26 20:23] None-stopCoding opened #215 "Интегрировать систему проверки в сервер"
# Срок сдачи: 03.04.20
### Epic: #210
_Пояснения_: та самая система, которая проверяет лабы по паттерну Стратегия

[2020-03-26 20:25] None-stopCoding opened #216 "Создать класс для функционала"
# Срок сдачи: 02.04.20| Задача просрочена (2 день)
### Epic: #210
_Пояснения_: В рамках написания функционала получения листинга программного кода по ссылке Github

[2020-03-26 20:26] None-stopCoding opened #217 "Написать функционал получения данных с Github"
# Срок сдачи: 14.04.20
### Epic: #210
_Пояснения_: В рамках реализации задачи написания функционала получения листинга программного кода по ссылке Github

[2020-03-26 20:29] None-stopCoding opened #218 "Вытащить из файла .cpp строку кода"
# Срок сдачи:24.04.20
### Epic: #210
_Пояснения_: работаем с Github API

[2020-03-26 20:34] None-stopCoding opened #219 "Интегрировать систему получения листинга в сервер"
# Срок сдачи: 17.04.20
### Epic: #210
_Пояснения_: (или в класс проверки лабы - подумать) речь про систему получения листинга кода с Github

[2020-03-26 20:36] None-stopCoding opened #220 "Исследовать возможность построения отчетов в QT Creator"
# Срок сдачи: 01.04.20
### Epic: #209
_Пояснения_: построение отчетов по покрытию кода Unit тестами (и предложить сервис/ПО с помощью которого можно это будет сделать, если в QT Creator нельзя)

[2020-03-26 20:45] None-stopCoding opened #221 "Написать Unit тесты по функционалу"
# Срок сдачи: 07.04.20
## Задачи разработки: #213 #214 #215
### Epic: #209
_Пояснения_: тесты на методы класса проверки лаб по паттерну Стратегия

[2020-03-26 20:47] None-stopCoding opened #222 "Написать Unit тесты по функционалу"
# Срок сдачи: 07.04.20
## Задачи разработки: #216 #217 #218 #219
### Epic: #209
_Пояснения_: речь про методы класса получения листинга программного кода по ссылке Github

[2020-03-26 20:58] None-stopCoding opened #227 "Написать документацию (сервер, проверка лаб)"
# Срок сдачи: 24.04.20
### Epic: #211
_Пояснения_: документация по формату общения сервера с классом проверки лаб по паттерну Стратегия
[Документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Общение-сервера-с-классом-проверки-лаб-по-паттерну-Стратегия)

[2020-03-26 21:01] None-stopCoding opened #228 "Написать документацию (проверка лаб, github)"
# Срок сдачи: 27.04.20
### Epic: #211
_Пояснения_: документация по формату общения класса проверки лаб по паттерну Стратегия с классом получения данных с гитхаба

 Задача не соответствует дейсвительности, общения класса проверки лаб с тем классом, что получает листинг, не существует, заместо этого сделана документация по общению сервером с классом получения листинга с гитхаба. [Документация](https

[2020-03-27 05:06] Sirokko77 commented on #198
Задача была выполнена, проверьте

[2020-03-27 08:26] 0Meridian0 opened #232 "Исправить ошибку в методах send..."
сделать проверку на пустой словарь

[2020-03-29 15:53] BlackReper086 commented on #191
Шаблон написан.

[2020-03-29 16:03] BlackReper086 commented on #186
Документ исправлен. Добавление шаблона не требуется.

[2020-03-29 16:15] BlackReper086 commented on #187
Добавил шаблон при отсутствии ссылок. Изменен шаблон при отсутствии вложений на при наличии вложений.

[2020-03-30 15:15] AnastasiVokhmyanina28 commented on #13
ссылка заменена

[2020-03-30 15:19] AnastasiVokhmyanina28 commented on #14
данная задача была поставлена , когда не было полного понимания того, что нужно было сделать. на данный момент является не актуальной. похожая задача реализуется здесь: #214

[2020-03-31 12:26] 0Meridian0 commented on #130
@Svyat935 случайно залил задачу вместе с другой. Архивация теперь работает, проверить код можно [здесь](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/235)

[2020-03-31 12:26] #130 closed

[2020-03-31 16:05] vvtatyana commented on #184
[Вариант 1](https://github.com/vvtatyana/Losiash.git)

[2020-03-31 16:10] vvtatyana commented on #184
[Вариант 1](https://github.com/vvtatyana/Losiash.git)

[2020-03-31 16:11] vvtatyana commented on #184
[Вариант 2](https://github.com/vvtatyana/Krosh.git)

[2020-03-31 16:11] vvtatyana commented on #184
[Вариант 3](https://github.com/vvtatyana/Yozhik.git)

[2020-03-31 16:12] vvtatyana commented on #184
[Вариант 4](https://github.com/vvtatyana/Barash.git)

[2020-03-31 21:17] leshastern commented on #220
Отчет об исследовании [здесь](https://docs.google.com/document/d/1xu_zbK7XQC9KfASiw0AqTOToW1cOOYQLF6LRceMvMkI/edit?usp=sharing).

[2020-03-31 21:17] #220 closed

[2020-04-01 06:09] AnastasiVokhmyanina28 opened #241 "Построение отчета по открытию модульными тестами."
# Срок сдачи: 24.04.20
Epic: #209
_Пояснения_: добавить ссылку на задачу с непрерывной интеграцией,

[2020-04-01 06:16] AnastasiVokhmyanina28 opened #242 "Исследовать возможности раздела Wiki Github."
# Срок сдачи: 28.04.20
###Epic: #211
_Пояснения_: Нужно найти информацию по этому разделу (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki), как с ним работать, приложить ссылки на эту информацию. Перенести все документы, созданные по задачам #226  #227  #228  #229.
 Туда, красиво и понятно все оформить.
Возможности раздела [Wiki](https://github.com/docops-hq/learnapidoc-r

[2020-04-01 18:25] #213 closed

[2020-04-03 06:29] VladmirV commented on #116
@urec-programmec
Возможно не успею к концу спринта.
Вышел на улицу в карантин, заразился аппендицитом.

[2020-04-04 18:08] #216 closed

[2020-04-05 13:18] #156 closed

[2020-04-06 12:20] SkinnerX7 commented on #178
Функционал:
    - Отправить письма на проверку в модули проверки писем от ВТ
    - Дождаться проверки каждого из писем
    - Сформировать список экземпляров классов LetterResults по каждому письму, расставить оценки и комментарии от ВТ
    На входе:
    - jsonDates - список с экземплярами json, с нужными данными в нужном формате
    На выходе:
    - None
    Что предусмотреть:
    - Будет синхронн

[2020-04-06 12:21] SkinnerX7 commented on #178
Добавление функционала на спринт 4

[2020-04-06 17:10] None-stopCoding commented on #157
Метод является приватным, их не покрываем юнит тестами.

[2020-04-06 17:43] Progoger commented on #175
Доработки системы
Сделал тестовый репозиторий: https://github.com/Progoger/TasksForStudents
Иерархия папок такова:
1)Группа
2)Студенты
3)Лабораторная работа №
4) Все файлы по данной лабораторке
Вроде бы учёл всё, что требовалось

[2020-04-06 17:44] Progoger commented on #175
Добавил папку CommonClasses в папку Parsing, так как пока не нашёл, как относительно импортить файлы, так что для относительности пошёл на такие меры

[2020-04-06 20:50] urec-programmec commented on #175
Проверим завтра на демке

[2020-04-06 20:53] urec-programmec commented on #191
Задача принята

[2020-04-06 20:54] urec-programmec commented on #187
Задача принята

[2020-04-06 20:54] #187 closed

[2020-04-06 20:55] urec-programmec commented on #186
Задача принята

[2020-04-07 16:53] urec-programmec commented on #85
Неактуально

[2020-04-07 16:53] #85 closed

[2020-04-09 08:20] urec-programmec commented on #77
Закрыто за потерей актуальности

[2020-04-09 08:20] #77 closed

[2020-04-09 08:20] urec-programmec commented on #75
Закрыто за потерей актуальности

[2020-04-09 08:20] #75 closed

[2020-04-09 08:20] urec-programmec commented on #74
Закрыто за потерей актуальности

[2020-04-09 08:20] #74 closed

[2020-04-09 08:20] urec-programmec commented on #73
Закрыто за потерей актуальности

[2020-04-09 08:20] #73 closed

[2020-04-09 08:21] urec-programmec commented on #72
Закрыто за потерей актуальности

[2020-04-09 08:21] urec-programmec commented on #71
Закрыто за потерей актуальности

[2020-04-09 08:21] urec-programmec commented on #70
Закрыто за потерей актуальности

[2020-04-09 08:21] #70 closed

[2020-04-09 08:21] urec-programmec commented on #27
Закрыто за потерей актуальности

[2020-04-09 08:22] urec-programmec commented on #25
Закрыто за потерей актуальности

[2020-04-09 10:01] urec-programmec commented on #177
Закрыто, т.к. закрыт pr

[2020-04-09 10:01] urec-programmec commented on #175
Закрыто, т.к. закрыт pr

[2020-04-09 10:02] urec-programmec commented on #178
Закрыто, т.к. задача относится к новой стадии работы

[2020-04-09 10:05] urec-programmec commented on #196
Закрыто, т.к. происходит чистка задач, задача не актуальна

[2020-04-09 11:39] urec-programmec commented on #116
Задача закрывается за потерей актуальности

[2020-04-09 11:39] #116 closed

[2020-04-09 11:42] urec-programmec commented on #188
Задача закрывается за потерей актуальности
Но ссылки на неё считать актуальными

[2020-04-09 11:42] #188 closed

[2020-04-09 12:10] #202 closed

[2020-04-09 12:10] MaXL2000 commented on #202
завершено

[2020-04-09 17:02] AnastasiVokhmyanina28 commented on #212
несоответствие целям спринта

[2020-04-09 17:02] #212 closed

[2020-04-09 17:56] MaJishpro commented on #264
Залил код

[2020-04-09 20:54] Svyat935 commented on #198
Задача переоткрыта для продолжение реализации.

[2020-04-09 23:11] Svyat935 commented on #264
Задача была выполнена

[2020-04-10 05:58] Svyat935 commented on #198
Задача выполнена.

[2020-04-10 05:58] #232 closed

[2020-04-10 12:45] cyberAndrey commented on #260
Изменил правила написания [писем](https://docs.google.com/document/d/1YMtlwsImBzR1ONhY6hH0VZnonpRmHM9UZ0glsG8sMLA/edit#)
Но тема остается открытой

[2020-04-10 17:55] urec-programmec commented on #93
Задача закрыта за потерей актуальности

[2020-04-10 17:56] urec-programmec commented on #94
Задача закрыта за потерей актуальности

[2020-04-10 17:56] urec-programmec commented on #34
Задача переделана

[2020-04-10 18:00] urec-programmec commented on #97
Задача переделана.

[2020-04-12 08:31] #208 closed

[2020-04-12 09:28] MaJishpro opened #275 "Исправить имеющиеся баги."
Исправить имеющиеся баги:
- #162
-  #165

[2020-04-12 12:22] AnastasiVokhmyanina28 opened #277 "Доработка unit-тестов методов tcp сервера"
# Срок сдачи: 17.04.20
### Epic: #209
_Пояснения_:

[2020-04-12 12:40] AnastasiVokhmyanina28 commented on #158
тесты методов отправки ответа почтовому серверу уже содержаться в тестах методов tcp-сервера и закрой

[2020-04-12 13:26] AnastasiVokhmyanina28 opened #278 "Разобраться с кодировкой в проекте"

[2020-04-12 13:31] AnastasiVokhmyanina28 opened #279 "Разработать систему логирования в проекте"

[2020-04-12 17:27] vvtatyana commented on #184
[Вариант 5](https://github.com/vvtatyana/Nusha.git)

[2020-04-12 17:28] vvtatyana commented on #184
[Вариант 6](https://github.com/vvtatyana/Pin.git)

[2020-04-12 17:28] vvtatyana commented on #184
[Вариант 7](https://github.com/vvtatyana/Sovunya.git)

[2020-04-12 17:29] vvtatyana commented on #184
[Вариант 8](https://github.com/vvtatyana/Pandi.git)

[2020-04-12 17:30] vvtatyana commented on #184
[Вариант 9](https://github.com/vvtatyana/Kar-Karych.git)

[2020-04-12 17:30] vvtatyana commented on #184
[Вариант 10](https://github.com/vvtatyana/Kopatych.git)

[2020-04-12 18:55] vvtatyana commented on #184
[Вариант 11](https://github.com/vvtatyana/Bibi.git)

[2020-04-12 18:55] vvtatyana commented on #184
[Вариант 12](https://github.com/vvtatyana/Mysharik.git)

[2020-04-12 18:56] vvtatyana commented on #184
[Вариант 13](https://github.com/vvtatyana/Mulya.git)

[2020-04-12 18:57] vvtatyana commented on #184
[Вариант 14](https://github.com/vvtatyana/Zheleznaya_Nyanya.git)

[2020-04-12 18:58] vvtatyana commented on #184
[Вариант 15](https://github.com/vvtatyana/Tigritsiya.git)

[2020-04-13 09:30] MoL4okkk opened #284 "Обеспечить Unit-тестирование метода поиска группы и ФИО по email"
Написать автотесты для метода search_group (файл APIgoogle).

[2020-04-13 09:30] MoL4okkk opened #285 "Обеспечить Unit-тестирование метода поиска ячейки в таблице"
Написать автотесты для метода search_tablic (файл APIgoogle).

[2020-04-13 10:13] Progoger commented on #254
Доделал функцию LettersConvertToString.
Проверил на пробном репозитории: https://github.com/Progoger/TasksForStudents
В репозитории изменена структура на ту, которую обсудили с Серёжей.
Следовательно доработал метод под неё, сделал возврат писем с вытащенными мною данными.

[2020-04-13 10:40] cyberAndrey commented on #260
Сделал пул реквест с гтовой работой в ветку base

[2020-04-13 16:16] Sirokko77 opened #290 "Переписать клиент для общения с сервером"
Изменение client.py на основе новой спецификации.

- [x] Настроить сокеты
- [x] Реализовать отправку данных серверу по спеке
- [x] Написать отказоустойчивую обработку ответа сервера
- [x] Разработать формат передачи данных между клиентом и сервисом (точка входа main.py)

[2020-04-13 23:03] CatherinePRO commented on #259
Мужчина, какие вообще письма... Вы о чем?

[2020-04-13 23:05] CatherinePRO commented on #259
"""
    Функционал:
    - Проверить зарегистрированность каждого пользователя в системе по email - реализовано
    На входе:
    - Список писем??? нет у меня его, есть email
    На выходе:
    - Расставленное поле 'isRegistered' в каждом письме в поле 'User'
   !!!! Нет у меня писем!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-04-13 23:06] CatherinePRO commented on #259
Есть Функция на входе EMAIL, на выходе ФИО или FALSE

[2020-04-13 23:06] CatherinePRO commented on #259
со списком писем не ко мне!

[2020-04-13 23:09] CatherinePRO commented on #261
def SetMarks(letterResults):
    """
     Функционал:
    - Выставить необходимые оценки в журнал - ФУНКЦИЯ РЕАЛИЗОВАНА
    На входе: !!!НЕТ У МЕНЯ ПИСЕМ
    - letterResults - заполненный и проверенный список писем - экземпляров класса LetterResults

[2020-04-14 06:35] urec-programmec commented on #96
Закрыто по причине потери актуальности

[2020-04-14 06:35] #96 closed

[2020-04-14 06:35] urec-programmec commented on #91
Закрыто по причине потери актуальности

[2020-04-14 06:36] urec-programmec commented on #179
Задача принята и закрыта

[2020-04-14 11:34] AlbertShabrov commented on #282
Проверили на правильность парсинга json строки и пришли к выводу, что проблема была ни в неправильном парсинге а в неправильной передаче данных. Отправляли следующие данные {"data": "content", "labNumber": "7"}, при парсинге labNumber считал "7" как строку, поэтому и выводил заранее инициализированный 0 после того, как отрабатывал метод. Необходимо было отправлять данные следующим образом send {"d

[2020-04-14 13:09] Llouqs opened #292 "Реализовать функцию проверки наличия в репозитории Wiki согласно сценарию"

[2020-04-14 13:26] Llouqs opened #293 "Исправить баг в функции Check_Issues()"

[2020-04-14 14:29] Llouqs commented on #292
#296

[2020-04-14 22:34] Dudka567 opened #299 "Сделать тесты для сервера"

[2020-04-14 22:39] #299 closed

[2020-04-14 22:39] Dudka567 commented on #299
Тесты сделал, все работает.

[2020-04-15 09:19] Svyat935 commented on #162
Исправлено.

[2020-04-15 09:19] #162 closed

[2020-04-15 09:19] Svyat935 commented on #165
Исправлено.

[2020-04-15 09:19] #165 closed

[2020-04-15 09:19] Svyat935 commented on #275
Выполнено.

[2020-04-15 09:19] #275 closed

[2020-04-15 09:29] DanilKozlov00 commented on #293
Исправить баг со ссылками на задачи, сделать оптимальный xpath

[2020-04-15 09:29] DanilKozlov00 commented on #293
#302

[2020-04-15 09:31] #293 closed

[2020-04-15 09:32] Llouqs commented on #292
#296

[2020-04-15 09:32] #292 closed

[2020-04-15 09:57] 0Meridian0 commented on #284
метод сделан проверить можно [здесь](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/blob/issue-234/email/18-ISbo-2a/Test_google.py)
название: test_search_group

[2020-04-15 16:10] MoL4okkk commented on #234
Реализованы методы, дешифрующие ранее зашифрованные .json файлы и ID используемых таблиц.
Метод дешифровки токенов не реализован, так как возникают проблемы при обращении к параметрам объекта Credentials.

[2020-04-16 14:14] 0Meridian0 opened #307 "Исправить метод search_group"
Метод ничего не возвращает, при почте которой нет в таблице

[2020-04-16 15:02] cyberAndrey opened #309 "Заполнение функционала. Global. Таймер"
Заменить существующие на настоящие момент заглушки в функциях первого релиза на реально требующийся функционал, описанный в комментариях к функциям

Файл:

    trpo_automation/email/18-ISbo-2b/global_Timer.py

Текущие функции:

    SetTimer()
    WaitForTimer()

Тестирование работы своей функциональности проводить самостоятельно, запуская релиз в работу

[2020-04-16 19:07] MaXL2000 commented on #285
удалось написать автотесты. Возникла проблема получения данных о покрытии кода автотестом.

[2020-04-16 20:17] avilova opened #314 "Настроить сервер на получение данных согласно протоколу и их обратную отправку"
[Протокол](https://docs.google.com/document/d/1ZmBVhi1C9-qt0iu5U3TLLPWadmDhe414nYaskIKHmPE/edit#heading=h.gzrywaomqvkt)

[2020-04-16 20:19] avilova opened #315 "Разработать сценарии тестирования протокола передачи данных в виде гугл таблицы"
[Протокол](https://docs.google.com/document/d/1ZmBVhi1C9-qt0iu5U3TLLPWadmDhe414nYaskIKHmPE/edit#heading=h.gzrywaomqvkt). В дальнейшем предоставить готовую таблицу тестировщику.
[Сценарий тестирования протокола передачи данных](https://docs.google.com/spreadsheets/d/173fcVRsMoGgEgocefV-_fLICh7-Jk9ukjcRUyW3-4ec/edit#gid=0)

[2020-04-16 20:20] MoL4okkk commented on #233
Был создан файл azure-pipeline.yml с настройками CI.

[2020-04-16 20:22] avilova opened #316 "Разработать сценарии тестирования лабораторной работы в виде гугл таблицы."
По итогу предоставить отчет о выполнении тестов, готовые сценарии,

[2020-04-16 20:23] avilova opened #317 "Настроить непрерывную интеграцию для ветки 18-VTbo-1b"

[2020-04-16 21:34] MoL4okkk opened #318 "Оценить процент покрытия кода"

[2020-04-16 21:35] MoL4okkk commented on #318
![image](https://user-images.githubusercontent.com/55210615/79508967-48288280-8043-11ea-8182-b1bb82caa42a.png)

[2020-04-16 21:35] #318 closed

[2020-04-16 22:28] Svyat935 commented on #273
Выполнено.

[2020-04-17 05:03] magnitola opened #319 "Добавить логи в APIgoogle.py"
Нужно добавить логи в новые методы search_tablic, search_group

[2020-04-17 05:04] magnitola commented on #319
ошибка, не то сделал

[2020-04-17 05:04] #319 closed

[2020-04-17 06:50] 0Meridian0 opened #321 "Правка методов под новую спецификацию"
Исправить методы в соответствии новой спецификации

[2020-04-17 14:53] Progoger opened #322 "Создание экземпляров класса Letter"
Доделать экземпляры писем после каждой из функций

Создать экземпляры класса Letter для тестирования системы.
- 10 экземпляров на вход;
-  1-2 экземпляра, прошедшие обработку после каждой функции, заданной глобально;

[2020-04-18 21:50] Svyat935 commented on #285
Задача выполнена

[2020-04-18 21:50] #285 closed

[2020-04-18 21:51] Svyat935 commented on #284
Задача выполнена.

[2020-04-18 21:51] #284 closed

[2020-04-18 21:53] Svyat935 commented on #234
Задача выполнена, проблемы дешифровки переходят в баг.

[2020-04-18 22:08] Svyat935 opened #324 "Не шифруется token.pickle"
**Описание**: модуль шифрования не шифрует token.pickle

**Ожидаемый результат**: token.pickle должен быть зашифрован.

[2020-04-18 22:12] Svyat935 opened #325 "Протестировать пре-релиз v.0.0.0.4"
Протестировать пре-релиз v.0.0.0.4 на все возможные пользовательские сценарии.
При возникновение отклонения от сценария постараться исправить

[2020-04-18 22:20] Svyat935 opened #326 "Реорганизация модуля шифровки."
Доработать шифровку таким образом, чтобы была возможность записать свои конфиги, и зашифровать их и расшифровать.

[2020-04-19 14:57] Progoger opened #327 "Unit-тесты для методов LetterConvertToString"
Проверить метод LetterConvertToString на работоспособность и правильность с помощью unit-тестов

[2020-04-19 15:00] Progoger opened #328 "Unit-тесты для метода SendJSONForCheck"
Написать unit-тесты для метода SendJSONForCheck, тем самым проверив его работоспособность и правильность.

[2020-04-20 07:54] None-stopCoding opened #335 "Авторизация на Github"
# Срок сдачи:  20.04.20
### Epic: #210
_Пояснения_: по макету

[2020-04-20 14:48] Tim-Shelll commented on #255
Изменил иерархию папок
Перенес все наработки на ветку Base

[2020-04-20 15:38] None-stopCoding commented on #335
Появилась проблема установки соединения с сервисом Github. Проблема в том, что файлы библиотеки OpenSSL в конфигурации QT приложения используются устаревшие. Сама же библиотека необходима, так как с Github идет соединения по протоколу TLS. Предположительно авторизация будет не нужна.

[2020-04-20 15:59] cyberAndrey commented on #309
Написал два варианта действия таймера
Ветка issue-309

[2020-04-20 16:07] VladmirV commented on #257
Начало выполнения.

[2020-04-20 16:16] VladmirV commented on #257
Добавлен функционал авторизации.

[2020-04-20 16:16] VladmirV commented on #257
Добавлено чтение писем.

[2020-04-20 16:21] VladmirV commented on #257
@urec-programmec
Завершаю выполнение.

[2020-04-20 17:12] VladmirV commented on #262
Начало выполнения.

[2020-04-20 17:12] VladmirV commented on #262
Добавлен функционал авторизации.

[2020-04-20 17:13] VladmirV commented on #262
Добавлена отправка сообщений.

[2020-04-20 17:24] #277 closed

[2020-04-20 17:31] VladmirV commented on #262
@urec-programmec
Завершаю выполнение.

[2020-04-20 18:49] None-stopCoding commented on #335
Объяснения по проблеме в Pull request-е. Либу качал [отсюда](https://www.filehorse.com/download-openssl-32/)

[2020-04-20 19:09] #195 closed

[2020-04-20 19:11] None-stopCoding opened #342 "Валидация данных json, пришедших с клиента"
# Срок сдачи: 21.04.20
### Epic: #210
_Пояснения_: реализация функционала Gateway

[2020-04-21 05:29] Progoger commented on #328
Написал один пробный unit-тесты, он лежит в ветке issue-328

[2020-04-21 06:59] #335 closed

[2020-04-21 13:38] Sergey-student commented on #242
[https://github.com/docops-hq/learnapidoc-ru/blob/master/Publishing-doc/Manage-wiki-content.md](url)

[2020-04-21 13:39] Sergey-student commented on #242
https://github.com/docops-hq/learnapidoc-ru/blob/master/Publishing-doc/Manage-wiki-content.md

[2020-04-21 15:33] None-stopCoding commented on #214
В связи с разработанным макетом (#350) задача неактуальна. Задача является слишком объемной, поэтому прогресс по задаче:
- #335 Решена проблема соединения с Github API
- #350 Разработана архитектура приложения
- #342 Начата реализация сервиса Gateway
- плюсом идут все Pull request-ы, прикрепленные к задаче

[2020-04-21 16:24] #342 closed

[2020-04-21 16:27] None-stopCoding opened #351 "Разработать систему reject Кодов"
# Срок сдачи: 24.04.20
### Epic: #210
_Пояснения_: Заполнить таблицу в спецификации

### Результат работы (на согласовании): Таблица reject-кодов на 6 странице [спецификации](https://docs.google.com/document/d/1ZmBVhi1C9-qt0iu5U3TLLPWadmDhe414nYaskIKHmPE/edit?usp=sharing)

[2020-04-21 16:29] None-stopCoding opened #353 "Сделать проверку на принимаемые значения"
# Срок сдачи: 28.04.20
### Epic: #210
_Пояснения_: Проверка формата запроса клиента

[2020-04-21 16:32] None-stopCoding opened #354 "Подключение xml конфига для проверки лаб"
# Срок сдачи: 25.04.20
### Epic: #210
_Пояснения_: подключение должно быть в конструкторе StartegyLab

[2020-04-21 16:33] None-stopCoding opened #355 "Достать строчку кода из .cpp файла решения"
# Срок сдачи:
### Epic:
_Пояснения_: С файла, который лежит в репозитории на Github (ссылка на репозиторий приходит с клиента)

[2020-04-21 16:36] None-stopCoding opened #356 "Обнаружить .cpp файл в репозитории"
# Срок сдачи: 24.04.20
### Epic:
_Пояснения_: Перед тем, как доставать данные из файла (#355), нужно убедиться, что в репозитории есть этот файл. Для этого написать функционал получения списка всех файлов в репозитории.

[2020-04-21 16:38] None-stopCoding opened #357 "Проверка присланного решения по конфигу answerStructure"
# Срок сдачи: 11.05.20
### Epic: #210
_Пояснения_: в классе StartegyLab, проверка в основном на количество классов/методов и их имена

[2020-04-21 16:40] None-stopCoding opened #358 "Разбить строчки кода из массива на классы"
# Срок сдачи:
### Epic:
_Пояснения_: Чтобы проверять классы на правильность, нужно понимать что из присланных строчек кода к какому классу относится. (StrategyLab)

[2020-04-21 16:41] None-stopCoding opened #359 "Подключить инициализацию объектов"
# Срок сдачи:
### Epic:
_Пояснения_: На сервере, согласно схеме, в конструкторе должны создаваться конструкторы  Functional и StrategyLab. Необходимо для оптимизации работы системы.

[2020-04-21 16:43] None-stopCoding opened #360 "Переписать слот отправки данных клиенту"
# Срок сдачи:
### Epic:
_Пояснения_: На сервере; Слот должен отправлять то, что ему прислали

[2020-04-21 16:44] None-stopCoding opened #361 "Переписать метод парсинга данных с клиента"
# Срок сдачи: 27.04.20
### Epic: #2
_Пояснения_: Сделать в соответствии со спекой и макетом

[2020-04-21 19:14] None-stopCoding commented on #355
дубль #218

[2020-04-21 19:14] #355 closed

[2020-04-21 19:37] 0Meridian0 opened #364 "Рефакторинг кода"
Провести рефакторинг кода APIgoogle.py и Validation.py в соответствии с PEP8

Подзадачи:
#365
#366
#367

[2020-04-21 20:03] MaJishpro opened #365 "Рефакторинг методов в APIgoogle.py"
Подзадача для задачи #383
Изменить методы в в APIgoogle.py под стандарты PEP8:
- search_tablic
- search_group
- search_email
- name_surname
- cleaning_email
- error_in_work

[2020-04-21 20:29] 0Meridian0 opened #366 "Рефакторинг методов APIgoogle.py"
Подзадача для #364
Провести рефакторинг кода в соответствии с PEP8 для методов:

- send_message

- email_archiving

- get_service

- send_message_to_techsub

[2020-04-21 20:33] 0Meridian0 opened #367 "Рефакторинг Validation.py и методов APIgoogle.py"
Подзадача для #364
Провести рефакторинг в соответствии с PEP8 для

Validation.py
APIgoogle.add_mark_in_table
APIgoogle.get_message

[2020-04-21 20:44] None-stopCoding opened #368 "Переписать слот slotReadingDataJson"
# Срок сдачи: 25.04.20
### Epic: #2
_Пояснения_: По макету. Внутри должно быть:
- вызов метод parsingJson
- вызов метода processData

[2020-04-21 20:49] None-stopCoding opened #369 "Проверки на main класс/функцию"
# Срок сдачи:
### Epic:
_Пояснения_: в StrategLab. Навесить очередные проверки на присылаемый код

[2020-04-21 21:06] None-stopCoding commented on #217
Задача разбита на #218 и #356

[2020-04-21 21:06] #217 closed

[2020-04-21 21:09] None-stopCoding opened #370 "Gateway: подготовка данных к отправке"
# Срок сдачи: 28.04.20
### Epic: #210
_Пояснения_: Речь о сообщении, где messageType == 2

[2020-04-21 21:10] None-stopCoding opened #371 "Написать метод processData"
# Срок сдачи: 22.04.20
### Epic: #210
_Пояснения_: По макету. Нужен для маршрутизации запросов на получение кода с Github и проверку лаб

[2020-04-21 21:11] None-stopCoding opened #372 "Проверки по context классу Стратегии"
# Срок сдачи:
### Epic:
_Пояснения_: в классе StrategyLab

[2020-04-21 21:11] None-stopCoding opened #373 "Проверки по parent-child relationship в Стратегии"
# Срок сдачи: 27.04.20
### Epic: #210
_Пояснения_: inside StrategyLab class

[2020-04-21 21:26] MaJishpro commented on #365
Изменил методы и [запушил](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/commit/b80dbe98ab4808f0da7deadef002c0216fd0efc9).

[2020-04-22 03:35] None-stopCoding commented on #219
Задача неактуальна (#359 #371)

[2020-04-22 03:35] #219 closed

[2020-04-22 06:33] None-stopCoding commented on #227
прогресс по задаче?

[2020-04-22 06:35] None-stopCoding commented on #242
по задаче нужно перенести все доки отсюда (#226 #227 #228 #229) в wiki.

[2020-04-22 07:06] #371 closed

[2020-04-22 07:51] DanilKozlov00 opened #376 "Реализовать класс тестов для проверки класса Selenium"
Написать тесты с покрытием не менее 50%, результаты тестирования использовать в таблице #316

[2020-04-22 07:59] DanilKozlov00 commented on #376
[Результаты](https://codecov.io/gh/DanilKozlov00/SeleniumIntegrationTest/src/master/src/main/java/Selenium.java) покрытия кода тестами

[2020-04-22 08:01] #376 closed

[2020-04-22 09:23] leshastern commented on #241
На текущий момент задача реализована на 75%, созданы все необходимые файлы [(выложены здесь)](https://drive.google.com/drive/folders/1aeCi27q8hp8lrdXChdIQsuafGv3-21iO?usp=sharing), не удалось запустить утилиту lcov для генерации html-отчета о покрытии кода

[2020-04-22 09:36] leshastern commented on #266
В процессе постижения такой вещи как непрерывная интеграция, я наткнулся на такой печальный факт: "When you want to use a Microsoft Azure Pipeline for your continuous integration with a QT project using a linux server, you'll need to create a self-managed linux VM and integrate it with QT and the azure pipeline system. This is because the Microsoft-hosted build servers do not natively support QT."

[2020-04-22 10:28] #359 closed

[2020-04-22 11:41] YuriSilenok commented on #266
Решено: В запросах на слияние указывать DevOps в качестве проверяющего, который будет выполнять два тестирования, против ветки issue-* и 18-VTbo-2a после локального мержа

[2020-04-22 18:51] #364 closed

[2020-04-22 18:52] #366 closed

[2020-04-22 19:00] 0Meridian0 opened #383 "Рефакторинг кода"
Провести рефафкторинг кода APIgoogle.py и Validation.py в соответствии с PEP8.
Подзадачи:
#384
#385
#386

[2020-04-22 19:05] #367 closed

[2020-04-22 19:06] 0Meridian0 opened #384 "Рефакторинг APIgoogle.py"
Подзадача для #383
Произвести рефакторинг в соответствии с PEP8 для методов:

- send_message

- email_archiving

- get_service

- send_message_to_techsub

[2020-04-22 19:12] 0Meridian0 opened #385 "Рефакторинг APIgoogle.py и Validation.py"
Подзадача для #383
Провести рефакторинг в соответствии с PEP8 для

Validation.py
APIgoogle.add_mark_in_table
APIgoogle.get_message

[2020-04-22 19:12] MaJishpro opened #386 "Рефакторинг методов в APIgoogle.py"
Подзадача для задачи #383
Изменить методы в в APIgoogle.py под стандарты PEP8:

- search_tablic
- search_group
- search_email
- name_surname
- cleaning_email
- error_in_work

[2020-04-22 20:49] #384 closed

[2020-04-23 07:50] #360 closed

[2020-04-23 10:04] Sirokko77 commented on #325
Тестирование закончено.
Результаты тестирования:
- Туева хуча ошибок по мелочи
- Неправильное возвращение названия таблицы
- Не выставляется 0 при ошибках в работе
- Программа не может отправить работу на проверку, если ошибки в валидации
- В письме имя указывается в ковычках
- Несогласованности в сценариях
- Шифровка
- Не работает валидация ссылки

[2020-04-23 11:17] Svyat935 opened #391 "Функционал чтение всех писем с почты."
Добавить непрерывное чтение писем.

[2020-04-23 12:13] AnastasiVokhmyanina28 opened #392 "переписать TCP сервер"
# Срок сдачи: 27.04.20
### Epic:
_Пояснения_: :)

[2020-04-23 12:20] AnastasiVokhmyanina28 opened #393 ". разработать и прогнать сценарии для функционального тестирования сервиса Gateway и TCP сервера"
# Срок сдачи: 28.04.20
### Epic: #209
_Пояснения_: -

[2020-04-23 12:22] AnastasiVokhmyanina28 opened #394 "построить отчет"
# Срок сдачи: 24.04.20
### Epic: #209
_Пояснения_:

[2020-04-23 12:25] AnastasiVokhmyanina28 opened #395 "ParseIntoClаsses"
# Срок сдачи: 24.04.20
### Epic: #210

[2020-04-23 13:06] #365 closed

[2020-04-23 13:06] #386 closed

[2020-04-23 19:50] ShapovalovQ commented on #325
Провёл тестирование [данного сценария](https://docs.google.com/document/d/1nUm8dr_woo-hrjc2FEDLUImEEAfbVzkqWTOVG_kDj8E/edit?usp=sharing) и ,помимо выше перечисленных, нашёл следующие ошибки:
- "Здравствуйте" и "Доброе утро" не считаются приветствиями, хотя 2-ое, возможно, и не особо уместно, но, всё же, имеет право на жизнь
- Не проверяется номер лабораторной работы, то есть если в теме будет "ТРП

[2020-04-23 22:08] Svyat935 commented on #272
Задача закрыта из-за ненадобности

[2020-04-23 22:09] #385 closed

[2020-04-23 22:10] Svyat935 commented on #325
Задача выполнена.

[2020-04-23 22:10] #325 closed

[2020-04-23 22:11] Svyat935 commented on #383
Задача выполнена.

[2020-04-23 22:11] #383 closed

[2020-04-23 22:13] Svyat935 commented on #391
Задача выполнена.

[2020-04-23 22:13] #391 closed

[2020-04-23 22:45] leshastern commented on #394
Задача уже существует под номером #241

[2020-04-23 22:45] #394 closed

[2020-04-24 04:39] magnitola opened #398 "Добавить логирование входных параметров"
Нужно немного дописать в log_method.py, чтобы реализовать логирование входных параметров в методе.

[2020-04-24 04:54] magnitola opened #400 "Поправить логирование main.py"
В связи с последними изменениями main.py я вынужден добавить в него более детальное логирование

[2020-04-24 05:57] None-stopCoding commented on #351
Таблица reject-кодов на 6 странице [спецификации](https://docs.google.com/document/d/1ZmBVhi1C9-qt0iu5U3TLLPWadmDhe414nYaskIKHmPE/edit?usp=sharing)

[2020-04-24 07:17] #159 closed

[2020-04-24 09:58] Sergey-student commented on #226
[1](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Документация-по-структуре-папок-в-системе)

[2020-04-24 14:34] None-stopCoding commented on #242
продляем срок по задаче, она зависит от выполнения других задач

[2020-04-24 14:42] None-stopCoding commented on #159
@leshastern всегда пиши причину, почему закрыл)

[2020-04-24 16:31] Svyat935 opened #408 "Разработка сценариев тестирования."
Задача:
Разработать сценарии тестирование [по примеру](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit)

[2020-04-24 17:41] Sergey-student commented on #227
[Ссылка на документацию по задаче](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki)

[2020-04-24 17:59] Sergey-student commented on #227
[Документация по общению сервера с классом проверки лабораторных работ по паттерну Стратегия](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Общение-сервера-с-классом-проверки-лаб-по-паттерну-Стратегия)

[2020-04-24 18:00] #227 closed

[2020-04-24 18:35] Svyat935 opened #410 "Улучшить валидацию письма."
Задача:
- Проверка не должна зависеть от регистра.
- Увеличить кол-во валидных примеров приветствия, метки лабораторной работы.
- Улучшить структуру письма ответа.

[2020-04-24 18:45] Svyat935 opened #411 "Улучшить методы работы с Gmail API."
Задача:
- Попытаться реализовать отправку письма связанной с пришедшим письмом(цепочка писем)
- Поставить метку ТРПО на письме.
- Сделать пример письма, которая отправляет список лабораторных. (?)
- Отключить цепочки писем на мыле.
- Архивация письма сразу после ответа.(?)
- Отметить письмо, что производиться его чтение.
- Настроить метки на мыле

? - задача может быть нереализована по причине дру

[2020-04-24 18:51] Svyat935 opened #412 "Расширить пользовательские сценарии."
Задача:
- Расширить пользовательские сценарии

[2020-04-24 19:00] Svyat935 opened #413 "Изменить структуру main.py"
Задача:
Переделать main.py c учетом [технического задания](https://docs.google.com/document/d/1fmP5NWQBVG1sqj1foqJlRZzPQcY-9qxdpy2Zsy1b8vw/edit)

[2020-04-24 21:06] leshastern commented on #241
Удалось построить отчет
[клик](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/files/4531532/report.zip)

[2020-04-25 12:46] Sergey-student commented on #226
[Общение сервера с клиентом](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Общение-сервера-с-клиентом)

[2020-04-25 12:51] Sergey-student commented on #228
[Общение сервера с сервисом получения листинга кода](Общение сервера с сервисом получения листинга)

[2020-04-25 12:53] #228 closed

[2020-04-25 15:50] #241 closed

[2020-04-25 19:09] #370 closed

[2020-04-25 21:11] #353 closed

[2020-04-26 07:39] #356 closed

[2020-04-26 10:57] Llouqs commented on #316
[Сценарии тестирования лабораторной работы №3](https://docs.google.com/spreadsheets/d/1BehPksH9vwqt16_Lcn1_w6ch0CbvUhUXSw0Ao9yzVDQ/edit#gid=0)

[2020-04-26 11:24] #218 closed

[2020-04-26 13:46] AnastasiVokhmyanina28 opened #420 "Устранить ошибку"
# Срок сдачи: 26.04.20
### Epic: #209
_Пояснения_: ФР: не компилируется проект

![HV-iT9ve3KI](https://user-images.githubusercontent.com/55682455/80309383-04691200-87d5-11ea-9f1f-45a1957c3562.jpg)

ОР: ошибка не вылетает

[2020-04-26 14:28] AlbertShabrov commented on #420
Ошибка в компиляции объекта класса GateWay, ответственный за него Алексей Жуков, ему и передаю эту задачу

[2020-04-26 18:22] 0Meridian0 opened #423 "Написать лабораторные"
Заполнить [файл](https://drive.google.com/open?id=1Ewyt-TqnRBm_EXAzzXJNPpHu4GcK29aZvJFI1L7ehws) с лабораторными

[2020-04-27 07:47] #368 closed

[2020-04-27 15:09] leshastern commented on #393
Постоянная ссылка на таблицу [здесь](https://docs.google.com/spreadsheets/d/1mCuW4ViaK2I_ciNBP2jhDR92hQnQjKu6tw2zr4KPVEo/edit?usp=sharing)

[2020-04-27 15:09] VladmirV commented on #258
Задача была начата. Наличие функции комментирования благополучно забыто.

[2020-04-27 15:47] VladmirV commented on #258
Первый этап завершен. Формирования экземпляров без учета кодов ошибок.

[2020-04-27 15:48] VladmirV commented on #258
Тестирование первого этапа.
![image](https://user-images.githubusercontent.com/55273743/80392289-9ea18680-88b7-11ea-8edb-452eac142c84.png)

[2020-04-27 15:57] Progoger opened #428 "Доработка метода LettersConvertToString()"
Доработать метод LettersConvertToString(), добавить проверку на статус письма( не является ли письмо неправильным), и на номер лабораторной работы( нужно ли что-то брать с ссылки в поле Body)

[2020-04-27 16:13] VladmirV commented on #258
@urec-programmec
Завершаю выполнение.

[2020-04-28 07:28] #420 closed

[2020-04-28 08:04] #354 closed

[2020-04-28 10:09] AnastasiVokhmyanina28 opened #437 "Написать класс обработки ошибок, вынести gateway и exception в utils"
# Срок сдачи: 12.05.20
### Epic: #2
_Пояснения_:

[2020-04-28 10:10] AnastasiVokhmyanina28 opened #438 "Покрыть логами gateway"

[2020-04-28 10:10] AnastasiVokhmyanina28 opened #439 "Написать доументацию по логам в системе, кауда они сохраняются, как их выводить, смотреть"

[2020-04-28 10:11] AnastasiVokhmyanina28 opened #440 "Написать документацию по модульным тестам, как их запускать локально"
# Срок сдачи: 03.05.20
### Epic: #211
_Пояснения_:
[Документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Локальный-запуск-модульных-тестов)

[2020-04-28 10:11] AnastasiVokhmyanina28 opened #441 "Написать документацию по сценариям функционального тестирования"

[2020-04-28 10:12] AnastasiVokhmyanina28 opened #442 "Разработать систему генерирования прикладной документации"

[2020-04-28 10:12] AnastasiVokhmyanina28 opened #443 "Покрыть gateway модульным тестированием"
# Срок сдачи: 06.05.20
### Epic: #209
_Пояснения_:

[2020-04-28 10:13] AnastasiVokhmyanina28 opened #444 "Покрыть StartegyLab модульным тестированием"

[2020-04-28 10:13] AnastasiVokhmyanina28 opened #445 "Покрыть Functional модульным тестированием"

[2020-04-28 10:14] AnastasiVokhmyanina28 opened #446 "Доработать и прогнать сценарии функционального тестирования вместе с StartegyLab"

[2020-04-28 10:16] AnastasiVokhmyanina28 opened #447 "Доработать и прогнать сценарии функционального тестирования вместе с Functional"

[2020-04-28 10:16] AnastasiVokhmyanina28 opened #448 "Попытаться снова настроить непрерывную интеграцию"
# Срок сдачи: 12.05.20
### Epic: #210
_Пояснения_:

[2020-04-28 10:17] AnastasiVokhmyanina28 opened #449 "Настроить компиляцию исходников в CI"

[2020-04-28 10:27] AnastasiVokhmyanina28 opened #450 "Настроить разворот проекта в CI"

[2020-04-28 10:28] AnastasiVokhmyanina28 opened #451 "Покрыть логами TcpServer"

[2020-04-28 10:28] AnastasiVokhmyanina28 opened #452 "Покрыть логами StrategyLab"

[2020-04-28 10:29] AnastasiVokhmyanina28 opened #453 "Покрыть логами Functional"

[2020-04-28 11:17] urec-programmec commented on #327
Задача закрывается, т.к. был закрыт pr

[2020-04-28 11:17] #327 closed

[2020-04-28 11:18] urec-programmec commented on #428
Задача закрывается, т.к. был замёрджен pr

[2020-04-28 11:18] #428 closed

[2020-04-28 11:19] urec-programmec commented on #328
Задача закрывается, т.к. был замёрджен pr

[2020-04-28 11:19] #328 closed

[2020-04-28 11:20] urec-programmec commented on #254
Задача закрывается, т.к. был замёрджен pr

[2020-04-28 11:23] urec-programmec commented on #111
Задача закрывается, т.к. был замёрджен pr

[2020-04-28 11:23] urec-programmec commented on #255
Задача закрывается, т.к. был замёрджен pr

[2020-04-28 12:14] urec-programmec opened #454 "Настроить непрерывную интеграцию"

[2020-04-28 12:15] urec-programmec opened #455 "Продолжить написание unit тестов"

[2020-04-28 12:20] urec-programmec commented on #26
Закрыто за невостребованностью

[2020-04-28 12:28] urec-programmec commented on #260
Задача закрывается, т.к. была реализована (в ветке 18-ISbo-2b_google)

[2020-04-28 12:31] urec-programmec commented on #309
Задача закрывается, т.к. была реализована

[2020-04-28 12:31] #309 closed

[2020-04-28 13:09] urec-programmec opened #458 "Разработка сценариев интеграционного тестирования"

[2020-04-28 13:09] urec-programmec opened #459 "Довыпуск функционала к релизу"

[2020-04-28 13:09] urec-programmec opened #460 "Написание unit тестов"

[2020-04-28 13:39] urec-programmec commented on #269
Задача закрывается т.к. реализована

[2020-04-28 13:40] urec-programmec commented on #270
Задача закрывается т.к. реализована

[2020-04-28 13:40] urec-programmec commented on #95
Задача закрывается т.к. не востребована

[2020-04-28 13:40] #95 closed

[2020-04-28 13:40] urec-programmec commented on #271
Задача закрывается т.к. реализована

[2020-04-28 13:41] urec-programmec opened #461 "Создание почты для техподдержки"

[2020-04-28 13:41] urec-programmec opened #462 "Разработка сценариев интеграционного тестирования"

[2020-04-28 16:00] AnastasiVokhmyanina28 opened #464 "Подготовить проект к пре-релизу"
# Срок сдачи: 03.05.20
### Epic: #209
_Пояснения_:

[2020-04-28 16:05] #373 closed

[2020-04-28 17:18] vvtatyana commented on #315
[Сценарий тестирования протокола передачи данных](https://docs.google.com/spreadsheets/d/173fcVRsMoGgEgocefV-_fLICh7-Jk9ukjcRUyW3-4ec/edit#gid=0)

[2020-04-28 17:31] avilova commented on #316
Проверила, принято

[2020-04-28 17:32] avilova commented on #316
Проверила, принято

[2020-04-28 17:32] avilova commented on #315
Проверила, принято

[2020-04-28 17:33] avilova commented on #376
Проверила, принято

[2020-04-28 17:36] #315 closed

[2020-04-28 18:31] #314 closed

[2020-04-28 18:32] Dudka567 commented on #314
Сервер настроен на  получение данных согласно протоколу и обратно.

[2020-04-28 19:33] Sergey-student commented on #229
[Файловая структура](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Файловая-структура)

[2020-04-28 19:39] Sergey-student commented on #242
[Документация по задачам](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki)

[2020-04-28 19:40] Sergey-student commented on #242
Возможности раздела [Wiki](https://github.com/docops-hq/learnapidoc-ru/blob/master/Publishing-doc/Manage-wiki-content.md)

[2020-04-28 19:40] #242 closed

[2020-04-29 08:10] DanilKozlov00 opened #469 "Исправить баг с битыми ссылками(xpath)"

[2020-04-29 11:48] DanilKozlov00 commented on #317
[Ссылка на сервис](https://travis-ci.com/github/Students-of-the-city-of-Kostroma/trpo_automation/builds/162680701)

[2020-04-29 11:48] #317 closed

[2020-04-29 12:18] DanilKozlov00 commented on #469
v.0.0.0.3

[2020-04-29 12:18] #469 closed

[2020-04-29 17:54] #361 closed

[2020-04-29 17:55] #395 closed

[2020-04-29 20:47] 0Meridian0 commented on #411
- Цепочка писем не реализована (API не позволяет)
- Метка "ТРПО" теперь есть в темах писем
-
- Цепочки писем отключены
- Архивация отправленного сообщения не реализована(API не позволяет)
- Теперь метка UNREAD снимается при получении информации из письма
- Настроен триггер на метку "ТРПО"

[2020-04-29 21:50] AnastasiVokhmyanina28 opened #474 "Сгенерировать прикладную документацию с помощью Doxygen"

[2020-04-29 21:51] AnastasiVokhmyanina28 opened #475 "Внедрить прикладную документацию в раздел Wiki"

[2020-04-29 21:55] AnastasiVokhmyanina28 opened #476 "Пересмотреть архитектуру проекта"
# Срок сдачи: 02.05.20
### Epic: #210
_Пояснения_:

[2020-04-30 08:41] MoL4okkk commented on #233
Настроена непрерывная интеграция и непрерывное развёртывание с использованием Azure DevOps.

![image](https://user-images.githubusercontent.com/55210615/80690467-827c3000-8ad7-11ea-8a46-f684e3b55027.png)

![image](https://user-images.githubusercontent.com/55210615/80690380-65dff800-8ad7-11ea-98f3-29aa353916c3.png)

![image](https://user-images.githubusercontent.com/55210615/80690338-5660af00-8ad7-

[2020-04-30 16:18] Svyat935 commented on #423
Задача выполнена.

[2020-04-30 16:18] #423 closed

[2020-04-30 16:33] #400 closed

[2020-04-30 16:41] Svyat935 commented on #326
Задача выполнена.

[2020-04-30 16:41] #326 closed

[2020-04-30 16:41] Svyat935 commented on #324
Задача выполнена.

[2020-04-30 16:41] #324 closed

[2020-04-30 17:26] Svyat935 commented on #307
Выполнено.

[2020-04-30 17:26] #307 closed

[2020-05-01 12:11] urec-programmec commented on #322
Задача принята

[2020-05-01 12:11] #322 closed

[2020-05-01 12:13] urec-programmec commented on #259
Задача принимается

[2020-05-01 12:13] urec-programmec commented on #261
Задача принята

[2020-05-01 13:36] CatherinePRO commented on #459
Автоматическое включение студента в журнал. Принято в работу

[2020-05-02 15:34] None-stopCoding commented on #476
архитектура перестроена, много методов вынесены в публичные

[2020-05-02 15:34] #476 closed

[2020-05-02 15:35] None-stopCoding commented on #437
выполнено, вместе с подготовкой проекта к пре-релизу

[2020-05-02 15:35] #437 closed

[2020-05-03 08:41] #464 closed

[2020-05-03 16:56] cyberAndrey opened #488 "Тестирование класса Sheet"
Тестирование класса в соответствии с релизом v.0.0.0.6
Через написание unit-тестов

[2020-05-03 16:57] cyberAndrey commented on #488
Please, wait...
Проходят работы по изучению unit-тестирования

[2020-05-03 18:18] Sergey-student commented on #440
[Локальный запуск модульных тестов](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Локальный-запуск-модульных-тестов)

[2020-05-03 18:19] #440 closed

[2020-05-04 03:17] None-stopCoding commented on #442
дубль: #474

[2020-05-04 03:17] #442 closed

[2020-05-04 03:18] None-stopCoding commented on #351
Система пострена, возражений нет

[2020-05-04 03:18] #351 closed

[2020-05-04 07:47] DanilKozlov00 opened #489 "Настроить travis для работы с подгруппой 18-ВТ-а"

[2020-05-04 09:05] #449 closed

[2020-05-04 09:05] #448 closed

[2020-05-04 10:50] CatherinePRO commented on #460
Тестирование таблиц в процессе

[2020-05-04 20:21] CatherinePRO commented on #460
Открыта подзадача #488

[2020-05-05 11:11] Sirokko77 commented on #408
Сценарии были написаны. Посмотреть можно [тут](https://drive.google.com/open?id=1z9PipsTgDDl6ThdCMPsLjjg5Ial9JdCBzd0NXQ1jHrI)

[2020-05-05 11:40] vvtatyana opened #498 "Разработать сценарий для лабораторной работы №5"
Написать сценарии для 15 вариантов лабораторной работы №5 в гугл документе.
[Сценарий лабораторной работы №5](https://docs.google.com/document/d/16mrQO3Pw7Gpfej-ETHbZbrOQ2vOeJlMRjL0jliKbqPY/edit)

[2020-05-05 13:49] VladmirV commented on #262
Тесты не выявили ошибок. @urec-programmec, проверьте корректность заполнения экземпляров AnswersForUsers.
![image](https://user-images.githubusercontent.com/55273743/81073400-3fafc300-8ef0-11ea-9ae6-9d1d00817d2c.png)
![image](https://user-images.githubusercontent.com/55273743/81073438-50f8cf80-8ef0-11ea-8873-724b5eaa4857.png)
![image](https://user-images.githubusercontent.com/55273743/81073477-5d7

[2020-05-05 16:45] CatherinePRO commented on #458
Разворачиваем релиз на виртуальной машине

[2020-05-06 10:48] CatherinePRO opened #500 "Заполнение функционала. Логирование"
Заполнение функционала (логирование) в файлах релиза.

Скачать релиз версии v.0.0.0.6 по ссылке https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/releases

Добавить логирование в каждую функцию во все файлы, содержащие в названии префикс main.

Включить в PR дополнительно используемые файлы классов, если это необходимо!

[2020-05-06 12:23] BlackReper086 commented on #462
Создал [документ](https://docs.google.com/spreadsheets/d/1Ea0w1SOoPVUpq1iYYzIByfZK_qFL57HApilDktnS100/edit?usp=sharing) на Google Drive

[2020-05-06 13:37] BlackReper086 commented on #462
Первый вариант готов

[2020-05-06 15:21] CatherinePRO commented on #462
Задача закрыта. Вариант принят

[2020-05-06 15:21] #462 closed

[2020-05-06 15:25] CatherinePRO commented on #458
Задача интеграционного тестирования передана команде ВТ

[2020-05-06 15:25] #458 closed

[2020-05-06 15:56] CatherinePRO commented on #454
Тимофей - исполнитель, Максим - оказание посильной помощи, контроль!

[2020-05-06 17:13] VladmirV opened #502 "Реализация заполнения ФИО в класс User"
Доработать google_CheckEmail.py
Добавить возможность получения ФИО из Gmail отправителя.

[2020-05-06 17:15] VladmirV commented on #502
Создание ветки Issue-502

[2020-05-06 17:16] VladmirV commented on #502
Начало доработки функционала

[2020-05-06 17:27] VladmirV commented on #502
Необходимый функционал добавлен

[2020-05-06 17:38] CatherinePRO opened #504 "Валидация писем"
Не соответствие функционала ТЗ. Реализовать проверку соответствия имени и фамилии пользователя прикрепленному к email (информацию брать из аккаунта гугл) с данными, содержащимися в таблице ответов!

[2020-05-06 18:35] #502 closed

[2020-05-06 18:39] CatherinePRO commented on #461
создана почта trpo.help в gmail.com

[2020-05-06 18:39] #461 closed

[2020-05-06 18:49] Svyat935 opened #505 "Реализовать метод "поиска кол-во не сданных работ"."
Реализовать метод "Поиска кол-во не сданных работ", который выдает номер лабораторных, что не сдал определенный студент.

[2020-05-06 19:48] #489 closed

[2020-05-07 13:00] VladmirV opened #509 "Сценарии тестирования Gmail функционала."
Написание сценариев для тестирования функционала для работы с Gmail:

- google_CheckEmail.py

- send_InformUsers.py

[2020-05-07 13:03] VladmirV commented on #460
Открыта подзадача #509

[2020-05-07 13:38] CatherinePRO opened #510 "Добавление студентов в журнал"
Автоматическое добавление студента в журнал (в случае его отсутствия) при выставлении оценок.

[2020-05-07 17:51] Svyat935 commented on #505
Задача выполнена

[2020-05-07 17:51] #505 closed

[2020-05-07 17:53] Svyat935 commented on #410
Задача выполнена.

[2020-05-07 17:53] #410 closed

[2020-05-07 17:54] Svyat935 commented on #412
В бэклог по причине "нету списка нового функционала"

[2020-05-07 17:55] Svyat935 commented on #408
Задача выполнена.

[2020-05-07 17:55] #408 closed

[2020-05-07 18:48] cyberAndrey commented on #504
Баг пофикшен. Файл с измененным кодом в ветке issue-504

[2020-05-07 20:05] VladmirV opened #511 "Добавить обработчик ошибок на функцию отправки ответов."
Добавить обработчик ошибок на функцию отправки ответов.

[2020-05-07 21:05] MoL4okkk opened #512 "Переработка автотестов под новый метод шифровки"
Изменить имеющиеся автотесты так, чтобы они использовали новый метод шифровки конфигов.

[2020-05-07 21:49] VladmirV commented on #511
Приступаю к выполнению

[2020-05-07 21:49] VladmirV commented on #511
Создана ветка Issue-511

[2020-05-07 22:03] VladmirV commented on #511
Завершаю выполнение.

[2020-05-08 06:02] Svyat935 opened #516 "Исправление синтаксических ошибок для выкатывания на сервер."
Исправление синтаксических ошибок в файле pattern.py

[2020-05-08 06:14] Svyat935 opened #518 "Тесты синтак"

[2020-05-08 10:09] VladmirV opened #519 "Исправление бага со статусом кода ошибки."
Исправление бага со статусом кода ошибки.

[2020-05-08 10:10] VladmirV commented on #519
Начало выполнения задачи.

[2020-05-08 10:10] VladmirV commented on #519
Создана ветка Issue-512

[2020-05-08 10:15] VladmirV commented on #519
Завершаю выполнение.

[2020-05-08 10:37] #519 closed

[2020-05-08 10:38] #511 closed

[2020-05-08 11:35] SkinnerX7 opened #522 "Некорректное выполнение функции SendJSONForCheck()"
Не происходит заполнение экземпляров классов LetterResult при обработке писем с кодом, отличным от "20"

[2020-05-08 12:33] VladmirV opened #523 "Загрузка отредактированного функционала в обновленную версию."
Загрузка отредактированного функционала в обновленную версию:
- Исправление багов в методе формирования Letters
- Реализация обработки ошибок в методе отправки сообщений

[2020-05-08 12:34] VladmirV commented on #523
Начало выполнения задачи.

[2020-05-08 12:34] VladmirV commented on #523
Создание ветки issue-523

[2020-05-08 17:55] avilova commented on #316
Задача сделана не до конца, остается за @Llouqs.

[2020-05-08 17:59] #523 closed

[2020-05-08 18:11] #516 closed

[2020-05-08 18:11] Svyat935 commented on #411
Задача закрыта

[2020-05-08 18:11] #411 closed

[2020-05-08 18:25] Svyat935 opened #526 "Исправить тесты в test_google_search_tablic"
Исправить проблемы в тестах test_google_search_tablic

[2020-05-08 18:27] Svyat935 opened #527 "Исправить тесты в test_google_sheet_search_group"
Исправить автотесты в test_google_sheet_search_group.

[2020-05-08 18:33] Svyat935 opened #528 "Индификаторы в автотестах."
Выставить индификаторы в автотестах:
- test_google
- test_google_search_tablic
- test_google_sheet_search_group

[2020-05-08 18:45] Svyat935 opened #529 "Придумать как обойти или реализовать ответ на письмо."
Задача:
Реализовать функцию(или доделать функцию), которая будет каким-нибудь образом демонстрировать ответ пользователю.
Это может быть цитата, это может быть цепочка(уточнить), это может быть как-ещё. . . На усмотрение.

[2020-05-08 19:04] Svyat935 opened #530 "Исправить авторизацию в письме."
Задача:
Нужно указать другую таблицу в валидации(которая проверяет авторизован ли пользователь)

[2020-05-08 19:20] Svyat935 opened #531 "Исправить баги в тестах."
Исправить баги следующих тестах:
#526 #518 #527

[2020-05-08 20:39] #443 closed

[2020-05-08 20:41] leshastern commented on #393
План тестирования доступен  [здесь](https://docs.google.com/spreadsheets/d/1mCuW4ViaK2I_ciNBP2jhDR92hQnQjKu6tw2zr4KPVEo/edit?usp=sharing) (первый лист)

[2020-05-09 11:19] AnastasiVokhmyanina28 opened #532 "Написать план тестирования"
# Срок сдачи: 10.05.20
### Epic: #209
_Пояснения_:  [ссылка на документ](https://docs.google.com/spreadsheets/d/1mCuW4ViaK2I_ciNBP2jhDR92hQnQjKu6tw2zr4KPVEo/edit?usp=sharing)

[2020-05-09 12:04] AnastasiVokhmyanina28 opened #533 "Написать план разработки функциональности"
# Срок сдачи:  13.05.20
### Epic: #2
_Пояснения_: прикрепить ссылку на документ

[2020-05-09 14:13] AnastasiVokhmyanina28 opened #534 "Оптимизация процесса разработки системы"
_Пояснения_: все, что связано с непрерывной интеграцией

[2020-05-09 14:30] AnastasiVokhmyanina28 opened #535 "настроить непрерывную интеграцию"
# Срок сдачи: 11.05.20
### Epic:  #534
_Пояснения_:

[2020-05-09 14:30] AnastasiVokhmyanina28 opened #536 "автоматизация проверки кода по стилистике кода"
# Срок сдачи: 13.05.20
### Epic: #534
_Пояснения_:

[2020-05-09 16:00] AnastasiVokhmyanina28 opened #538 "Отчеты по полному тестированию"
# Срок сдачи: 11.05.20
### Epic: #211
_Пояснения_: прикрепить ссылку на документ

[2020-05-09 16:01] AnastasiVokhmyanina28 opened #539 "покрытие кода для юнит тестов"
# Срок сдачи: 13.05.20
### Epic: #211
_Пояснения_:

[2020-05-09 17:22] DanilKozlov00 opened #540 "Написать методичку описывающую использование сервиса Travis"
[Методичка](https://drive.google.com/open?id=1sbdCrJDpQBc5VvlEM2NKhPecw8oto-12dmeiFVEd6X8)

[2020-05-09 18:09] DanilKozlov00 commented on #489
неудачно

[2020-05-09 18:51] leshastern commented on #532
План тестирования доступен  [здесь](https://docs.google.com/spreadsheets/d/1mCuW4ViaK2I_ciNBP2jhDR92hQnQjKu6tw2zr4KPVEo/edit?usp=sharing) (первый лист)

[2020-05-10 01:55] CatherinePRO opened #542 "Подготовка демки"
Отловить баги, поставить задачи, подготовить демку

[2020-05-10 04:25] CatherinePRO commented on #522
не работает, требуются правки. на выходе для всех должен быть заполнен экземпляр класса letterResult

[2020-05-10 04:31] CatherinePRO opened #543 "Исправить заполнение ответов для отправки"
MakeAnswersForUsers работает не правильно. Не верный перебор и заполнение ответов для отправки
#97 #270

[2020-05-10 04:34] CatherinePRO commented on #500
Задача принята, изменения слиты

[2020-05-10 04:34] #500 closed

[2020-05-10 04:47] CatherinePRO commented on #542
отловлен баг #522

[2020-05-10 04:48] CatherinePRO commented on #542
#543

[2020-05-10 04:49] CatherinePRO commented on #542
#504 не соответствие функционалу

[2020-05-10 04:55] CatherinePRO opened #544 "Исправление валидации писем (код статус)"
При проверке письма в гугл документе, помеченного проходящим валидацию - возвращает код статус 02. Смотри письмо по форме в почте бота

[2020-05-10 04:55] CatherinePRO commented on #542
#544 Валидация - код статус

[2020-05-10 06:27] urec-programmec opened #547 "Некорректное значение поля Body при получении писем"
После  функции GetLetters в поле Body письма есть лишняя информация, не относящаяся к телу входного письма
![image](https://user-images.githubusercontent.com/54985070/81492571-90813c00-92a1-11ea-851f-9a16dfe3fc45.png)

Кроме этого, обрати внимание на мини-баг.
Здесь не должно быть заполнения этого поля
![image](https://user-images.githubusercontent.com/54985070/81492598-c2929e00-92a1-11ea-9080-038

[2020-05-10 10:04] DanilKozlov00 commented on #540
[Методичка](https://drive.google.com/open?id=1sbdCrJDpQBc5VvlEM2NKhPecw8oto-12dmeiFVEd6X8)

[2020-05-10 11:00] SkinnerX7 commented on #522
Приступил к работе

[2020-05-10 12:40] BlackReper086 commented on #543
Ошибки исправил. Жду проверки.

[2020-05-10 14:49] SkinnerX7 opened #551 "Изменить структуру в соответствии с релизной"
Изменить структуру ветки 18-ISbo-2b_base в соответствии с релизной 18-ISbo-2b

[2020-05-10 15:40] SkinnerX7 commented on #551
Поставил задачу на изменение структуры для того, чтобы в pr было понятно какие задачи были выполнены(2)

[2020-05-11 10:17] #455 closed

[2020-05-11 10:17] #522 closed

[2020-05-11 13:42] BlackReper086 commented on #543
Исправлено. Изменения сохранены

[2020-05-11 14:04] #551 closed

[2020-05-11 16:17] VladmirV commented on #547
Закрыто по причине потери актуальности.

[2020-05-11 16:17] #547 closed

[2020-05-12 06:22] YuriSilenok commented on #540
не нужно делать метки спринтов непосредственно для группы ВТ.
проект позволит понять что эта задача относится к группе вт

[2020-05-12 06:22] YuriSilenok commented on #540
результаты перенести в описание задачи

[2020-05-12 06:29] VladmirV opened #565 "Исправление багов в обработке сообщений."
Исправление багов в обработке сообщений:
- Текст сообщения написан курсивом (а так же прочие стилистические ошибки связанные с различными видами передачи текстовых сообщений)

[2020-05-12 06:40] SkinnerX7 opened #566 "Исправить баг в методе SendJSONForCheck()"
Исправить баг в методе SendJSONForCheck(), заключающийся в подключении к недоступному серверу

[2020-05-12 10:17] DanilKozlov00 commented on #540
Исправил

[2020-05-12 13:53] urec-programmec opened #567 "hello"

[2020-05-12 14:21] urec-programmec opened #568 "hello"

[2020-05-12 14:21] #568 closed

[2020-05-12 21:38] CatherinePRO commented on #543
коммит замерджен, ветка удалена, считаем задачу закрытой

[2020-05-12 21:38] #543 closed

[2020-05-13 08:35] avilova commented on #498
принято

[2020-05-13 08:37] avilova commented on #540
принято

[2020-05-13 08:38] #540 closed

[2020-05-13 08:52] #357 closed

[2020-05-13 10:52] Dudka567 opened #569 "Переделать однопоточный сервер в многопоточный"

[2020-05-13 11:00] #569 closed

[2020-05-13 11:00] Dudka567 commented on #569
Задача выполнена.

[2020-05-13 11:17] AlbertShabrov commented on #533
[План разработки функциональности](https://docs.google.com/document/d/1OOlzcv1Jj-6p1_JeBHUrjeIP1nj-dNQYUZNLA_Y4CRU)

[2020-05-13 11:22] #498 closed

[2020-05-13 11:30] #316 closed

[2020-05-13 11:33] Llouqs opened #570 "Исправить сценарии тестирования лабораторной работы в гугл таблице"
Интеграционное тестирование обсуждать с ИСами
Продолжение #316

[2020-05-13 11:34] Llouqs commented on #570
[Сценарии тестирования лабораторной работы №3](https://docs.google.com/spreadsheets/d/173fcVRsMoGgEgocefV-_fLICh7-Jk9ukjcRUyW3-4ec/edit#gid=988571986)
В качестве ожидаемого результата был взят документ [Ошибки по лабораторной работе №3](https://docs.google.com/document/d/1j6OKEsx0BnhP1cuS-adlHzGPTPLSU13ikfoUgO9-eDY/edit)

[2020-05-13 14:47] VladmirV opened #571 "Оптимизировать функции с Email функционалом."
Необходимо выполнить:
- Вынести функционал для работы с Email функционалом в отдельный пакет и приспособить под него функции "main_1_google_CheckEmail.py" и "main_5_send_InformUsers.py"

[2020-05-13 16:41] AnastasiVokhmyanina28 commented on #535
задача реализована в: (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/448) [задача #448 ]

[2020-05-13 16:41] #535 closed

[2020-05-14 08:09] cyberAndrey commented on #544
Те письма были неактуальными. Изменил на [актуальные](https://docs.google.com/document/d/1knlDwZ4lGp7NlXlYRQp_11sQAKZlG4qBdP2qyhC0TQY/edit#heading=h.ifmxd5kje4q0)

[2020-05-14 08:10] #544 closed

[2020-05-14 17:31] #512 closed

[2020-05-14 19:01] magnitola commented on #199
Не нужно писать никакой код. Чтобы запустить сервис на Ubuntu нужно выполнить несколько шагов:

1. Нужно создать в каталоге /etc/systemd/system/ файл TRPOBot.service. Этот файл должен содержать следующие данные:
`[Unit]
Description=TRPOBot
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/pyprojects/trpo/main.py
Restart=always

[Install]
WantedBy=multi-user.target`
гд

[2020-05-14 20:32] #529 closed

[2020-05-14 22:43] MoL4okkk opened #573 "Исправление ошибок azure-pipeline.yml"
В текущей версии файла интеграции содержится ошибка: автотесты запускаются в скрипте, а не в таске.

[2020-05-14 23:24] MoL4okkk commented on #527
Ошибок в тестах нет

[2020-05-14 23:24] #527 closed

[2020-05-14 23:24] MoL4okkk commented on #526
Ошибок в тестах нет

[2020-05-14 23:24] #526 closed

[2020-05-14 23:25] MoL4okkk commented on #518
Исправить не удалось, ведётся поиск решения

[2020-05-14 23:40] #530 closed

[2020-05-15 16:57] cyberAndrey opened #576 "Google. \r в ссылке Body"
модуль Gogle
Метод ValidateLetters():
Строка let.Body = re.findall(r'http[^ \n]*', let.Body)

Проблема:
При помещении в поле Body класса Letter в  некоторых случаях в конце ссылки присутствует знак возврата каретки

[2020-05-16 12:01] #504 closed

[2020-05-16 12:55] CatherinePRO commented on #576
задача принята

[2020-05-16 12:55] #576 closed

[2020-05-16 13:05] CatherinePRO commented on #504
задача принята, выполнено слияние

[2020-05-16 13:08] CatherinePRO commented on #542
Проблемы исправлены- задача закрыта

[2020-05-16 13:08] #542 closed

[2020-05-16 14:28] YuriSilenok commented on #532
Все важные ссылки должны содержаться в описании задачи

[2020-05-16 14:47] leshastern commented on #532
@YuriSilenok, теперь можно закрыть?

[2020-05-16 15:02] AnastasiVokhmyanina28 opened #579 "План разработки и тестирования функциональности"
# Срок сдачи: 16.05.20
### Epic: #211
_Пояснения_: объединение задач : #533 Написать план разработки функциональности и #532 Написать план тестирования

[2020-05-16 15:03] AnastasiVokhmyanina28 commented on #533
Задача не актуальна. создана  общая задача (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/579)

[2020-05-16 15:03] #533 closed

[2020-05-16 15:04] AnastasiVokhmyanina28 commented on #532
Задача не актуальна. создана общая задача (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/579)

[2020-05-16 15:04] #532 closed

[2020-05-16 15:19] AlbertShabrov commented on #579
Ссылка на [План разработки и тестирования функциональности](https://docs.google.com/spreadsheets/d/1a_--ME6oOIIhx96Qhk0eT2gAFmpyy0wmOE6e3usJ8Dk)

[2020-05-16 16:44] BlackReper086 opened #580 "Изменить структуру шаблонов писем"
Добавить ссылки на документы в письма.
Добавить промежутки между частями.
Добавить ссылки в config.

[2020-05-16 17:43] BlackReper086 commented on #580
Изменил структуру писем. Изменил структуру писем в документе.

[2020-05-16 17:43] BlackReper086 commented on #580
Жду проверки.

[2020-05-17 11:54] SkinnerX7 commented on #566
Исправлено, из затруднений: почему-то перестали работать мои сервера на моём пк, и странно работали, хотя ничего в них не менял. Но это даже и к лучшему, потому что баг был как раз в недоступности серверов, как раз потестил на это(на то, что "всё хорошо", тоже протестировал)

[2020-05-17 11:58] SkinnerX7 commented on #566
Связанные задачи: #522, #178, #256

[2020-05-17 20:41] cyberAndrey opened #583 "Написание сценариев тестирования для методов валидации"
Методы в файле google_ValidateRulec
И один метод ValidateLetters в файле main_1_google_CheckEmail

Написать сценарии тестирования по материалам лекции

[2020-05-17 20:42] cyberAndrey commented on #583
Задача выполнена
Сценарии [здесь](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=drive_web&ouid=106860562443398382463)

[2020-05-17 20:42] #583 closed

[2020-05-18 12:01] #566 closed

[2020-05-18 16:05] Svyat935 opened #589 "Метод добавление пользователя в группу в журнале."
Метод должен реализовать добавление пользователей в журнал.
Должна проходить проверка на существование пользователей.
На вход подается ФИО и группа.
На выход словарь комментирующий успех(неуспех) метода.

[2020-05-18 19:08] VladmirV commented on #565
Создана ветка issue-565

[2020-05-18 19:08] VladmirV commented on #565
Добавлена первая версия функционала

[2020-05-18 19:32] #565 closed

[2020-05-18 19:48] VladmirV opened #592 "Компоновка приватных функций Email функционала."
Вынести функционал для работы с Email функционалом в отдельный пакет и приспособить под него функции "main_1_google_CheckEmail.py" и "main_5_send_InformUsers.py".

[2020-05-18 19:50] VladmirV opened #593 "Оптимизация функций парсинга принятых сообщений."
Оптимизировать функции для взаимодействия с Body письма в пакете "main_1_google_CheckEmail.py" путем внедрения регулярных выражений.

[2020-05-18 19:53] VladmirV commented on #571
Для выполнения первого пункта открыта подзадача #592

[2020-05-18 19:54] VladmirV commented on #571
Для выполнения второго пункта открыта подзадача #592

[2020-05-19 03:39] urec-programmec opened #595 "Исправить баг в файле main_2_base_WorkWithLetters"
В процессе тестирования был найден баг в функции main_2_base_WorkWithLetters

Условия возникновения бага:
- Отправить письмо, корректное по структуре с некорректной ссылкой

Результат на выходе:
- В поле Body помещается пустая срока, код письма не меняется

Ожидаемый результат:
- Код письма меняется на '08' (см. документ (https://docs.google.com/spreadsheets/d/1o6pLF4PXGc6h6X7q4epYjuzTCzZmDobuR0on

[2020-05-19 03:44] urec-programmec opened #596 "Написать шаблон письма на новый код"
Появилось новое состояние письма:
- Ссылки, представленные в письме некорректны

Требуется написать шаблон ответного письма пользователю по аналогии с уже [созданными](https://docs.google.com/document/d/12mSzNBvU_WRPhW6snqCZLgmx2ziJRMnahdztMTvb8wk/edit)

Новый код - '08'

[2020-05-19 03:53] urec-programmec opened #597 "Внести изменения, касающиеся нового кода в код проекта"
В проекте появилось новое состояние письма и его нужно внести для корректной работы приложения в код проекта:

- Расширить класс PatternsOfLetters
- Внести в метод main_4_moderate_FormAnswers

[2020-05-19 04:13] urec-programmec opened #598 "Исправить баг с добавлением в репозиторий для ответов файлов"
В [репозиторий](https://github.com/Progoger/TasksForStudents) в который должны помещаться сделанные лабы, невозможно добавить файл ни через pull request, ни через github

[2020-05-19 04:22] urec-programmec opened #599 "Добавить правила ссылки на ресурсы"
Неоднозначны правила прикрепляемой ссылки

Есть репозиторий, в котором настроены папки для хранения кода
Поэтому в каком формате должна быть ссылка на ресурсы:

- на папку
- на файл
- на репозиторий
- нечто другое

Максим - описать
Андрей - задокументировать, внести в [документ](https://docs.google.com/document/d/1YMtlwsImBzR1ONhY6hH0VZnonpRmHM9UZ0glsG8sMLA/edit)

[2020-05-19 05:17] #460 closed

[2020-05-19 05:38] VladmirV opened #600 "Доработка функции валидации."
Ограничить максимальный возможный объем содержания сообщения.

[2020-05-19 14:43] urec-programmec opened #602 "Закончить написание unit тестов"
Закончить написание unit тестов по функциям, заданным глобально

- FormListWithLetters
- CheckUsers
- ValidateLetters
- LettersConvertToString
- FormJSONDates
- SendJSONForCheck
- SetMarks
- MakeAnswersForUsers
- SendLetters

Unit тесты писать по сценариям тестирования функций

[2020-05-19 14:56] urec-programmec opened #603 "Сценарии тестирования функции FormListWithLetters"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 14:59] urec-programmec opened #604 "Сценарии тестирования функции CheckUsers"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 14:59] urec-programmec opened #605 "Сценарии тестирования функции ValidateLetters"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:00] urec-programmec opened #606 "Сценарии тестирования функции ValidateLetters"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:04] urec-programmec opened #607 "Сценарии тестирования функции LettersConvertToString"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:04] urec-programmec opened #608 "Сценарии тестирования функции SendJSONForCheck"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:05] urec-programmec opened #609 "Сценарии тестирования функции SetMarks"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:05] urec-programmec opened #610 "Сценарии тестирования функции FormJSONDates"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:05] urec-programmec opened #611 "Сценарии тестирования функции MakeAnswersForUsers"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:05] urec-programmec opened #612 "Сценарии тестирования функции SendLetters"
Написать сценарии тестирования в [документе](https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4%2Fedit%3Fusp%3Dsharing) (лист 2)

Рассмотреть несколько (по возможности не меньше пяти-семи различных) ситуаций входных данных
Данные должны быть как корректными, так и некорректными, но допустимыми (чтобы все входные данные б

[2020-05-19 15:09] #612 closed

[2020-05-19 15:31] SkinnerX7 commented on #602
Забрал эти функции на тестирование
- CheckUsers
- ValidateLetters

[2020-05-19 15:48] CatherinePRO opened #613 "правка ядра"
Перебазирование импортов в управляющий файл. Настройка функционала

[2020-05-19 15:50] cyberAndrey opened #614 "Составить полный список лабораторных работ"
На данный момент важно только их количество
Документ загрузить на гугл диск: автоматизация\mail\18-исбо-2б\документация\пользовательская
*Вариантов сейчас 15. Если их число изменилось, то также запишите это в документ

[2020-05-19 16:19] Svyat935 commented on #413
Доделать.

[2020-05-19 19:01] Progoger commented on #607
Сценарии готовы, https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158
Строки 36-40

[2020-05-20 09:40] #290 closed

[2020-05-20 10:44] BlackReper086 commented on #596
[Документ](https://drive.google.com/file/d/11wergOjZTa9mxJ_jn8ZqnYSBYRqcSNhE/view) изменён. Ожидаю проверки.

[2020-05-20 11:17] #580 closed

[2020-05-20 11:20] urec-programmec commented on #607
Задача принята
Проверить соответствие существующих unit тестов документу или создать их при необходимости
Поднять задачу, указать в ней ссылку на эту задачу

[2020-05-20 11:20] #607 closed

[2020-05-20 11:23] urec-programmec commented on #596
Подкорректировал.
Задача принимается

[2020-05-20 11:23] #596 closed

[2020-05-20 11:25] #488 closed

[2020-05-20 11:27] cyberAndrey commented on #606
[строки](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158) 23-36

[2020-05-20 11:28] #606 closed

[2020-05-20 11:36] SkinnerX7 commented on #608
Выполнил
[Ссылка на документ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-20 11:47] urec-programmec commented on #608
Отписал о комментариях

[2020-05-20 12:52] SkinnerX7 commented on #608
Дополнил информацию о входных данных

[2020-05-20 12:55] urec-programmec commented on #608
Задача принята
Проверить соответствие существующих unit тестов документу или создать их при необходимости
Поднять задачу, указать в ней ссылку на эту задачу

[2020-05-20 12:55] #608 closed

[2020-05-20 13:17] CatherinePRO opened #1 "Восстановление репозитория"
Слив локальной копии

[2020-05-20 13:42] SkinnerX7 opened #3 "Сценарии тестирования функции SendJSONForCheck()"
Написать сценарии на тестирование функции SendJSONForCheck()

[2020-05-20 13:45] SkinnerX7 commented on #3
Выполнил
Ссылка :  [сценарии](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=drive_web&ouid=108893636437876535125)

[2020-05-20 13:46] SkinnerX7 opened #4 "Unnittest'ы на функцию SendJSONForCheck()"
Что необходимо:

- Проверить unit-test'ы на соответствие [сценариев](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=drive_web&ouid=108893636437876535125)
- Написать дополнительные unit-test'ы в случае необходимости

[2020-05-20 13:50] SkinnerX7 opened #5 "Сценарии тестирования функции SetMarks"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 13:52] SkinnerX7 opened #6 "Закончить написание unit тестов"
Дополнительно проверить соответствие тестов сценариям

(1) CheckUsers
(2) ValidateLetters
(3) LettersConvertToString
(4) FormJSONDates
(5) SendJSONForCheck
(6) SetMarks
(7) MakeAnswersForUsers
(8) SendLetters

[2020-05-20 13:53] SkinnerX7 opened #7 "Сценарии тестирования SendLetters"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 13:55] SkinnerX7 opened #8 "Сценарии тестирования функции CheckUsers"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 13:56] SkinnerX7 opened #9 "Сценарии тестирования функции FormsListWithLetters"
Написать сценарии тестирования функции FormsListWithLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функ

[2020-05-20 13:57] SkinnerX7 opened #10 "Исправить баг в файле main_2_base_WorkWithLetters"
В проекте появилось новое состояние письма

- Ссылка на ресурсы некорректна

В связи с этим добавить обработку этого состояния в код проекта в файл main_2_base_WorkWithLetters в функцию LettersConvertToString

[2020-05-20 13:59] SkinnerX7 opened #11 "Добавить правила ссылок на ресурсы"
Неоднозначны правила ссылок на ресурсы

- Максим - сформулируй их как тот, кто знает правила прикрепления файлов в репозиторий

- Андрей - внеси в [документ](https://docs.google.com/document/d/1YMtlwsImBzR1ONhY6hH0VZnonpRmHM9UZ0glsG8sMLA/edit?usp=sharing)

[2020-05-20 14:00] SkinnerX7 opened #12 "Создание репозитория для хранения лабораторных работ студентов"
Создание репозитория для хранения лабораторных работ студентов

[2020-05-20 14:01] SkinnerX7 opened #13 "Внести изменения, касающиеся нового кода в код проекта"
В проекте появилось новое состояние у письма
- Ссылка на ресурсы некорректна

В связи с этим по существующему [документу](https://docs.google.com/document/d/12mSzNBvU_WRPhW6snqCZLgmx2ziJRMnahdztMTvb8wk/edit?usp=sharing) внести изменения в файлы moderate_PatternsOfLetters.py и main_4_moderate_FormAnswers.py чтобы включить это состояние в процесс обработки писем

[2020-05-20 14:02] SkinnerX7 opened #14 "Настроить непрерывную интеграцию"
Решить вопрос с шифрованием файлов доступа (конфиги, токены) с А группой

Настроить CI за этот спринт или найти аналог качественного тестирования

Постоянное информирование приветствуется

[2020-05-20 14:03] SkinnerX7 opened #15 "Правка ядра"
Организовать запуск программы из одного файла, поправить импорты

[2020-05-20 14:04] urec-programmec opened #16 "Сценарии тестирования функции MakeAnswersForUsers"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 14:04] SkinnerX7 opened #17 "Сценарии тестирования функции FormsJSONDates"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 14:04] urec-programmec opened #18 "Сценарии тестирования функции FormJSONDates"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 14:04] urec-programmec opened #19 "Сценарии тестирования функции CheckUsers"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 14:05] SkinnerX7 opened #20 "Сценарии тестирования функции ValidateLetters"
Написать сценарии тестирования функции SendLetters по аналогии с уже существующими в [документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)
- Входные данные должны быть разного типа (как принимаемые для обработки этой функцией, так и непринимаемые)
- Входные данные должны быть корректными (ожидаемыми после отработки предыущей функции)
- В

[2020-05-20 14:06] SkinnerX7 opened #21 "Тестирование класса Sheet"
Написать юнит-тесты на функцию валидации письма

[2020-05-20 14:13] SkinnerX7 opened #22 "Написать шаблон письма на новый код"
Написать шаблон письма на новый код

[2020-05-20 14:14] CatherinePRO commented on #1
замерджено - закрыто!

[2020-05-20 14:14] SkinnerX7 opened #23 "Сценарии тестирования функции LettersConvertToString"
Написать сценарии юнит-тестов на функцию LettersConvertToString

[2020-05-20 14:14] #1 closed, assigned to CatherinePRO

[2020-05-20 14:15] SkinnerX7 opened #24 "Изменить структуру шаблонов писем"
Что необходимо сделать:
Изменить структуру шаблонов писем

[2020-05-20 14:18] SkinnerX7 opened #25 "Рефакторинг функций парсинга принятых сообщений"
### Пересмотреть подход к обработке сырых сообщений.
Рефакторинг алгоритмов извлечение поля "Body" из сообщения.
Интегрировать изменения в функцию:
- work_EmailLibrary.py

[2020-05-20 14:19] SkinnerX7 opened #26 "Компоновка приватных функций Email функционала"
Вынести приватные функции E-mail функционала в отдельный пакет. Адаптировать следующие функции под внесенные изменения:
- main_1_google_CheckEmail.py
- main_5_send_InformUsers.py

[2020-05-20 14:23] SkinnerX7 commented on #20
Была закрыта в прошлом репозитории

[2020-05-20 14:23] #20 closed, assigned to cyberAndrey

[2020-05-20 14:24] SkinnerX7 commented on #3
Была закрыта в прошлом репозитории

[2020-05-20 14:24] #3 closed, assigned to SkinnerX7

[2020-05-20 14:24] SkinnerX7 commented on #22
Была закрыта в прошлом репозитории

[2020-05-20 14:25] SkinnerX7 commented on #23
Была закрыта в прошлом репозитории

[2020-05-20 14:25] urec-programmec commented on #12
Задача принята
Ссылка на репозиторий - [здесь](https://github.com/Students-of-the-city-of-Kostroma/TasksOfStudents)

[2020-05-20 14:26] SkinnerX7 commented on #24
Была закрыта в прошлом репозитории

[2020-05-20 14:36] urec-programmec commented on #21
Задача неактуальна

[2020-05-20 14:46] CatherinePRO opened #27 "баг - приходит пустой letters"
в CheckUsers(letters) приходит пустой letters

[2020-05-20 15:22] CatherinePRO commented on #27
замерджено-закрыто

[2020-05-20 15:22] #27 closed, assigned to VladmirV

[2020-05-20 15:55] CatherinePRO opened #31 "баг - отсутствует код статус"
Отсутствует код статус после формирования letterResult

[2020-05-20 16:05] CatherinePRO commented on #31
замерджено-закрыто

[2020-05-20 16:05] #31 closed, assigned to SkinnerX7

[2020-05-20 16:54] CatherinePRO commented on #15
замерджено-закрыто

[2020-05-20 18:33] AnastasiVokhmyanina28 opened #34 "Автоматизация процесса разработки системы"
Настройка непрерывной интеграции
автоматизация проверки кода по стилистике кода

[2020-05-20 18:36] AnastasiVokhmyanina28 opened #35 "Доработка продукта и выкат релизной версии"
Написание службы
Развернуть службу на удаленном сервере

[2020-05-20 18:38] AnastasiVokhmyanina28 opened #36 "Тестирование"
Тестирование кода

[2020-05-20 18:39] AnastasiVokhmyanina28 opened #37 "Документация"
Написание документации для лабораторной работы Паттерн "Стратегия"

[2020-05-20 18:40] AnastasiVokhmyanina28 opened #38 "Разработка проверок лабораторных работ по паттерну "Стратегия""
Описание: задача не актуальна, сдача проекта успешно состоялось

[2020-05-20 18:47] AnastasiVokhmyanina28 opened #39 "Переписать план разработки и тестирования"
# Срок сдачи: 09.06.20
### Epic: #37
_Прогресс по задаче_:  https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/39#issuecomment-641727974

[2020-05-20 18:51] AnastasiVokhmyanina28 opened #40 "Дописать сценарии тестирования gateway"
# Срок сдачи: 23.05.20
### Epic: #37
_Пояснения_: [ссылка на документ](https://docs.google.com/spreadsheets/d/160h_F-RDIiDb4j5kd-Rqa0mxjpDZ15lUMpbGdVuPLhg/edit?usp=sharing)

[2020-05-20 18:54] AnastasiVokhmyanina28 opened #41 "Написать службу"
# Срок сдачи: 25.05.20
### Epic: #35
_Пояснения_: :)

[2020-05-20 18:57] AnastasiVokhmyanina28 opened #42 "Разработать систему логирования"
# Срок сдачи: 26.05.20
### Epic: #35
_Пояснения_:

[2020-05-20 19:01] AnastasiVokhmyanina28 opened #43 "Починить CI"
### Epic: #34
_Пояснения_:

[2020-05-20 19:04] AnastasiVokhmyanina28 opened #44 "Развернуть службу на удаленном сервере"
# Срок сдачи: 26.05.20
### Epic: #34
_Пояснения_:

[2020-05-20 19:09] AnastasiVokhmyanina28 opened #45 "Отчет по полному тестированию"
### Epic: #37
_Пояснения_: прикрепить ссылку на документ
[Документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Сервер)

[2020-05-20 19:18] AnastasiVokhmyanina28 opened #46 "Отчет по покрытию кода для Unit тестов"
### Epic: #37
_Пояснения_: прикрепить ссылку на документ

[2020-05-20 19:22] AnastasiVokhmyanina28 opened #47 "Проверка функции main"
### Epic: #38
_Пояснения_:

[2020-05-20 21:51] SkinnerX7 commented on #6
(1) CheckUsers
(2) ValidateLetters
Забрал эти функции на тестирование

[2020-05-20 22:03] SkinnerX7 commented on #4
Был принят pr, задача закрывается

[2020-05-20 22:03] #4 closed, assigned to SkinnerX7

[2020-05-21 11:18] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #36
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #37
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #34
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #35
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #26
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:18] YuriSilenok commented on #25
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #37
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #35
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #36
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #26
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #34
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:22] YuriSilenok commented on #25
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #36
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #37
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #34
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #35
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #25
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:29] YuriSilenok commented on #26
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #36
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #37
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #35
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #34
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 11:54] YuriSilenok commented on #18
Пожалуйста, добавьте описание к этой задаче

[2020-05-21 12:49] SkinnerX7 commented on #17
Были написаны сценарии тестирования на функцию FormsJSONDates()
Ссылка на [документ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-21 18:24] BlackReper086 commented on #16
Написан. Требуется проверка.

[2020-05-22 11:29] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #38
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #37
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #37
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #36
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #36
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #35
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #34
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #35
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #34
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #25
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #26
Пожалуйста, добавьте описание к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-05-22 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-05-22 11:54] cyberAndrey opened #50 "Unit-тестирование функции MakeAnswersForUsers"
Проверить тесты на соответствие [сценариям](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158) - 57 строка
При обнаружении несоответствия поднять баг

[2020-05-22 12:11] AnastasiVokhmyanina28 opened #51 "Инициализация reject-кодов"
# Срок сдачи: 09.06.20
### Epic: #35
_Пояснения_:

[2020-05-22 12:13] AnastasiVokhmyanina28 commented on #38
Задача не актуальна. создана одна общая (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/35)

[2020-05-22 12:18] AnastasiVokhmyanina28 opened #52 "Развернуть службу на удаленном сервере"
### Epic: #34
_Пояснения_:

[2020-05-22 18:45] AnastasiVokhmyanina28 commented on #44
Дублирует задачу (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/52)

[2020-05-23 10:00] cyberAndrey commented on #50
Задача выполнена
pr #54

[2020-05-23 10:00] #50 closed, assigned to cyberAndrey

[2020-05-23 11:04] SkinnerX7 opened #55 "Баг в методе Validate_Letters()"
Исправить баг:
- Заполнение CommentCodeStatus в случаях неправильного указания номера лабораторной и варианта
Не соответствие сценария и поведения самой функции
Связанные тесты: test_S_3_t7  test_S_3_t8

[2020-05-23 11:29] YuriSilenok commented on #26
Пожалуйста, добавьте веху к этой задаче

[2020-05-23 11:29] YuriSilenok commented on #25
Пожалуйста, добавьте веху к этой задаче

[2020-05-23 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-05-23 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-05-23 11:30] cyberAndrey opened #56 "Исправить баг в методе FormAnswersForUser"
При обработке методом пустого экземпляра LetterResult вылетает exception и программа падает

Так происходит, если заполнена только часть из необходимых в методе полей

[2020-05-23 12:54] #13 closed, assigned to BlackReper086

[2020-05-23 13:00] BlackReper086 commented on #56
Было исправлено при добавлении обработки кода "08"

[2020-05-23 13:01] #16 closed, assigned to BlackReper086

[2020-05-23 14:11] leshastern commented on #40
[ссылка на документ](https://docs.google.com/spreadsheets/d/160h_F-RDIiDb4j5kd-Rqa0mxjpDZ15lUMpbGdVuPLhg/edit?usp=sharing)

[2020-05-23 14:38] CatherinePRO commented on #19
test_S_6_t1
test_S_6_t2
test_S_6_t3
[В документе ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-23 14:40] CatherinePRO commented on #5
[в документе](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)
test_S_8_t1
test_S_8_t2
test_S_8_t3
test_S_8_t4

[2020-05-23 14:45] CatherinePRO opened #57 "Добавление студента в журнал"
Автоматизировать добавление студента в журнал (в случае, если он там отсутствует) на этапе выставления оценок

[2020-05-23 16:10] YuriSilenok commented on #40
Некорректно перевешивает на человека задачу, не указав что он должен с ней сделать.

[2020-05-23 16:15] YuriSilenok commented on #40
Выглядит хорошо.
Подумайте над тем, как представить информацию о том, что покрывают эти тесты.

[2020-05-23 16:34] AlbertShabrov commented on #39
Ссылка на [План разработки и тестирования функционала](https://docs.google.com/spreadsheets/d/1a_--ME6oOIIhx96Qhk0eT2gAFmpyy0wmOE6e3usJ8Dk)

[2020-05-23 17:06] leshastern commented on #39
На Review назначен @YuriSilenok

[2020-05-23 17:16] AnastasiVokhmyanina28 opened #58 "доработка модульных тестов в соответствии со сценариями"
# Срок сдачи: 26.05.20
### Epic: #36
_Пояснения_: должны быть автоматизированны все кейсы из таблицы в задаче #40

[2020-05-23 17:37] Svyat935 opened #59 "Список лабораторных работ."
Нужно выполнить эти пункты:

- [x] Придумать как оформить в подписе бота список лабораторных.

- [x] Ввести это в коде.

[2020-05-23 17:43] Svyat935 opened #60 "Указывается неверный текст сообщения в ответе на письмо отправителя в цепочке писем"
Реализация бага:

1. Отправить письмо на почту.
2. Ответить на письмо с почты.

Ожидаемый результат:
Цитата должна быть на письмо пользователя.
Результат:
Цитата произошла на письмо бота, а не на письмо пользователя.

[2020-05-23 17:51] Svyat935 opened #61 "Сценарии тестирования к модулям."
Написать сценарии тестирования к модулям.
[Пример реализации](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

Документ положить в информацию на google drive.

[2020-05-23 17:54] Svyat935 opened #62 "Непрервная интеграция Azura или Travis"
Непрерывная интеграция(автоматические пре-релизы и автотесты) должны быть исправлены на Azure, или перейти на Travis.

- [x] Настроить автотесты.

- [x] Настроить авто-выкат пре-релиза

- [x] Настроить идентификаторы в автотестах

- [x] Продемонстрировать работу тимлиду

[2020-05-23 17:58] Svyat935 opened #63 "Отчет по тестированию."
Выполнить отчет по тестированию пре-релиза v.0.0.0.10.

Полезные ссылки:
[Презентация](https://docs.google.com/presentation/d/1JMExLGZyFPtQcOfz5fJFjTx-9jVvsIii6Lavm7TBQcA/edit#slide=id.p1)
[Пример в excel](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

[2020-05-23 18:00] Svyat935 opened #64 "Улучшить валидацию."
Улучшить всю валидацию:

- [x] Увеличить выборку валидных примеров.

- [x] Прикрутить регулярные выражения

[2020-05-23 18:01] Svyat935 opened #65 "Написать инструкцию по пользованию системы."
Требуется написать инструкцию по пользованию системы, которая будет описывать варианты пользования для пользователя.
Документ положить на google drive

[2020-05-23 18:05] Svyat935 opened #66 "Закомментировать код."
Закоментировать все модули и пакеты в проекте.

[2020-05-23 18:10] Svyat935 opened #67 "Поправить модули в APIgoogle."
Нужно поправить модули:

- [x] add_table

- [x] search_dolgi

Поправить обращение к Excel, чтобы не было лишних временных затрат.

[2020-05-23 18:39] Svyat935 opened #68 "Поправить методы на основе новой таблицы."
Подправить методы связанные с поиском, добавлением, просчетом долгов на основе нового вида таблицы.

[2020-05-24 07:17] YuriSilenok commented on #39
Эта фраза должна была быть в виде просьбы.
Это не связано с требованиями лично ко мне.
Это часть любой корпоративной этики.
То есть, Ваша фраза должна выглядеть приблизительно следующим образом.

В идеальном случае, нужно поздороваться и сказать спасибо, как в письме.

[2020-05-24 07:18] YuriSilenok commented on #39
если вы публикуете важные материалы в комментариях, они должны дублироваться в описание задачи

[2020-05-24 07:22] YuriSilenok commented on #39
В целом мне непонятно какие мне (как пользователю) функции разрабатывались и протестировались. по сути вы создали документ в котором расписали цели и задачи каждого спринта. Это не совсем то, так как у нас много всего косвенного в них и формулировки относятся не к функциям пользователя, а к методам ваших классов, вообщем к архитектуре.

[2020-05-24 08:03] YuriSilenok commented on #57
Пожалуйста, добавьте веху к этой задаче

[2020-05-24 08:03] YuriSilenok commented on #26
Пожалуйста, добавьте веху к этой задаче

[2020-05-24 08:03] YuriSilenok commented on #25
Пожалуйста, добавьте веху к этой задаче

[2020-05-24 08:03] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-05-24 08:03] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-05-24 11:18] cyberAndrey opened #71 "Дополнить тесты метода AnswersForUser"
В связи с доработкой кода стасом нужно внести пару измениний

[2020-05-24 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-05-24 11:29] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-05-24 11:53] YuriSilenok opened #72 "Нарушено правило именования вех"
['Спринт 10 (18-ISbo-2b)', 'Sprint 8 (18-VTbo-1а) ', 'Спринт 10 (18-ИСбо-2а)']

Приведите имена вех в соответсвии с регулярным выражением
 `(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-24 12:05] SkinnerX7 commented on #18
Задача закрывается - дублирование задачи #17

[2020-05-24 17:58] urec-programmec commented on #17
Задача принята

[2020-05-24 17:58] #17 closed, assigned to Progoger, SkinnerX7

[2020-05-24 18:24] urec-programmec commented on #19
Задача принята

[2020-05-24 18:24] #19 closed, assigned to CatherinePRO

[2020-05-24 18:28] urec-programmec commented on #5
Задача принята

[2020-05-24 18:28] #5 closed, assigned to CatherinePRO

[2020-05-24 20:06] SkinnerX7 commented on #6
На функции
- CheckUsers()
- ValidateLetters()
Были написаны unittest'ы

[2020-05-25 08:25] Progoger commented on #10
Исправил баг
Если ссылка в письме некорректна, то меняю код статус письма на "08"

[2020-05-25 09:10] Progoger commented on #11
Файл написан и ожидает проверки (https://docs.google.com/document/d/1yfVSkWyUUPvF0am4xv9aU-zMeoq3EdUBfSxAPWvCxP0/edit?usp=sharing)

[2020-05-25 11:05] cyberAndrey opened #79 "Unit-тесты на функцию SetMarks"
Написать тесты по [сценариям тестирования](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158) строка 64

[2020-05-25 15:48] CatherinePRO opened #81 "Обновление для таблиц"
Возвращаю последние изменения для работы с таблицами

[2020-05-25 16:02] CatherinePRO commented on #81
замерджено - закрыто

[2020-05-25 16:02] #81 closed, assigned to CatherinePRO

[2020-05-25 16:30] urec-programmec commented on #11
Макс
Задачу принял
Андрей
Внеси в документ по правилам написания писем

[2020-05-25 16:45] VladmirV commented on #7
Реализованы сценарии на функцию SendLetters: [ссылка](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)
@urec-programmec, ожидаю проверки.

[2020-05-25 16:48] urec-programmec commented on #7
Вопрос обсудили

[2020-05-25 16:48] VladmirV opened #83 "Реализовать unit-тесты на функцию SendLetters"
Реализовать unit-тест на функцию SendLetters с основной на сценарии по [ссылке](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-25 16:50] VladmirV opened #84 "Реализовать unit-тесты на функцию FormListWithLetters"
Реализовать unit-тесты на функцию FormListWithLetters с основой на сценарии по [ссылке ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-25 16:53] VladmirV commented on #83
Создана ветка issue-83

[2020-05-25 18:46] VladmirV commented on #83
Юнит-тесты реализованы

[2020-05-25 18:46] VladmirV commented on #83
Завершаю выполнение задачи.

[2020-05-25 19:08] VladmirV commented on #6
Написаны тесты на функции:
- SendLetters #83
- FormListWithLetters #84

[2020-05-25 20:24] YuriSilenok opened #86 "[Дубликат] Нарушено правило именования вех."
['Спринт 10 (18-ISbo-2b)', 'Sprint 8 (18-VTbo-1а) ', 'Sprint 10 (18-ИСбо-2а)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-25 21:06] #86 closed, assigned to Svyat935, urec-programmec, AnastasiVokhmyanina28, avilova

[2020-05-25 21:07] YuriSilenok commented on #86
дубликат

[2020-05-25 21:15] #83 closed, assigned to VladmirV

[2020-05-25 21:16] #7 closed, assigned to VladmirV

[2020-05-26 06:02] YuriSilenok commented on #72
['Sprint 8 (18-VTbo-1а)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-26 08:07] SkinnerX7 opened #89 "Сценарии на функцию MakeAnswersForUsers()"
Переделать сценарии на функцию MakeAnswersForUsers(): [документ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-26 08:42] SkinnerX7 opened #90 "Unittest'ы на функцию LettersConvertToString()"
Что требуется:
- Посмотреть текущие unittest'ы на функцию
- Написать новые unittest'ы в соответствии со [сценариями](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-26 08:44] SkinnerX7 opened #91 "Unittest'ы на функцию FormJSONDates()"
Что требуется:
- Посмотреть текущие unittest'ы на функцию
- Написать новые unittest'ы в соответствии со [сценариями](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-26 08:47] SkinnerX7 opened #92 "Unittest'ы на функцию MakeAnswersForUsers()"
Что требуется:
- Написать новые unittest'ы в соответствии со [сценариями](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-26 09:59] YuriSilenok commented on #72
@18VTa не не используйте русские символы в обозначении вашей подгруппы, я чуть глаза себе не сломал пытаясь понять почему регулярка на вас не сработала

[2020-05-26 12:04] urec-programmec opened #93 "Скрипт - инсталлер"
Разработать консольный скрипт, устанавливающий и развёртывающий проект на машине.

Моделирование работы скрипта:
- получить изменения из ветки dev
- докачать необходимые файлы
- запустить все необходимые службы
- закрыться

[2020-05-26 13:50] SkinnerX7 commented on #89
Готово для проверки
[Ссылка на документ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-26 16:07] DanilKozlov00 opened #94 "Доделать проект для работы с группой ИС"
Соединить наш проект 18-ВТ с группой 18-ИС, проверить работоспособность, в случае ошибок разработать пути их решения, по возможности решить

[2020-05-26 16:13] SkinnerX7 commented on #91
Был принят pr, задача закрывается

[2020-05-26 16:13] #91 closed, assigned to SkinnerX7

[2020-05-26 17:06] #71 closed, assigned to cyberAndrey

[2020-05-26 17:08] urec-programmec opened #97 "Рефакторинг кода проекта"
Поправить многие места в коде

- удалить старый и неактуальный функционал
- поправить комментарии
- удалить ненужные файлы, сократить проект

[2020-05-26 17:14] MaksimBukhanov commented on #41
Приняли решение использовать утилиту start-stop-daemon в Ubuntu.
[Пользовательская документация start-stop-daemon](https://help.ubuntu.ru/wiki/start-stop-daemon)

[2020-05-26 17:36] urec-programmec commented on #89
Отписал по комментариям

[2020-05-26 18:13] vvtatyana opened #98 "Разработать сценарий лабораторной работы №5"
Написать 15 вариантов лабораторной работы
[Сценарий лабораторной работы №5](https://docs.google.com/document/d/16mrQO3Pw7Gpfej-ETHbZbrOQ2vOeJlMRjL0jliKbqPY/edit)

[2020-05-26 18:14] #41 closed, assigned to MaksimBukhanov

[2020-05-26 18:55] AnastasiVokhmyanina28 opened #101 "Восстановление проверки Context"
# Срок сдачи: 26.05.20
### Epic: #35
_Пояснения_: не успели смержить до удаления репозитория

[2020-05-26 19:00] #58 closed, assigned to leshastern

[2020-05-26 19:54] urec-programmec opened #104 "Переделать сценарии на функцию ValidateLetters"
Раскрыть подробно объекты (выписать все ключевые важные, требующиеся для работы функции или изменяющиеся в ней поля) в столбце Inputs
Ссылка на [документ](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit?usp=sharing)

[2020-05-26 21:07] MaksimBukhanov commented on #42
Pull Request #100

[2020-05-26 21:07] #42 closed, assigned to MaksimBukhanov

[2020-05-26 21:09] MaksimBukhanov commented on #101
Pull Request #102

[2020-05-26 21:09] #101 closed, assigned to MaksimBukhanov

[2020-05-26 21:46] urec-programmec commented on #89
Задача принимается

[2020-05-26 21:46] #89 closed, assigned to SkinnerX7

[2020-05-26 22:13] SkinnerX7 opened #107 "Исправление бага в work_PatternsOfLetter"
Баг в class ForTeacher(BasePattern)
интовые параметры не преобразует в строку

[2020-05-26 22:26] SkinnerX7 opened #109 "Функция LettersConvertToString() возвращает из репозитория ФИ, однако в проекте все студенты имеют ФИО"
Проблема заключается в том, что в проекте все студенты значатся как ФИО, однако когда студенты будут заливать свои файлы на гит, то могут написать только ФИ. Поэтому есть два решения проблемы: извлекать внутри метода LettersConvertToString() фамилию и имя или дописать правила оформления файлов на гите

[2020-05-26 22:30] #92 closed, assigned to SkinnerX7

[2020-05-26 22:30] SkinnerX7 commented on #91
Связанная задача #6

[2020-05-26 22:30] SkinnerX7 commented on #92
Связанная задача #6

[2020-05-26 22:31] SkinnerX7 commented on #90
Связанная задача #6

[2020-05-26 22:31] SkinnerX7 commented on #84
Связанная задача #6

[2020-05-26 22:31] SkinnerX7 commented on #79
Связанная задача #6

[2020-05-26 22:40] urec-programmec commented on #97
Задача закрывается, т.к. была реализована

[2020-05-26 22:44] SkinnerX7 opened #111 "Заполнение документа-отчета по unittest'ам"
- Заполнить статистику по unittest'ам
- Bug report
- Проверить соответствие сценариев и тестов, заполнить баги в сценариях

[2020-05-27 06:02] YuriSilenok commented on #72
Все вехи корректны

[2020-05-27 06:02] #72 closed, assigned to Svyat935, urec-programmec, AnastasiVokhmyanina28, avilova

[2020-05-27 09:35] Dudka567 commented on #94
Присутствовал при соединении клиента с сервером. Все прошло успешно. Уверяю!

[2020-05-27 09:35] Llouqs commented on #94
Присутствовал при соединении клиента с сервером

[2020-05-27 09:35] avilova commented on #98
Проверено

[2020-05-27 09:35] #94 closed, assigned to Llouqs, Dudka567, DanilKozlov00, avilova

[2020-05-27 09:42] #98 closed, assigned to vvtatyana, avilova

[2020-05-27 11:41] ghost commented on #45
[Документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki/Сервер)

[2020-05-27 12:17] YuriSilenok commented on #14
Какие есть обновления по этой задаче?

[2020-05-27 12:29] YuriSilenok opened #115 "Нарушено правило именования веток"
['merge_18-ISbo-2b', 'merge_18-ISbo-2b_1']

[2020-05-27 12:30] YuriSilenok commented on #115
Немного формулировку изменю относительно промежуточных веток мержа

[2020-05-27 16:33] #107 closed, assigned to BlackReper086

[2020-05-27 18:00] YuriSilenok commented on #45
Против какой версии выполнялись тесты для которых был составлен отчет?
Каким образом в википедии вы будете учитывать версии?
Разве я не давал табличный шаблон отчета в котором была указана версия?

[2020-05-27 20:26] Progoger opened #119 "Баг в файле main_2_WorkWithLetters в методе LettersConvertToString() с полем Body"
Баг в методе LettersConvertToString() файла main_2_WorkWithLetters. Сценарий test_S_4_t4 отрабатывает неверно. Описание - проверка письма с ссылкой не на ту папку( с другой лабораторной). Результатом должно быть - Объект класса Letter, если в папке есть файл с ФИО студента, тогда в поле Body код программы для другой лабораторной, иначе с теми же параметрами. В результате теста поле Body становится

[2020-05-27 20:29] Progoger commented on #109
Можете пояснить в чём заключается баг и продемонстрировать его?

[2020-05-27 21:00] YuriSilenok commented on #119
Заголовок бага не должно указывать что нужно сделать, оно должно отвечать на три вопроса.
Что не работает?
Где не работает?
Когда не работает?
Соответственно без упоминания слова не работает. А содержимое бага должен содержать сценарий позволяющий воспроизвести сбой. А так же набор данных получаемых при этом. Скрины, логи и т.д.

[2020-05-27 21:02] YuriSilenok commented on #109
Заголовок бага не должно указывать что нужно сделать, оно должно отвечать на три вопроса.
Что не работает?
Где не работает?
Когда не работает?
Соответственно без упоминания слова не работает. А содержимое бага должен содержать сценарий позволяющий воспроизвести сбой. А так же набор данных получаемых при этом. Скрины, логи и т.д.

[2020-05-28 06:36] YuriSilenok commented on #14
В ветке issue-14 давно не было активности

[2020-05-28 06:36] YuriSilenok commented on #67
В ветке issue-67 давно не было активности

[2020-05-28 06:36] YuriSilenok commented on #68
В ветке issue-68 давно не было активности

[2020-05-28 09:14] YuriSilenok opened #121 "[Дубликат] Нарушено правило именования вех"
[]

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-28 09:14] YuriSilenok commented on #115
['18-ISbo-2a', '18-ISbo-2b', '18-VTbo-1a', '18-VTbo-1b']

Приведите имена веток в соответсвие

[2020-05-28 12:18] YuriSilenok commented on #121
Ошибка в скрипте

[2020-05-28 12:21] YuriSilenok commented on #115
Похоже что я сломал скрипт

[2020-05-28 13:44] VladmirV commented on #9
Сценарии на функцию FormsListWithLetters написаны по [ссылке](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)
@SkinnerX7 , ожидаю проверку.

[2020-05-28 14:24] 0Meridian0 commented on #60
в ходе работы с задачей #59  баг не был выявлен

[2020-05-28 14:41] SkinnerX7 commented on #55
Открываю снова задачу, баг не исправлен
![image](https://user-images.githubusercontent.com/55276061/83155960-7b623500-a10a-11ea-8fa6-8d4e48d80208.png)

[2020-05-28 15:09] YuriSilenok commented on #121
Ошибка исправлена

[2020-05-28 15:09] #121 closed, assigned to YuriSilenok

[2020-05-28 15:11] cyberAndrey commented on #104
Задание выполнено

[2020-05-28 15:11] #104 closed, assigned to cyberAndrey

[2020-05-28 15:21] YuriSilenok commented on #115
Починил

[2020-05-28 15:21] #115 closed, assigned to YuriSilenok

[2020-05-28 15:33] YuriSilenok commented on #55
Баги должен закрывать тот, кто его открыл, именно он решает, исправлен баг или нет

[2020-05-28 15:35] YuriSilenok commented on #60
Заголовок бага не должен содержать предписания о том, что нужно сделать.

[2020-05-28 15:40] 0Meridian0 commented on #60
@YuriSilenok, заголовок исправлен

[2020-05-28 15:44] YuriSilenok commented on #60
Заголовок бага должен отвечать на три вопроса. Что? Где? Когда?
Ознакомьтесь с [этим](https://m.habr.com/ru/company/docsvision/blog/264163/) документом

[2020-05-28 16:07] SkinnerX7 commented on #9
Принял

[2020-05-28 16:07] #9 closed, assigned to VladmirV

[2020-05-28 16:13] VladmirV commented on #84
Приступил к выполнению

[2020-05-28 16:13] VladmirV commented on #84
Создана ветка issue-84

[2020-05-28 16:24] 0Meridian0 commented on #60
@YuriSilenok, исправлено

[2020-05-28 17:05] SkinnerX7 opened #123 "Баг в FormListWithLetters с письмом с вложениями"
Обработка курсивного письма перекрывает функционал работы с вложениями

[2020-05-28 17:08] SkinnerX7 opened #124 "Баг в FormListWithLetters письмо только с цифрами/символами в теле"
Исправить баг с письмом, в котором только цифры/символы в теле

[2020-05-28 17:23] YuriSilenok commented on #124
В заголовке не указывают версию, для этого есть описание, комментарии и обязательно метки

[2020-05-28 17:24] YuriSilenok commented on #124
Не нужно писать что что-то нужно исправить. Вы просто описываете квочпроищвести сбой и если возможно описываете рбзоднрй сценарий

[2020-05-28 17:25] YuriSilenok commented on #123
Убрать версию из заголовка, описание оформить как положено

[2020-05-28 18:05] SkinnerX7 commented on #111
@urec-programmec, проверь заполнение [документа](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-05-28 19:23] MaXL2000 commented on #64
Попытался добавить регулярки в метод валидации. Не смог подобрать оптимальные регулярные выражения для корректной валидации приветствия, подписи и номера лабораторной.

[2020-05-28 19:25] YuriSilenok commented on #64
Покажите варианты для которых вы составляет регулярку и те регулярки, которые у вас получились

[2020-05-28 20:15] magnitola commented on #65
Задача выполнена. Найти написанный документ можно [*здесь*](https://docs.google.com/document/d/1hBDNeyM34TOxDyIQziurNWDs2Et8xog09v4E2tLGs9Y/edit)

[2020-05-28 20:32] #66 closed, assigned to Svyat935, ShapovalovQ

[2020-05-28 20:34] Svyat935 commented on #68
Не было - по причине выполнения.

[2020-05-28 20:34] Svyat935 commented on #68
Задача выполнена.

[2020-05-28 20:34] #68 closed, assigned to Svyat935, MaJishpro

[2020-05-28 20:39] Svyat935 commented on #67
Не было активности по причине её выполнения.

[2020-05-28 20:39] Svyat935 commented on #67
Задача выполнена.

[2020-05-28 20:39] #67 closed, assigned to Svyat935, MaJishpro

[2020-05-28 20:49] #60 closed, assigned to Svyat935, 0Meridian0

[2020-05-28 22:52] LegendaRepa commented on #63
Был написан отчет о тестировании, доступен по [этой ссылке](https://docs.google.com/spreadsheets/d/1eIdSnxK18t0z_uImSGkyt4bOVZ5Ft3EX_A-tTElHM90/edit#gid=0)
Для тестов использовались [данные сценарии](https://docs.google.com/spreadsheets/d/1z9PipsTgDDl6ThdCMPsLjjg5Ial9JdCBzd0NXQ1jHrI/edit#gid=0)

P.S. По глупости спросонья удалил ваш комментарий, хотел найти кнопку ответа на него, но не получилось

[2020-05-29 05:35] #59 closed, assigned to Svyat935, 0Meridian0

[2020-05-29 05:45] YuriSilenok commented on #63
В сценариях так же нужно указывать для какого релиза вы указываете статус выполнения теста

[2020-05-29 06:02] YuriSilenok opened #127 "[Дубликат] Нарушено правило именования вех"
[]

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-29 06:02] YuriSilenok opened #128 "[Дубликат] Нарушено правило именования веток"
['18-ISbo-2a', '18-ISbo-2b', '18-VTbo-1a', '18-VTbo-1b']

Приведите имена веток в соответсвие

[2020-05-29 06:22] YuriSilenok commented on #65
Данный документ разместить в вашей рабочей папке под именем READMY.md

[2020-05-29 07:54] DanilKozlov00 opened #129 "Переделать код на один конфиг портов"
Переделать метод считывания порта из файла на общий конфиг-файл labs.xml

[2020-05-29 08:34] YuriSilenok commented on #127
что-то снова пошло не так

[2020-05-29 08:38] #127 closed, assigned to YuriSilenok

[2020-05-29 08:41] YuriSilenok commented on #128
Скрипт не был обновлен,
Обновлен

[2020-05-29 08:41] #128 closed, assigned to YuriSilenok

[2020-05-29 08:48] YuriSilenok commented on #129
Пожалуйста, добавьте описание к этой задаче

[2020-05-29 20:17] VladmirV commented on #84
Реализованы тесты по [сценариям](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)
Результат:
![image](https://user-images.githubusercontent.com/55273743/83301517-7a143380-a202-11ea-8eb8-80329e670c06.png)

[2020-05-29 20:31] VladmirV commented on #26
Приступаю к выполнению

[2020-05-29 20:31] VladmirV commented on #26
Создана ветка issue-26

[2020-05-29 20:54] VladmirV commented on #26
Завершаю выполнение задачи

[2020-05-29 21:26] #84 closed, assigned to VladmirV

[2020-05-30 10:17] SkinnerX7 commented on #90
Задача закрывается, принят pr

[2020-05-30 13:06] cyberAndrey opened #135 "Написание логирования"
Создание логов для функций по [этим](https://docs.google.com/spreadsheets/d/1_0wGJbMO4SctmNRMTFkDYaOhgvOVKfpT8hklMQCNxEg/edit#gid=0) правилам
Файл логов создается на каждую итерацию цикла
Файлы логов стираются из папки каждые 24 часа

[2020-05-30 21:28] Svyat935 opened #136 "Инсталятор для проекта."
В корне проекта лежит файл install.sh
Пользователь должен его скрыть самостоятельно и запустить для дальнейшей установки. Об этом должно быть написано в файле readmy.md в репозитории.

В папке где запускается скрипт install.sh скрипт проверяет что существует папка releases. Если она отсутствует, она должна быть создана.

Если установка первая, то есть в папке releases нет папок, то скрипт должен п

[2020-05-30 21:31] Svyat935 opened #137 "Падает ошибка в main.py при обращении к pattern.py"
Узнать в чем проблема падения при отправки письма в main.py.

Стоит заметить: падение происходит после обращение к pattern. Вероятно дело добавление новой переменной.

[2020-05-30 21:33] Svyat935 commented on #64
В помощь добавляется Никита Обидин.

[2020-05-31 06:02] YuriSilenok opened #139 "[Дубликат] Нарушено правило именования вех"
['Sprint 11 (18-ИСбо-2а)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-05-31 08:47] #139 closed, assigned to Svyat935, urec-programmec, AnastasiVokhmyanina28, avilova

[2020-05-31 15:00] cyberAndrey commented on #135
По заданию предусматривалась реализация уровней debug & info
принцип работы описан [здесь](https://docs.google.com/document/d/1LJK7G0RX6O27gQQrrbMjcyPpTepc0KcdY-CICCTqH3M/edit)

[2020-05-31 18:08] YuriSilenok commented on #135
Могу предложить не удалять логи, а давать им названия текущего дня.
Таким образом будет возможность получить логи если проблема обнаружиться на следующий день и позднее.

[2020-05-31 18:11] YuriSilenok commented on #135
И мне из описания задачи не совсем понятно, в результате реализации этой задачи будет только документ или код или можеь быть план по которому было бы понятно что нужно покрыть и что уже покрто, если что-то покрыто.

[2020-05-31 18:15] YuriSilenok commented on #64
ссылка не работает и нет связанного запроса на слияние

[2020-05-31 18:17] YuriSilenok commented on #137
Зависит ли это от текста письма, если да, то стоит привести пример того, что отправляется.
Если вы наблюдали падение на локальном энве, хорошо прикрепить логи

[2020-05-31 18:19] YuriSilenok commented on #136
Метка для этой задачи означает что инсталятор должен будет развернуть версию 0.0.0.7 ?

[2020-05-31 18:22] YuriSilenok commented on #6
Пожалуйста, приведите статистику покрытия тестами проекта и в часности покрытых методов

[2020-05-31 20:44] SkinnerX7 commented on #6
Статистика по unittest'ам находится [здесь](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit#gid=208599158)

[2020-06-01 04:54] YuriSilenok commented on #6
Это статистика по автоматизации, на неё так же нужно было оствать ссылку. Я спрашивал статистику по покрытия код. Она будет говорить о полноте ваших тестов.

[2020-06-01 05:07] YuriSilenok commented on #26
Во втором коммит вы писали что исправили баг, что это за баг?

[2020-06-01 08:01] DanilKozlov00 opened #140 "Проверить работоспособность непрерывной интеграции"
Проверить работает ли travis CL

[2020-06-01 08:01] DanilKozlov00 commented on #140
[Интеграция](https://travis-ci.org/github/Students-of-the-city-of-Kostroma/trpo_automation/builds/692832001) запускается, все работае

[2020-06-01 08:18] MaJishpro commented on #64
Переписал метод валидации с применением регулярных выражений [Посмотреть здесь](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/blob/issue-64/email/18-ISbo-2a/Validation.py)

[2020-06-01 08:26] YuriSilenok commented on #64
Нехорошо удалять комментарии, его нужно было отредактировать, а на мой комментарий ответить, что исправлено

А почему ссылка ведет на ветку группы, разве вы не вносили какие-то изменения в отдельную ветку которая должна проверятся запросом на слияние?

[2020-06-01 09:04] VladmirV commented on #26
Скорее всего не так выразился. В первом коммите упустил одну строчку импорта. Во втором добавил ее.

[2020-06-01 09:06] VladmirV commented on #25
Приступаю к выполнению

[2020-06-01 09:06] VladmirV commented on #25
Создана ветка issue-25

[2020-06-01 10:16] VladmirV commented on #25
Завершаю выполнение

[2020-06-01 10:22] VladmirV commented on #123
Закрыто по причине потери актуальности.
Баг перекрыт функционалом задачи #25

[2020-06-01 10:22] #123 closed, assigned to VladmirV

[2020-06-01 10:23] VladmirV commented on #124
Закрыто по причине потери актуальности.
Баг перекрыт функционалом #25

[2020-06-01 10:23] #124 closed, assigned to VladmirV

[2020-06-01 10:40] YuriSilenok opened #142 "Настроить CI на Travis"
Вы можете проконсультироваться с Алексеем Жуковым относительно настройки CI на Travis

[2020-06-01 10:45] YuriSilenok commented on #25
Если вы что-то оптимизируете, значит должны быть количественные замеры работы чего-то до оптимизации и после оптимизации.

[2020-06-01 10:57] DanilKozlov00 opened #143 "Настроить Travis для работы с подгруппой 18-VTbo-1a"
Создать конфиг позволяющий использовать "правильный" файл конфигурации относительно ветки

[2020-06-01 11:09] DanilKozlov00 opened #145 "Исправить ошибку в методе check_milestone()"
Метод  check_milestone() работает некорректно, нет перехода на страницу спринта

[2020-06-01 11:13] YuriSilenok commented on #145
Видимо это баг, для какого релиза воспроизводится этот баг?

[2020-06-01 11:14] YuriSilenok commented on #26
Избегайте слово баг, оно должно присутствовать в метках. В вашем случае вы исправили синтаксические ошибки или добавили импорт пакета

[2020-06-01 11:15] #26 closed, assigned to VladmirV

[2020-06-01 11:42] cyberAndrey commented on #135
Хорошая идея не удалять их, сделаю через нумерацию дня
Будет код, а что им покрывать нужно решать совместно

[2020-06-01 11:45] MaJishpro commented on #64
Я залил изменения на ветку issue-64 . А запрос на слияние мне сказали пока не делать.

[2020-06-01 11:47] DanilKozlov00 opened #147 "Проверить настройку файла .travis"
Сделать конфигурацию для ветки dev

[2020-06-01 14:39] SkinnerX7 commented on #6
Отчёт по покрытию проекта:
[01.06.2020_Покрытие](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/files/4711843/01.06.2020_.zip)
![image](https://user-images.githubusercontent.com/55276061/83419982-998fa400-a42e-11ea-91e7-7838ea39303e.png)

[2020-06-01 15:31] #6 closed, assigned to Progoger, cyberAndrey, VladmirV, SkinnerX7

[2020-06-01 15:50] cyberAndrey commented on #11
Изменения [внесены](https://docs.google.com/document/d/1YMtlwsImBzR1ONhY6hH0VZnonpRmHM9UZ0glsG8sMLA/edit)

[2020-06-01 17:21] Svyat935 commented on #136
В данный момент да. При нужно потом можно будет привязать следующий пре-релиз.

[2020-06-01 19:43] #25 closed, assigned to VladmirV

[2020-06-01 20:26] 0Meridian0 commented on #137
проблема кроется в том, что словарь валидации просто не передается
![image](https://user-images.githubusercontent.com/54988303/83451141-2a7e7380-a45f-11ea-9e19-6c2883cb25c9.png)
![image](https://user-images.githubusercontent.com/54988303/83451159-32d6ae80-a45f-11ea-8bec-9a23bb23607e.png)

[2020-06-02 05:26] urec-programmec commented on #11
@cyberAndrey
Не нашёл в твоём документе материалов из  [этого](https://docs.google.com/document/d/1yfVSkWyUUPvF0am4xv9aU-zMeoq3EdUBfSxAPWvCxP0/edit?usp=sharing)
Внести нужно было правила ссылок на ресурсы

[2020-06-02 05:45] urec-programmec commented on #111
Задача принята

[2020-06-02 05:45] #111 closed, assigned to SkinnerX7

[2020-06-02 05:52] #56 closed, assigned to BlackReper086

[2020-06-02 06:02] YuriSilenok commented on #47
Какие есть обновления по этой задаче?

[2020-06-02 06:02] YuriSilenok commented on #10
В ветке issue-10 давно не было активности

[2020-06-02 06:02] YuriSilenok commented on #14
В ветке issue-14 давно не было активности

[2020-06-02 08:03] #147 closed, assigned to DanilKozlov00

[2020-06-02 09:11] SkinnerX7 opened #154 "Тестирование релиза v.0.0.0.8"
Что необходимо:
- тестирование нового релиза всеми тестами, подготовка отчёта о тестировании, отчёта о покрытии

[2020-06-02 10:54] AlbertShabrov commented on #47
Задача выполнена

[2020-06-02 10:54] #47 closed, assigned to AlbertShabrov

[2020-06-02 15:23] #140 closed, assigned to DanilKozlov00

[2020-06-02 22:32] cyberAndrey opened #157 "Покрытие функций логированием"
Оформить логирование всех имеющихся функций проекта

[2020-06-03 06:02] YuriSilenok commented on #93
Какие есть обновления по этой задаче?

[2020-06-03 06:02] YuriSilenok opened #158 "Нарушено правило именования веток"
['Issue-129']

Приведите имена веток в соответсвие

[2020-06-03 09:10] AnastasiVokhmyanina28 opened #160 "Покрыть логами strategylab"
### Epic: #35
_Пояснения_:

[2020-06-03 11:26] urec-programmec commented on #93
Включил дешифрование токенов и хранение их в зашифрованном виде на github

[2020-06-03 11:30] urec-programmec commented on #135
Задача принята

[2020-06-03 11:32] urec-programmec commented on #57
Задача принята.
Отдано на тестирование

[2020-06-03 11:35] MaksimBukhanov commented on #160
Нужно переделать.

[2020-06-03 11:35] #160 closed, assigned to MaksimBukhanov

[2020-06-03 15:54] SkinnerX7 opened #163 "Поправление порядка выполнения unittest'ов SetMarks"
Что необходимо:
- поправить порядок выполнения тестов
- добавить документацию к четвертому тесту

[2020-06-03 16:14] Progoger opened #164 "Написание unit-теста на покрытие сценария test_S_4_t6"
Написать юнит-тест для метода LettersConvertToString(), по сценарию test_S_4_t6.
В поле Body пустые данные, ожидаемый результат - изменения поля CodeStatus на "08".

[2020-06-03 17:47] avilova commented on #129
проверено

[2020-06-03 17:47] avilova commented on #143
проверено

[2020-06-03 17:48] avilova commented on #145
проверено

[2020-06-03 18:15] AnastasiVokhmyanina28 opened #166 "Создать 3 эталонных репозитория"
# Срок сдачи: 05.06.20
### Epic: #35
_Пояснения_:
[Ссылка на первый репозиторий](https://github.com/leshastern/strategy1)
[Ссылка на второй репозиторий](https://github.com/leshastern/strategy2)
[Ссылка на третий репозиторий](https://github.com/leshastern/strategy4)

[2020-06-03 18:22] AnastasiVokhmyanina28 opened #167 "Написать службу для проекта"
# Срок сдачи: 13.06.20
### Epic: #35
_Пояснения_: Нужно чтобы наш проект на сервере в 322 аудитории крутился как служба, то есть работал в фоновом режиме, с помощью определенных команд его можно было бы включить или выключить, запускался вместе с системой

[2020-06-03 18:24] AnastasiVokhmyanina28 opened #168 "Убрать приветственное сообщение при подключении клиента к серверу"
# Срок сдачи: 05.06.20
### Epic: #35
_Пояснения_:

[2020-06-03 18:29] AnastasiVokhmyanina28 opened #169 "Вернуть CI на путь истинный"
_Пояснения_:

- [ ] поставить последнюю версию QT
- [x] проверить работу стадии компиляции
- [ ] настроить deploy стадию для выкатов пре-релизов на dev

[2020-06-03 18:33] AnastasiVokhmyanina28 opened #170 "Выявить стилистические ошибки"
# Срок сдачи: 11.06.20
### Epic: #34
_Пояснения_: пробежаться по всему коду, он должен соответствовать принятым стандартам

[2020-06-03 18:36] AnastasiVokhmyanina28 opened #171 "Пройтись по классу Strategy и проверить на наличие ошибок"
# Срок сдачи: 06.06.20
### Epic: #35
_Пояснения_:

[2020-06-03 18:39] AnastasiVokhmyanina28 commented on #52
объединена с задачей (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/167)

[2020-06-03 18:39] #52 closed, assigned to AlbertShabrov

[2020-06-03 18:40] AnastasiVokhmyanina28 commented on #43
Объединена с задачей (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/169)

[2020-06-03 18:40] #43 closed, assigned to Someone-dono

[2020-06-03 18:43] #145 closed, assigned to DanilKozlov00

[2020-06-03 18:43] #143 closed, assigned to DanilKozlov00

[2020-06-03 18:54] AnastasiVokhmyanina28 opened #172 "Разработать сценарий для функционального тестирования проверки класса-родителя"
### Epic: #36
_Пояснения_: Разработать сценарии для функционального тестирования метода StrategyLab::checkParentChildrenRelations();

[2020-06-03 18:55] AnastasiVokhmyanina28 opened #173 "Разработать сценарий для функционального тестирования проверки класса-детей"
### Epic: #36
_Пояснения_: Разработать сценарии для функционального тестирования метода StrategyLab::checkChildren();

[2020-06-03 18:55] AnastasiVokhmyanina28 opened #174 "Разделить проверку родителя и детей на 2 метода"
# Срок сдачи: 05.06.20
### Epic: #36
_Пояснения_:

[2020-06-03 19:00] AnastasiVokhmyanina28 opened #175 "Покрыть тестами методы проверок класса-ребенка"
### Epic: #36
_Пояснения_: покрыть на основе [сценариев](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-03 19:03] AnastasiVokhmyanina28 opened #176 "Покрыть тестами методы проверок класса-родителя"
### Epic: #36
_Пояснения_: покрыть тестами на основе [сценариев](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-03 19:04] AnastasiVokhmyanina28 opened #177 "Интеграция с клиентом"
# Срок сдачи: 08.06.20
### Epic: #36
_Пояснения_:

[2020-06-03 19:07] AnastasiVokhmyanina28 opened #178 "Разработать сценарии для тестирования методов проверки main"
# Срок сдачи: 09.06.20
### Epic: #36
_Пояснения_: Сценарии тестирования разработаны, результаты можно посмотреть [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-03 19:08] AnastasiVokhmyanina28 opened #179 "Разработать сценарии для тестирования методов проверки по конфигу"
# Срок сдачи: 09.06.20
### Epic: #36
_Пояснения_: [документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-03 19:16] AnastasiVokhmyanina28 opened #180 "Исправить таблицу сценариев тестирования"
# Срок сдачи: 09.06.20
### Epic: #36
_Пояснения_: [Ссылка на документ](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-03 19:19] AnastasiVokhmyanina28 opened #181 "Допустить создание пререлиза при появлении ошибок"
# Срок сдачи: 07.06.20
### Epic: #34
_Пояснения_:

[2020-06-03 19:43] AnastasiVokhmyanina28 opened #182 "Подготовить макет презентации проекта"
# Срок сдачи: 09.06.20
### Epic: #37
_Прогресс по задаче_: https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/182#issuecomment-641734426

[2020-06-03 19:44] AnastasiVokhmyanina28 opened #183 "Написать общие автотесты для протокола"
# Срок сдачи: 09.06.20
### Epic: #36
_Обратить внимание_: https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/183#issuecomment-639733286

[2020-06-03 19:59] Svyat935 opened #184 "Починить log_method.py"
Починить ошибку:
![изображение](https://user-images.githubusercontent.com/50461439/83683204-aefefc80-a5ed-11ea-97ba-b51183e0b4a3.png)

[2020-06-03 20:31] AnastasiVokhmyanina28 opened #185 "Возродить документацию"
# Срок сдачи: 09.06.20
### Epic: #37
_Пояснения_:  конкретно пункты, по которым документация воскрешена
[Восстановленная документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki)

[2020-06-03 20:35] AnastasiVokhmyanina28 opened #186 "Написать сценарии для тестирования протокола"
### Epic: #36
_Пояснения_: (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/183)

[2020-06-04 03:41] #164 closed, assigned to Progoger

[2020-06-04 03:41] #119 closed, assigned to Progoger

[2020-06-04 09:42] AnastasiVokhmyanina28 opened #190 "Разобраться с файлом "Функциональное тестирование сервера" на гугл диске"
# Срок сдачи: 09.06.20
### Epic: #37
_Пояснения_: Если не нужен - удалить, если нужен, комментом написать - для каких целей.

[2020-06-04 09:49] AnastasiVokhmyanina28 opened #191 "Написать отчет о тестировании по выпуску пре-релиза"
# Срок сдачи: 09.06.20
### Epic: #36
_Прогресс по задаче_:

- Добавлена информация о прохождении тестов в таблицу [Сценариев тестирования](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-04 09:51] AnastasiVokhmyanina28 commented on #46
Задача перенесена (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/191)

[2020-06-04 09:51] #46 closed, assigned to nobody

[2020-06-04 09:52] AnastasiVokhmyanina28 commented on #45
Задача перенесена (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/191)

[2020-06-04 09:52] #45 closed, assigned to nobody

[2020-06-04 10:20] AnastasiVokhmyanina28 opened #192 "Написать скрипт для установки зависимостей проекта"
Задача перестала иметь смысл, а так, хотели иметь один файл зависимостей проекта для установки

[2020-06-04 10:22] AnastasiVokhmyanina28 opened #193 "Покрыть логами весь проект, убрать qDebug()"
Задача перестала иметь смысл, покрытие проекта логами успешно состоялось

[2020-06-04 14:39] SkinnerX7 opened #196 "Рефакторинг unittest'ов"
- рефакторинг unittest'ов
- небольшое изменение функции SendJSONForCheck, чтение конфига

[2020-06-04 14:58] SkinnerX7 opened #197 "Тестирование ветки с логированием"
Что необходимо:
- Протестировать ветку с логированием, указать на ошибки

[2020-06-04 15:49] cyberAndrey commented on #157
Задание выполнено. Ожидается локальное тестирование Сережей

[2020-06-04 15:51] cyberAndrey opened #198 "Логирование уровнем Error"
Реализовать логирование уровня ERROR по [этим](https://docs.google.com/spreadsheets/d/1_0wGJbMO4SctmNRMTFkDYaOhgvOVKfpT8hklMQCNxEg/edit#gid=0) правилам

[2020-06-04 15:56] leshastern commented on #166
Были созданы три репозитория
[Ссылка на первый репозиторий](https://github.com/leshastern/strategy1)
[Ссылка на второй репозиторий](https://github.com/leshastern/strategy2)
[Ссылка на третий репозиторий](https://github.com/leshastern/strategy4)

[2020-06-04 16:09] leshastern commented on #190
Файл был удален, так как является устаревшим, вместо него теперь есть [красивая таблица сценариев](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-04 16:09] #190 closed, assigned to leshastern

[2020-06-04 16:28] SkinnerX7 commented on #163
Сделал добро, выполнил сам
Как говориться, "хочешь сделать хорошо, сделай это сам"

[2020-06-04 18:15] YuriSilenok commented on #193
Пожалуйста, добавьте описание к этой задаче

[2020-06-04 18:15] YuriSilenok commented on #193
Пожалуйста, добавьте веху к этой задаче

[2020-06-04 18:15] YuriSilenok commented on #193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-04 18:15] YuriSilenok commented on #192
Пожалуйста, добавьте описание к этой задаче

[2020-06-04 18:15] YuriSilenok commented on #192
Пожалуйста, добавьте веху к этой задаче

[2020-06-04 18:16] YuriSilenok commented on #192
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-04 18:16] YuriSilenok commented on #109
Какие есть обновления по этой задаче?

[2020-06-04 18:25] YuriSilenok commented on #193
Пожалуйста, добавьте описание к этой задаче

[2020-06-04 18:25] YuriSilenok commented on #193
Пожалуйста, добавьте веху к этой задаче

[2020-06-04 18:25] YuriSilenok commented on #193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-04 18:25] YuriSilenok commented on #192
Пожалуйста, добавьте описание к этой задаче

[2020-06-04 18:25] YuriSilenok commented on #192
Пожалуйста, добавьте веху к этой задаче

[2020-06-04 18:25] YuriSilenok commented on #192
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-04 18:25] YuriSilenok commented on #90
В ветке issue-90 давно не было активности

[2020-06-04 18:36] YuriSilenok commented on #90
Кажется, вы не удалили ветку issue-90 и закрыли задачу

[2020-06-04 18:54] SkinnerX7 commented on #196
Был принят pr, задача закрывается

[2020-06-04 18:55] SkinnerX7 commented on #163
Был принят pr, задача закрывается

[2020-06-04 18:55] #163 closed, assigned to SkinnerX7

[2020-06-04 19:38] leshastern commented on #180
Таблица исправлена. [Ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-04 19:38] #180 closed, assigned to leshastern

[2020-06-04 20:01] #184 closed, assigned to Svyat935, magnitola

[2020-06-04 20:55] SkinnerX7 commented on #109
Были доработаны правила оформления ссылок и файлов на гите, поэтому задачу можно закрыть, бага нет

[2020-06-04 21:28] ComButterbrot commented on #61
Таблица со сценариями доступна по [ссылке](https://docs.google.com/spreadsheets/d/1mUQV1-A-Ot8gCa-DOvklq-Umv5BCR8wd51V6PTGUI48/edit?usp=sharing).

[2020-06-04 22:41] Svyat935 commented on #62
Возникла проблема относительный и абсолютным импортов.

[2020-06-04 22:42] #65 closed, assigned to Svyat935, magnitola

[2020-06-04 22:43] Svyat935 commented on #63
Ожидание модульных сценариев и добавление отчета по ним.

[2020-06-04 22:43] #137 closed, assigned to Svyat935, 0Meridian0

[2020-06-05 06:02] YuriSilenok commented on #193
Пожалуйста, добавьте описание к этой задаче

[2020-06-05 06:02] YuriSilenok commented on #192
Пожалуйста, добавьте описание к этой задаче

[2020-06-05 06:02] YuriSilenok commented on #193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-05 06:02] YuriSilenok commented on #192
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-05 06:02] YuriSilenok commented on #63
Пожалуйста, добавьте веху к этой задаче

[2020-06-05 06:02] YuriSilenok commented on #90
Добрый день. В ветке issue-90 давно не было активности

[2020-06-05 06:07] YuriSilenok commented on #61
Правильно разместить сценарии

[2020-06-05 06:30] None-stopCoding commented on #166
Третья ссылка указывает на второй репозиторий (как и вторая)

[2020-06-05 06:40] None-stopCoding commented on #39
На 10 спринт [план разработки и тестирования](https://docs.google.com/spreadsheets/d/1a_--ME6oOIIhx96Qhk0eT2gAFmpyy0wmOE6e3usJ8Dk/edit?usp=sharing) был дополнен.
@YuriSilenok Прошу посмотреть, документ открыт для комментирования. Спасибо!

[2020-06-05 06:58] #51 closed, assigned to None-stopCoding

[2020-06-05 08:25] AnastasiVokhmyanina28 commented on #192
Задача не актуальна

[2020-06-05 08:25] AnastasiVokhmyanina28 commented on #193
Задача не актуальна

[2020-06-05 08:31] leshastern commented on #166
Исправлено

[2020-06-05 08:31] #166 closed, assigned to leshastern

[2020-06-05 11:45] vvtatyana opened #204 "Разработать сценарий тестирования модуля Server"
Написать сценарий тестирования и отчет о тестировании модуля Server в формате Google таблиц
[Тестирование модуля Server](https://docs.google.com/spreadsheets/d/173fcVRsMoGgEgocefV-_fLICh7-Jk9ukjcRUyW3-4ec/edit#gid=66827693)
[Отчет о тестировании](https://docs.google.com/spreadsheets/d/173fcVRsMoGgEgocefV-_fLICh7-Jk9ukjcRUyW3-4ec/edit#gid=392630057)

[2020-06-05 11:59] #90 closed, assigned to Progoger

[2020-06-05 12:01] YuriSilenok commented on #204
При тестировании протокола передачи данных, вы тестируете Определенные сообщения.
Из вашего отчета мне непонятно будет, какие из сообщений протестированы и имеют проблемы.

[2020-06-05 12:03] YuriSilenok commented on #183
Я не вижу здесь никаких отчетов о выполненной работе.

[2020-06-05 14:47] YuriSilenok commented on #183
Если вы говорите о сценариях, то нужно прикреплять ссылку, я не могу понять что за строчку нужно добавить, какой задачей это вообще регламентировано, где взять описание как этим пользоваться и какие требования к самой строке?

[2020-06-05 14:52] #11 closed, assigned to Progoger, cyberAndrey, VladmirV

[2020-06-05 17:26] #174 closed, assigned to MaksimBukhanov

[2020-06-05 19:17] None-stopCoding commented on #183
@YuriSilenok  Была новость в нашей беседе ВК, дублирую сюда

НОВОСТЬ
У нас на гугл диске есть файл [Сценарии тестирования](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

Этой задачей я вот что сделал:

Теперь для того чтобы написать автотест достаточно добавить строчку в гугл таблице Сценарии тестирования. Если есть желание прогнать тесты лок

[2020-06-05 19:19] None-stopCoding commented on #39
@YuriSilenok Посмотрите пожалуйста

[2020-06-05 19:47] YuriSilenok commented on #39
Почему используются различные по размеру шрифты для однотипных ячеек?
Для чего объединялись ячейки?
Нужно заполнить недостающие спринты

[2020-06-05 19:53] YuriSilenok commented on #183
гитхаб является первоочередным источником. из него должна дублироваться информация куда угодно.

вы хотите сказать что код тестов не на гитхабе, а в гугл таблице и парсится таблица, а статусы в таблицу проставляются?

[2020-06-05 20:07] None-stopCoding commented on #183
сам код для автотестирования присутствует, но его суть заключается в том, чтобы пробежаться по тестовым данным, которые лежат в файле. Файл формируется скриптом из гугл таблицы.

[2020-06-05 20:11] YuriSilenok commented on #183
а статусы о выполнении теста проставляются в документ?
Это было бы логичным завершением использования этой таблицы.

[2020-06-05 20:15] None-stopCoding commented on #183
как вариант, можно реализовать в перспективе. Проблема возникнет в том, что данные из гугл таблицы загружаются отдельным скриптом написанным на питоне, из qt я никак не касаюсь гугл таблицы.

[2020-06-05 20:37] #129 closed, assigned to DanilKozlov00, avilova

[2020-06-05 20:45] YuriSilenok commented on #183
понятно. нужно подумать над скриптом, опять же на питоне, который бы выгрузил результаты обратно. Думаю qt мог бы сохранить некоторый отчет, а питоновский скрипт выгрузил бы отчет обратно. Думаю стоит поднять на это карточку.

[2020-06-05 20:53] None-stopCoding commented on #183
это не проблема, вопрос как стриггерить питоновский скрипт

[2020-06-05 20:54] None-stopCoding commented on #183
хотя, если в CI записать, то должно сработать

[2020-06-05 20:55] None-stopCoding commented on #183
но это на ближайшее будущее - сейчас пре-релиз)

[2020-06-05 21:12] YuriSilenok commented on #183
я и говорю, можно сделать карточку или задачу что бы не забыть об этом.

[2020-06-06 04:20] #183 closed, assigned to None-stopCoding

[2020-06-06 06:02] YuriSilenok commented on #63
Пожалуйста, добавьте веху к этой задаче

[2020-06-06 12:34] MaksimBukhanov commented on #173
Сценарии тестирования метода проверок классов-потомков.
[Документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-06 13:40] MaksimBukhanov commented on #172
Сценарии тестирования метода проверки класса-родителя
[Документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-06 14:29] None-stopCoding commented on #173
1. Не заполнены колонки - Предварительные шаги, Шаги - если кейс предназначен только для автотестирования, то напиши там что-то типа "не требуется, обработка автотестом"
2. Не заполнена колонка "Автоматизация" - так автотесты не сработают
3. В колонке тестовые данные есть переносы строк - лучше их убрать, читать потом хреново
4. В колонке Ожидаемый результат - че за messageType? Исходи из того что

[2020-06-06 14:30] None-stopCoding commented on #172
см коммент к задаче https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/173#issuecomment-640069970

[2020-06-06 20:38] MaJishpro opened #206 "Поместить сценарии и отчеты по тестированию в один файл."
Сценарии и отчеты по тестированию закинуть в один файл, но в разные листы

[2020-06-07 05:14] #181 closed, assigned to None-stopCoding

[2020-06-07 06:01] YuriSilenok commented on #63
Пожалуйста, добавьте веху к этой задаче

[2020-06-07 06:02] YuriSilenok commented on #57
Добрый день. Вы не удалили ветку issue-57 и закрыли задачу

[2020-06-07 08:51] #171 closed, assigned to None-stopCoding

[2020-06-07 15:38] None-stopCoding commented on #191
см 'Прогресс по задаче' в описании к задаче

[2020-06-07 18:44] cyberAndrey commented on #198
Реализация есть. Код в ветке 157, так как она еще не замержена в основную ветку, а уровень error - добавление к функционалу 157 ветки
Перехожу к этапу тестирования логов для всех(по возможности) функций проекта

[2020-06-07 22:58] urec-programmec commented on #57
Задача выполнена - принята

[2020-06-07 22:58] #57 closed, assigned to CatherinePRO

[2020-06-08 03:56] None-stopCoding commented on #169
1 и 3 пункт?

[2020-06-08 05:11] YuriSilenok commented on #109
Пожалуйста, исправьте замечания.

[2020-06-08 05:14] YuriSilenok commented on #177
дерзкое утверждение, есть ли что-то подтверждающее это?

[2020-06-08 05:16] YuriSilenok commented on #198
ссылка не действительная, ошибка 404

[2020-06-08 05:18] YuriSilenok commented on #198
где запрос на слияние ?
я не понимаю второй части Вашего комментария, поясните подробнее.

[2020-06-08 05:29] YuriSilenok commented on #191
отче о тестировании должен быть в том же документе что и сценарии тестирования

[2020-06-08 05:33] YuriSilenok commented on #157
могли бы пояснить, что за файл вы прикрепили, некультурно так делать

[2020-06-08 05:41] None-stopCoding commented on #191
@YuriSilenok В сценариях тестирования имеется графа-индикатор проходимости тестов.
Вы подразумеваете вклинить таблицу с отчетом под таблицей Сценарии тестирования?

[2020-06-08 05:41] None-stopCoding commented on #177
@YuriSilenok В каком виде вы хотите подтверждения?

[2020-06-08 05:45] YuriSilenok commented on #177
отчет о тестировании в ветке dev всех четырех компонентов, лучше что бы это был автоматический отчет из CI.

[2020-06-08 05:47] YuriSilenok commented on #191
Я имею ввиду что в документе со сценариями должен быть лист, отчет о тестировании.
нам незачем плодить несколько документов, если данные между собой очень связаны, и да, цифры в отчете должны формироваться при помощи формул, то есть автоматически.

[2020-06-08 06:02] YuriSilenok commented on #63
Пожалуйста, добавьте веху к этой задаче

[2020-06-08 08:02] cyberAndrey commented on #198
Исправил ссылку
Запрос на слияние не делал так как из-за возможных ошибок может не работать проект. Протестирую локально и сделаю pr

[2020-06-08 09:37] AlbertShabrov commented on #168
Задача выполнена, пул реквест [тут](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/220)

[2020-06-08 09:37] #168 closed, assigned to AlbertShabrov

[2020-06-08 10:38] Someone-dono commented on #169
На данный момент CI вновь успешно функционирует. Остальные задачи будут завершены по мере необходимости.

[2020-06-08 10:49] urec-programmec opened #223 "Подготовка релиза к демке"
- [x] Слить все изменения
- [x] Протестировать ветку Андрея

[2020-06-08 11:11] CatherinePRO opened #224 "Интеграция проектов"
Интеграция проектов групп 18-ИСбо-2б и ВТ. Развертывание на удаленном сервере.

[2020-06-08 11:18] None-stopCoding commented on #191
ага, насчет листа понял, насчет автоматизации в планах на следующий спринт сделать выгрузку данных о прохождении тестов через CI, о чем вы говорили

[2020-06-08 11:20] None-stopCoding commented on #177
пока с интегрировались только с командой ИС-а, сегодня планируем с ИС-б
интеграционных тестов пока нет, возможно возьмем на след спринт

[2020-06-08 11:39] DanilKozlov00 opened #225 "Добавление интеграционных тестов"
Добавить интеграционные тесты для проверки совместной работоспособности классов Selenium+Server

[2020-06-08 11:44] DanilKozlov00 opened #226 "Добавить логирование в файл"
Добавить логирование в файл вида .txt

[2020-06-08 12:03] SkinnerX7 opened #229 "Работа с общим конфигом лабораторных"
Считывать общий конфиг лабораторных работ

[2020-06-08 12:49] SkinnerX7 commented on #229
Был принят pr, задача закрывается

[2020-06-08 15:45] MaksimBukhanov commented on #173
1-4 исправлено. Количество тест-кейсов увеличено.
[Документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)