[2020-06-08 17:28] SkinnerX7 commented on #154
Архив с покрытием проекта
[Покрытие_v.0.0.0.8_(08.06.2020).zip](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/files/4747529/_v.0.0.0.8_.08.06.2020.zip)

[2020-06-08 17:29] SkinnerX7 commented on #154
![image](https://user-images.githubusercontent.com/55276061/84061519-b7c54900-a9c6-11ea-980a-f774089fb126.png)

[2020-06-08 18:08] Someone-dono commented on #170
Ошибки найдены, ответственные за них люди оповещены.

[2020-06-08 18:13] AnastasiVokhmyanina28 opened #233 "Исправить стилистические ошибки класса logfile"
# Срок сдачи: 08.06.20
### Epic: #35

[2020-06-08 18:33] AnastasiVokhmyanina28 commented on #233
в задаче (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/231)   указан неверный номер ветки
![Снимок](https://user-images.githubusercontent.com/55682455/84066984-01ae2f00-a9c7-11ea-9774-67290b2c6d8c.PNG)

[2020-06-08 18:39] AnastasiVokhmyanina28 opened #234 "Исправить стилистические ошибки класса logfile"
# Срок сдачи: 08.06.20
### Epic: #35

[2020-06-08 19:24] None-stopCoding commented on #173
отлично!

[2020-06-08 19:40] None-stopCoding commented on #191
Добавил лист Отчет v.0.0.0.10 в таблицу [Сценарии тестирования](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-08 19:40] #191 closed, assigned to None-stopCoding

[2020-06-08 19:40] #177 closed, assigned to None-stopCoding

[2020-06-08 19:42] None-stopCoding commented on #39
Недостающие спринты - для какой цели заполняем?
Шрифты поправил

[2020-06-08 21:31] AnastasiVokhmyanina28 opened #238 "Пофиксить баг с проверкой на метод вызова выполнения стратегии"
### Epic: #35
_Пояснения_: Если отсутствует метод выполнения стратегии (executeStrategy), то вывод ошибки должен быть таким: "There is no function call on the context class object", а выводится это: "The execute function is called more than once".

[2020-06-08 22:02] leshastern commented on #178
Сценарии тестирования разработаны, результаты можно посмотреть [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-08 22:03] leshastern commented on #178
@None-stopCoding check it please and close after

[2020-06-08 22:31] AnastasiVokhmyanina28 opened #239 "Добавить обработчик отсутствия main функции"
# Срок сдачи: 09.06.20
### Epic: #35
_Пояснения_:

[2020-06-08 22:34] leshastern commented on #173
@None-stopCoding нужно переделать значения ячейек "тестовые данные" по аналогии с кейсами issue-178 (без табуляций, пробелов, перенос строк)

[2020-06-09 03:17] None-stopCoding commented on #178
excellent, работа мастера видна

[2020-06-09 03:18] None-stopCoding commented on #173
@MaksimBukhanov, тестировщик запрашивает изменения

[2020-06-09 04:29] CatherinePRO commented on #224
Приложения развернуты на удаленном сервере

[2020-06-09 04:32] CatherinePRO commented on #224
Интеграция с ЛР 03
Результат: подключение к серверу происходит, но сервер начинает проверку работы уже после закрытия соединения сервером запроса, соответственно ответа нет
P.S. - проверка работы осуществляется приблизительно в течение двух минут

[2020-06-09 04:44] CatherinePRO commented on #224
Интеграция с ЛР 07
Результат: удалось добиться отправки ЛР на проверку и получения ответа (почти мгновенно), но файл main2... сервера запроса не соответствует спецификации JSON, поэтому необходимо исправить на сервере запроса:
1) метод читающий репозиторий - необходимо возвращать не html, а массив строчек, где каждая строчка класс с методом (можно этого не делать, т.к. этот функционал реализован н

[2020-06-09 04:53] CatherinePRO commented on #224
На текущий момент можно отправить на почту эталонное письмо с ЛР07 и посмотреть взаимодействие с сервером проверки, процесс выставления оценки в журнал, ответное письмо пользователю.

[2020-06-09 05:47] SkinnerX7 commented on #154
[Ссылка на документ с итогами по тестированию](https://docs.google.com/spreadsheets/d/1IHaHZS0_vT2SRZCWRdLPDvhNNvPcKf5QjA6GztFQgF4/edit)

[2020-06-09 06:02] YuriSilenok commented on #142
Какие есть обновления по этой задаче?

[2020-06-09 06:02] YuriSilenok commented on #10
Добрый день. Вы не удалили ветку issue-10 и закрыли задачу

[2020-06-09 06:02] YuriSilenok commented on #55
Добрый день. Вы не удалили ветку issue-55 и закрыли задачу

[2020-06-09 06:11] None-stopCoding commented on #224
Рады слышать хорошие новости!

[2020-06-09 07:28] SkinnerX7 commented on #109
Были доработаны правила оформления ссылок и файлов на гите, поэтому задачу можно закрыть, бага нет

[2020-06-09 07:43] YuriSilenok commented on #109
Вы закрыли задачу без исправления, почему?

[2020-06-09 07:46] YuriSilenok commented on #224
Не забудьте поднять баги

[2020-06-09 07:51] YuriSilenok commented on #154
я не забыл про эту задачу, дайте корректное название этому документу

[2020-06-09 07:53] YuriSilenok commented on #178
это неприемлемое описание ссылки

[2020-06-09 07:57] YuriSilenok commented on #223
Вы смотрели что у Вас с [отчетом](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/236#issuecomment-640843080)?

[2020-06-09 07:59] YuriSilenok commented on #39
Я предполагаю что Вы могли бы показать эти планы на презентации на генеральной демке

[2020-06-09 08:05] YuriSilenok commented on #233
Я не вижу запроса связанного с этой задачей?
Почему задача закрыта?

[2020-06-09 08:07] YuriSilenok commented on #170
я бы ожидал что будут подняты соответствующие задачи на людей и это было бы оповещение или в рамках этой задачи люди были бы оповещены. И при последнем варианте должна быть ссылка на запрос исправляющий ошибки.

[2020-06-09 08:10] YuriSilenok commented on #197
Где результаты тестирования?

[2020-06-09 08:16] YuriSilenok commented on #225
Кажется ваш [отчет](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/227#issuecomment-640581074) не работает

[2020-06-09 08:17] YuriSilenok commented on #226
Кажется ваш [отчет](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/228#issuecomment-640580759) не работает

[2020-06-09 08:20] YuriSilenok commented on #169
Нельзя закрывать задачу если работы по ней не завершены или она не потеряла актуальность.
Я не вижу здесь ни первого ни второго случая.

[2020-06-09 08:22] YuriSilenok commented on #223
возможно стоит использовать чекбоксы, что бы понимать, какие из этих задач выполнены, а какие нет.

[code]

[2020-06-09 08:25] YuriSilenok commented on #93
Вы не хотели бы поправить запрос #217 ?

[2020-06-09 08:31] YuriSilenok commented on #198
Если запрос существует, то на него должна быть ссылка.
![image](https://user-images.githubusercontent.com/14871471/84125014-a3279600-aa44-11ea-90bc-81b57b89e351.png)
Для предварительного тестирования на сервера CI вы можете сделать черновик запроса.

[2020-06-09 08:34] MaksimBukhanov commented on #173
Изменено
[Документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-09 08:37] YuriSilenok commented on #173
вы должны били цитировать тестирощика, что бы было понятно что есть его запрос.

[2020-06-09 08:52] leshastern commented on #178
@YuriSilenok пожалуйста, проверьте новое описание ссылки

[2020-06-09 11:14] AlbertShabrov commented on #167
Перезалил обновленную версию нашей программы на сервер в 322 аудиторию. Создал исполняемый файл с командой start-stop-daemon -Svbx путь_до_файла/src. Поставил этот исполняемый файл на автозапуск, Теперь наше приложение является службой и будет запускаться вместе с системой. Для остановки требуется ввести команду start-stop-daemon -Kvx путь_до_файла/src

[2020-06-09 12:51] DanilKozlov00 commented on #226
Кажется проблема в том что он не может дать отчет после удаления ветки
На данный момент, если посмотреть [все merge pull](https://codecov.io/gh/Students-of-the-city-of-Kostroma/trpo_automation/pulls?state=merged&_pjax=%23pjax-outer), то у каждого из них не находит отчета, однако [самый последний,](https://codecov.io/gh/Students-of-the-city-of-Kostroma/trpo_automation/pull/241/tree) у которого ветк

[2020-06-09 13:05] DanilKozlov00 opened #244 "Выпустить релиз в ветку dev"
Слияние ветки 18-Vtbo-1b в dev

[2020-06-09 14:01] leshastern commented on #173
@MaksimBukhanov сообщил что все исправил. Подверждаю. Задача закрыта.

[2020-06-09 14:07] MaksimBukhanov commented on #172
Посмотрел. Исправил.
[Документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-09 14:10] None-stopCoding commented on #167
благодарочка

[2020-06-09 14:11] None-stopCoding commented on #172
уважуха

[2020-06-09 14:41] AnastasiVokhmyanina28 commented on #233
Была создана задача (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/233) , по которой была ошибочно создана ветка issue-223 (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/231/commits/b366ac82258797b520f5b84822bdbd22400ea6df). Чтобы не было вопросов в несоответствии имени ветки номеру задачи, мы создали новую задачу (https://github.com/Students

[2020-06-09 16:50] AlbertShabrov commented on #239
Задача выполнена пул реквест [тут](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/246)

[2020-06-09 16:50] #239 closed, assigned to AlbertShabrov

[2020-06-09 16:52] #234 closed, assigned to MaksimBukhanov

[2020-06-09 18:41] AnastasiVokhmyanina28 opened #248 "Выпустить новый пре-релиз продукта"
### Epic: #34
_Пояснения_:
Наш проект существует вот уже долгие полгода и всё это время мы уверенными шагами шли к его завершению. Месяцы работы, бесчисленные часы труда, ссоры и расставания — всё это легло костьми во благо завершения нашего труда. И вот теперь, наконец, мы подобрались к финишной черте, долгожданному пре-релизу. Одно движения для и огромный шаг для всей команды. В такие моменты чу

[2020-06-10 05:19] None-stopCoding commented on #39
@YuriSilenok Поправил пункты [плана](https://docs.google.com/spreadsheets/d/1a_--ME6oOIIhx96Qhk0eT2gAFmpyy0wmOE6e3usJ8Dk/edit?usp=sharing), добавил информацию по недостающим спринтам, привел пункты плана к одному виду, посмотрите пожалуйста.

[2020-06-10 05:38] None-stopCoding commented on #182
Составил план презентации - [макет](https://docs.google.com/presentation/d/1qX9rwCLWF8VJELB2jDAePrIChDISP2yozEtlo6k91aE/edit?usp=sharing), обсудим на паре

[2020-06-10 06:02] YuriSilenok commented on #79
Добрый день. Вы не удалили ветку issue-79 и закрыли задачу

[2020-06-10 06:02] YuriSilenok commented on #97
Добрый день. Вы не удалили ветку issue-97 и закрыли задачу

[2020-06-10 06:02] YuriSilenok commented on #135
Добрый день. Вы не удалили ветку issue-135 и закрыли задачу

[2020-06-10 07:06] Someone-dono commented on #248
По общему согласованию было решено перенести задачу на следующий спринт.

[2020-06-10 07:08] Someone-dono commented on #169
Первый пункт было решено оставить в покое. Третий пункт требует совместного решения, посему было решено перенести его на следующий спринт.

[2020-06-10 07:15] Someone-dono commented on #170
Ошибки найдены, ответственные за них люди оповещены.

Список задач, созданных для устранения проблем:
#234 #235 #239 #246

[2020-06-10 08:39] avilova commented on #204
Проверено

[2020-06-10 08:55] YuriSilenok commented on #204
и все же я не смог понять из этого отчета, есть ли у вас тесты проверяющие ответ сервера реджектами?
![image](https://user-images.githubusercontent.com/14871471/84247847-4940d200-ab11-11ea-8b79-96b439e8ebc7.png)

[2020-06-10 08:58] YuriSilenok commented on #170
#235 и #246 - это не задачи, а запросы на слияние.
1. Зачем они здесь?
2. Если вы хотите связать задачу и запрос, то есть соответствующий атрибут, но не умаю что он здесь уместен.
3. Если вы создаете подзадачи, то в их описании нужно указать ссылку на родителя.

[2020-06-10 09:00] YuriSilenok commented on #169
Не совсем понятна причина того, почему первый пункт решено оставить в покое, поясните пожалуйста?

Если он перенесен на следующий спринт, то почему тогда закрывалась задача, раз работа над  ним ведется?

[2020-06-10 09:01] YuriSilenok commented on #248
я не вижу в истории изменений атрибутов этой задачи того, что она была в предыдущем спринте

[2020-06-10 09:04] YuriSilenok commented on #182
Задача ставилась таким образом, что на паре вы показываете готовую презентацию, которую мы обсуждаем, требования к содержанию были выданы в процессе спринта.

[2020-06-10 09:05] YuriSilenok commented on #39
Пусть будет так

[2020-06-10 09:05] #39 closed, assigned to None-stopCoding

[2020-06-10 09:10] YuriSilenok commented on #244
где линк на запрос?

[2020-06-10 09:19] DanilKozlov00 opened #249 "Написать инсталятор"
Написать инсталятор для проекта из ветки 18-VTbo-1b

[2020-06-10 09:25] YuriSilenok commented on #136
Добавил описание к задаче
---
# Алгоритм работы инсталятора
- Получить номер версии установленного ПО
- Получить номер последней версии на github
- Если версия на гитхаб более новая, то
- - Скачать новую версию с гитхаб
- - Корректно остановить работку ПО
- - Распаковать и установить новую версию
- - Запустить работу всех сервисов
- Проверить автозапуск системы при старте системы. Если автозапуска

[2020-06-10 09:40] avilova commented on #226
проверено

[2020-06-10 09:40] avilova commented on #225
проверено

[2020-06-10 09:50] YuriSilenok commented on #249
Duplicate of #136

[2020-06-10 09:50] #249 closed, assigned to DanilKozlov00

[2020-06-10 09:51] YuriSilenok commented on #225
и какой результат?

[2020-06-10 09:55] YuriSilenok commented on #226
1. Выяснить, как правильно удалять ветки, нужно ли какое-то время держать ветку не удаленной, пока сформируется сам отчет.

2. судя по всему ваша ссылка на `самый последний` ведет на какой-то отчет и исходя из урл, это запрос #241, но я в нем не вижу никаких ссылок на отчет который вы предоставили

[2020-06-10 09:58] avilova commented on #204
ошибка исправлена

[2020-06-10 10:23] YuriSilenok commented on #204
![image](https://user-images.githubusercontent.com/14871471/84256575-c4f44c00-ab1c-11ea-80e4-5c6b9ed4fd7d.png)
Вы меня извините конечно, но вот есть лист `Протокола передачи данных`, я в ней вижу всего 16 тестов, а у вас 15+15. Почему так?
Пожалуйста, сделайте так, что бы цифры который вы получаете в итоговой таблице, формировались автоматически.
И еще, вот у нас спека на протокол.
Ваш сервер може

[2020-06-10 10:34] YuriSilenok commented on #233
Тогда учу правильно закрывать подобные задачи

[2020-06-10 10:34] YuriSilenok commented on #233
Duplicate of #234

[2020-06-10 10:37] YuriSilenok commented on #172
почему у вас существуют две папки тестирования и сценарии не сведены в один документ, как вы общую статистику будете настраивать?

[2020-06-10 10:40] YuriSilenok commented on #167
Где связанный с этой задачей запрос?

[2020-06-10 10:42] YuriSilenok commented on #173
все сценарии и общая статистика должны быть в одном документе

[2020-06-10 10:46] YuriSilenok commented on #244
неудачные запросы так же требуют упоминания

[2020-06-10 10:51] None-stopCoding commented on #182
@YuriSilenok Будьте добры ссылку на требования содержания. Про готовую презентацию слышу впервые)

[2020-06-10 10:57] YuriSilenok opened #250 "Подготовить презентацию проекта"
Требования к демонстрации продукта
---
- Узнать вкратце о разработанном продукте. Для каких целей служит и какие проблемы решает. Привести примеры аналогов, если таковые имеются
- Какой применялся стэк технологий. Объяснить почему именно это, а не другое.
- Тестирование. Какие типы тестирования использованы для проверки качества продукта (unit testing, integration testing, etc). Если никакого тест

[2020-06-10 10:58] YuriSilenok commented on #182
Об этом упоминалось в общем чате,
зафиксировал требования в виде задачи #250

[2020-06-10 10:59] None-stopCoding commented on #172
@YuriSilenok Насчет общей статистики - откуда, что это, и зачем нужно и к какому времени, слышу впервые) Теперь есть папка Тестирование, основная, и есть папка - автотесты или что-то там - и это папка временная, вспомогательная. Всегда открыты для предложений по части именования временных вспомогательных папок, чтобы не возникало вопросов, подобно Вашему. Эта папка будет удалена, благо проверка ст

[2020-06-10 10:59] cyberAndrey commented on #79
Увидел, исправил

[2020-06-10 11:00] None-stopCoding commented on #173
@YuriSilenok Подскажите пожалуйста, что Вас сбило с толку) Общая статистика? Это что-то новенькое)

[2020-06-10 11:00] cyberAndrey commented on #135
Увидел, исправил

[2020-06-10 11:02] None-stopCoding commented on #182
Если это упоминалось в общем чате, то рад сообщить, что составленный план полностью соответствует перечисленным там требованиям. Спасибо

[2020-06-10 11:02] #182 closed, assigned to None-stopCoding

[2020-06-10 12:15] DanilKozlov00 opened #251 "Реализовать выпуск релизов через CL"
Создать коррекный ключ доступа

[2020-06-10 12:17] leshastern commented on #179
[документ на Google Drive](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

@None-stopCoding please check it

[2020-06-10 12:53] None-stopCoding commented on #179
Норм

[2020-06-10 12:58] DanilKozlov00 commented on #251
Найден способ выпуска релизов

![image](https://user-images.githubusercontent.com/55684917/84270384-42c35200-ab33-11ea-951d-ee70cb7581aa.png)

[2020-06-10 12:59] #251 closed, assigned to DanilKozlov00

[2020-06-10 14:52] YuriSilenok commented on #173
Мы обсудили это на демо?

[2020-06-10 14:54] YuriSilenok commented on #172
После демо вопрос еще актуален?

[2020-06-10 14:58] YuriSilenok commented on #178
я бы сказал что нужно написать имя документа, дать какое-то описание.
Приоритет в том, что бы дать понять что эта за ссылка, не все ссылки в задачах прямо связаны с темой задачи.
Например
Сценарии тестирования разработаны, результаты можно посмотреть [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-10 15:06] cyberAndrey opened #252 "Обработка ошибки в ходе работы программы"
В случае сбоя в работе системы студенты, чьи письма проверялись, должны получить уведомление о сбое и просьбу прислать работу повторно.
Также техподдержка должна получить сведения об ошибке, чтобы знать что исправлять

[2020-06-10 15:14] cyberAndrey commented on #157
Задание выполнено

[2020-06-10 15:15] cyberAndrey commented on #198
#157 - основная. Выполнено

[2020-06-10 15:16] #79 closed, assigned to cyberAndrey

[2020-06-10 15:38] YuriSilenok commented on #55
Хотелось бы увидеть комментарий закрывавшего этот баг, о том, в какой версии был исправлен баг?

[2020-06-10 15:39] YuriSilenok commented on #198
Я не увидел ссылки на запрос, где она?

[2020-06-10 16:17] ghost commented on #185
[Восстановленная документация](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/wiki)

[2020-06-10 16:46] #154 closed, assigned to SkinnerX7

[2020-06-10 16:47] SkinnerX7 commented on #197
Результаты тестирования объединены
Находятся в задаче #154

[2020-06-11 06:02] YuriSilenok commented on #252
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #238
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #248
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #186
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #176
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #175
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #172
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #173
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #170
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #167
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #169
Пожалуйста, добавьте веху к этой задаче

[2020-06-11 06:02] YuriSilenok commented on #158
Какие есть обновления по этой задаче?

[2020-06-11 06:02] YuriSilenok commented on #37
Какие есть обновления по этой задаче?

[2020-06-11 06:02] YuriSilenok commented on #36
Какие есть обновления по этой задаче?

[2020-06-11 06:02] YuriSilenok commented on #34
Какие есть обновления по этой задаче?

[2020-06-11 06:02] YuriSilenok commented on #35
Какие есть обновления по этой задаче?

[2020-06-11 12:19] #178 closed, assigned to leshastern

[2020-06-11 15:04] AnastasiVokhmyanina28 opened #253 "Написать сценарии для тестов класса Functional"
### Epic: #36
_Пояснения_: Сценарии тестирования разработаны, результаты можно посмотреть [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-11 15:06] AnastasiVokhmyanina28 opened #254 "покрыть автотестами весь функционал Functional"
### Epic: #36
_Пояснения_: покрыть тестами на основе [сценариев](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-11 15:17] AnastasiVokhmyanina28 opened #255 "Найти аналоги системы"
# Срок сдачи: 11.06.20
### Epic: #34
_Пояснения_:

[2020-06-11 15:19] AnastasiVokhmyanina28 opened #256 "Написать документацию пользователя"
### Epic: #34
_Пояснения_: написать документацию пользователя

[2020-06-11 15:26] AnastasiVokhmyanina28 opened #257 "Попарное тестирование. Автотесты протокола общения"
### Epic: #36
_Пояснения_: Необходимо уменьшить количество кейсов путем создание определенных условий с помощью утилиты pict

[2020-06-11 15:29] AnastasiVokhmyanina28 opened #258 "Анализ фреймворков С++"
### Epic: #37
_Пояснения_: Рассмотреть другие фреймворки с++, выявить их плюсы и минусы и сравнить с qt. Задача для подготовки к защите

[2020-06-11 15:31] AnastasiVokhmyanina28 opened #259 "Покрыть логами TcpServer, Gateway, Exception (убрать qDebug)"
# Срок сдачи: 13.06.20
### Epic: #36
_Пояснения_: Необходимо полностью покрыть логами наш проект, для этого нужно покрыть логами классы TcpServer, Gateway, Exception

[2020-06-11 15:37] AnastasiVokhmyanina28 opened #260 "Написать сценарии и автотесты по ним StrategyLab (context)"
### Epic: #36
_Пояснения_: Разработать сценарии тестирования и автотесты для метода StrategyLab::checkContext();

[2020-06-11 15:38] AnastasiVokhmyanina28 opened #261 "Покрыть логами StrategyLab, Functional (убрать qDebug)"
# Срок сдачи: 13.06.20
### Epic: #35
_Пояснения_:
- [x] Покрыть логами класс StrategyLab;
- [x] Покрыть логами класс Functional;
- [x] Убрать все вызовы qDebug();

[2020-06-11 15:43] AnastasiVokhmyanina28 opened #262 "Автоматизировать генерацию отчетов о тестировании по выпуску пре-релиза"
### Epic: #36
_Пояснения_: Речь о создании нового листа с таблицей пройденных тестов в гугл таблице Сценарии тестирования

[2020-06-11 15:46] AnastasiVokhmyanina28 opened #263 "Автоматизировать выгрузку результатов авто тестирования в таблицу Сценариев"
### Epic: #36
_Пояснения_: по выпуску пре-релиза внутри CI выполнить скрипт для выставления Passed/Failed напротив автотестовс тегом пре-релиза в таблице Сценарии тестирования

[2020-06-11 15:55] AnastasiVokhmyanina28 opened #264 "выпуск пре-релиза по реквесту в dev"
### Epic: #35
_Пояснения_: Настроить секцию CI в dev.xml, чтобы при реквесте ветки в dev, выпускался пре-релиз (зашифровать ключ Github token)

[2020-06-11 15:57] AnastasiVokhmyanina28 opened #265 "настроить генерацию доков"
### Epic: #35
_Пояснения_: Постараемся успеть, все доки, которые успели написать будут сгенерированы на странице для отображения

[2020-06-11 15:59] AnastasiVokhmyanina28 opened #266 "настроить проверку соответствия кода стандартам"
### Epic: #35
_Пояснения_: Каждый написанный кусок кода при манипуляции с гитом должен будет проверяться на соответствие стандартам

[2020-06-11 19:27] leshastern commented on #253
Сценарии тестирования разработаны, результаты можно посмотреть [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)
 @None-stopCoding проверь

[2020-06-11 20:07] AnastasiVokhmyanina28 opened #267 "построить use case диаграмму"
### Epic:  #37
_Пояснения_: Разработать Use Case диаграмму

[2020-06-11 20:16] AnastasiVokhmyanina28 opened #268 "построить диаграмму классов"
### Epic: #37
_Пояснения_: Необходимо построить диаграмму классов проекта

[2020-06-11 20:25] AnastasiVokhmyanina28 opened #269 "построить диаграмму компонентов"
# Срок сдачи: 13.06.20
### Epic: #37
_Пояснения_:

[2020-06-11 20:27] #244 closed, assigned to DanilKozlov00

[2020-06-11 20:34] AnastasiVokhmyanina28 opened #270 "покрыть сценариями getRequest"
### Epic: #36
_Пояснения_: прикрепить ссылку на документ, в котором будут находиться сценарии тестирования метода getRequest

[2020-06-11 20:36] AnastasiVokhmyanina28 opened #271 "покрыть сценариями getFileInside"
### Epic: #36
_Пояснения_: [ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)  на документ в Google Drive, где будут расположены сценарии тестирования метода getFileInside

[2020-06-11 20:39] AnastasiVokhmyanina28 opened #272 "покрыть сценариями parseIntoClaasses"
### Epic: #36
_Пояснения_: [ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)  на документ в Google Drive, где будут расположены сценарии тестирования метода parseIntoClasses

[2020-06-11 20:42] AnastasiVokhmyanina28 opened #273 "покрыть сценариями linkChange"
### Epic: #36
_Пояснения_: [ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)  на документ в Google Drive, где будут расположены сценарии тестирования метода linkChange

[2020-06-11 20:44] AnastasiVokhmyanina28 opened #274 "покрыть сценариями getCode"
### Epic: #36
_Пояснения_: [ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)  на документ в Google Drive, где будут расположены сценарии тестирования метода getCode

[2020-06-12 03:49] None-stopCoding commented on #253
нужно по каждому методу, их 5

[2020-06-12 06:02] YuriSilenok commented on #252
Пожалуйста, добавьте веху к этой задаче

[2020-06-12 06:02] YuriSilenok commented on #196
Добрый день. Вы не удалили ветку issue-196 и закрыли задачу

[2020-06-12 09:10] MaksimBukhanov commented on #267
Разработана диаграмма Use Case
С результатом работы можно ознакомиться [здесь](https://app.diagrams.net/#G1gDol1Spa7gEK73nPAbKtCV84Am55W2Ex)

[2020-06-12 10:18] AlbertShabrov commented on #167
@YuriSilenok Запроса нет, так как задача не привязана к коду. Также все вышеописанное нужно делать на Ubuntu с уже релизной версией в qt.

[2020-06-12 12:14] MaksimBukhanov commented on #260
Сценарии тестирования разработаны.
С результатом работы можно ознакомиться [здесь](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622).

[2020-06-12 17:50] cyberAndrey commented on #252
Сделал, но тут только прошлый спринт

[2020-06-12 19:56] Someone-dono commented on #170
Ошибки найдены, созданы соответствующие задачи по их устранению:
#234
#239

[2020-06-12 19:56] #170 closed, assigned to Someone-dono

[2020-06-13 07:30] YuriSilenok commented on #252
Если веха существует для старого спринта, то следует создать новую, а все не заверенные задачи старого спринта, нужно перенести в бэклог. А так же проставить метки спринта в которых по этой задаче была активность.

[2020-06-13 07:37] YuriSilenok commented on #260
Максим, Вы написали что выполнили задачу, но не перевести на проверяющего, почему?

[2020-06-13 07:44] YuriSilenok commented on #167
Вы писали что создали файл, почему он не должен быть частью репозитория? Слишком мало информации о том, как этим файлом пользоваться. И что за разновидность исполняемого файла?

[2020-06-13 07:45] YuriSilenok commented on #167
Вы писали что создали файл, почему он не должен быть частью репозитория? Слишком мало информации о том, как этим файлом пользоваться. И что за разновидность исполняемого файла?

[2020-06-13 07:49] YuriSilenok commented on #267
Проектная документация после реализации проекта, миленько. Зачем её делать сейчас, если она вам не понадобилась?

[2020-06-13 07:52] YuriSilenok commented on #274
Дайте описание содержимому ссылки в описании этой задачи.

[2020-06-13 07:53] YuriSilenok commented on #273
Непонятная ссылка в описании задачи.

[2020-06-13 08:56] None-stopCoding commented on #267
Пусть будет, лишним не станет)) Тем более, она у нас была, все это время, в голове)

[2020-06-13 15:00] YuriSilenok commented on #267
Так какого она там была, сидим у нас были люди которым нечем было загяться?

[2020-06-13 15:12] YuriSilenok commented on #272
Дайте белее подробное описание ссылке. Пример уже приводил.

[2020-06-13 15:13] YuriSilenok commented on #271
Дать ссылке пояснение для чего она нужна

[2020-06-13 15:14] YuriSilenok commented on #270
Нет описания к ссылке.

[2020-06-14 06:01] YuriSilenok commented on #206
Какие есть обновления по этой задаче?

[2020-06-14 06:01] YuriSilenok commented on #64
Какие есть обновления по этой задаче?

[2020-06-14 06:01] YuriSilenok commented on #61
Какие есть обновления по этой задаче?

[2020-06-14 06:01] YuriSilenok commented on #62
Какие есть обновления по этой задаче?

[2020-06-14 10:05] DanilKozlov00 commented on #136
Возможный принцип работы инсталятора:
Есть общий скрипт, допустим installer.sh, лежит в корне репозитория. Он скачивает последний source_code.zip релиза и расспаковывает его в папке загрузок. Затем поочередно запускается 4 скрипта, каждой команды. Они выполняют требуемые для работы каждого модуля действия и запускают 4 службы. По окончанию работы всех 4 скриптов, запускается еще один, который долж

[2020-06-14 10:07] YuriSilenok commented on #136
Нет, все не так, я же сказал, нет службы котороя следит за обновлениями. Вскоре опишу ниже другой вариант как это может работать.

[2020-06-14 10:25] Svyat935 commented on #62
Забыли закрыть задачу.

Выполнено.

[2020-06-14 10:25] #62 closed, assigned to None-stopCoding, Svyat935, magnitola, MoL4okkk, Sirokko77

[2020-06-14 10:26] Svyat935 commented on #64
Забыли закрыть задачу.

Выполнено.

[2020-06-14 10:26] #64 closed, assigned to Svyat935, MaJishpro, MaXL2000

[2020-06-14 10:28] YuriSilenok commented on #136
В корне проекта лежит файл install.sh
Пользователь должен его скрыть самостоятельно и запустить для дальнейшей установки. Об этом должно быть написано в файле readmy.md в репозитории.

В папке где запускается скрипт install.sh скрипт проверяет что существует папка releases. Если она отсутствует, она должна быть создана.

Если установка первая, то есть в папке releases нет папок, то скрипт должен п

[2020-06-14 10:29] Svyat935 commented on #158
Такой ветки не было найдено.

[2020-06-14 10:36] YuriSilenok commented on #158
Значит кто-то удалил и не закрыл задачу

[2020-06-14 10:37] #158 closed, assigned to Svyat935, urec-programmec, AnastasiVokhmyanina28, avilova

[2020-06-14 13:38] SkinnerX7 commented on #196
Ветка была удалена

[2020-06-14 13:40] SkinnerX7 commented on #109
Я исправил название и описание 10 дней назад

[2020-06-14 14:12] LegendaRepa commented on #63
Было проведено тестирование новейшей версии. Отчет о тестировании можно посмотреть [тут](https://docs.google.com/spreadsheets/d/1eIdSnxK18t0z_uImSGkyt4bOVZ5Ft3EX_A-tTElHM90/edit?usp=sharing)

[2020-06-14 14:13] #63 closed, assigned to Svyat935, MoL4okkk, Sirokko77

[2020-06-14 15:32] magnitola commented on #136
Я не знаю, как написать правильно файл install.sh, чтобы он полностью соответствовал всем вашим требованиям. Прочитал в интернете по этой теме много материала, но так и не понял, как правильно сделать большинство действий.

[2020-06-14 17:12] YuriSilenok commented on #136
Конкретезируйте проблему, пока непонятна её суть.

[2020-06-14 17:36] YuriSilenok commented on #109
Я написал вам мене чем через 24 часа после закрытия задачи.
Функция такая-то  возвращает неожиданный результат, если пользователь указал только имя и фамилию в отправленном репозитории. Приблительно такой должен быть заголовок бага. Что где когда не работает. Чётко прослеживается. В чем трудность следовать инструкциям?

[2020-06-14 17:40] YuriSilenok commented on #197
Причём тут тестирование 8 билда и тестирование в этой ветке, вы вообще о чем?

[2020-06-14 17:41] YuriSilenok commented on #259
Анастасия, что значит 100%? К каждой строчке кода?

[2020-06-14 21:10] AnastasiVokhmyanina28 opened #280 "Разработать часть диаграммы классов."
### Epic:  #37
_Пояснения_: Добавить класс Functional на диаграмму классов

[2020-06-14 21:14] AnastasiVokhmyanina28 opened #281 "дополнить диаграмму классов"
### Epic: #37
_Пояснения_:

[2020-06-14 21:15] AnastasiVokhmyanina28 opened #282 "Написать диаграмму классов для TcpServer"
### Epic:  #37
_Пояснения_:  для защиты проекта необходимо написать диаграммы классов для класса TcpServer

[2020-06-14 21:19] AnastasiVokhmyanina28 opened #283 "Написать диаграмму классов для StrategyLab"
### Epic: #37
_Пояснения_:

[2020-06-15 06:02] YuriSilenok commented on #14
Какие есть обновления по этой задаче?

[2020-06-15 06:36] YuriSilenok commented on #157
Добрый день. Вы не удалили ветку issue-157 и закрыли задачу

[2020-06-15 06:36] YuriSilenok commented on #196
Добрый день. Вы не удалили ветку issue-196 и закрыли задачу

[2020-06-15 06:36] YuriSilenok commented on #229
Добрый день. Вы не удалили ветку issue-229 и закрыли задачу

[2020-06-15 06:36] YuriSilenok commented on #233
Добрый день. Вы не удалили ветку issue-233 и закрыли задачу

[2020-06-15 06:46] MaksimBukhanov commented on #173
Все сценарии тестирования были помещены в один файл.
С ним можно ознакомиться [здесь.](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-15 06:46] #173 closed, assigned to MaksimBukhanov

[2020-06-15 06:47] MaksimBukhanov commented on #172
Все сценарии тестирования помещены в один файл, с ним можно ознакомиться [здесь.](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit#gid=146939622)

[2020-06-15 06:48] #172 closed, assigned to MaksimBukhanov

[2020-06-15 09:32] #233 closed, assigned to MaksimBukhanov

[2020-06-15 09:34] MaksimBukhanov commented on #233
Ветка удалена, задача закрыта.

[2020-06-15 09:37] MaksimBukhanov commented on #280
Задача выполнена.
С результатом работы можно ознакомиться [здесь.](https://drive.google.com/file/d/1kazl61uOHD_cMOpki6B0OZzPeQaQeJZq/view?usp=sharing)

[2020-06-15 09:47] YuriSilenok commented on #10
Добрый день. В ветке issue-10 давно не было активности

[2020-06-15 10:19] YuriSilenok commented on #280
ссылка не работает.
вам нужно получать ее с гугл диска, а не с адресной строки браузера

[2020-06-15 10:22] YuriSilenok commented on #254
может быть правильной формулировкой было бы автоматизировать тесты для ...

[2020-06-15 10:25] YuriSilenok commented on #255
как мне больно смотреть на эти задачи

[2020-06-15 10:27] YuriSilenok commented on #253
кажется эта задача является источник для задачи по автоматизации этих тестов, но на эту задачу ссылка на ведет. пожалуйста, найдите ее и свяжите их.

[2020-06-15 10:41] #157 closed, assigned to cyberAndrey

[2020-06-16 06:02] YuriSilenok commented on #142
Какие есть обновления по этой задаче?

[2020-06-16 06:02] YuriSilenok commented on #10
Добрый день. В ветке issue-10 давно не было активности

[2020-06-16 06:02] YuriSilenok commented on #14
Добрый день. В ветке issue-14 давно не было активности

[2020-06-16 06:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-06-16 06:02] YuriSilenok commented on #224
Добрый день. В ветке issue-224 давно не было активности

[2020-06-16 06:02] YuriSilenok commented on #229
Добрый день. В ветке issue-229 давно не было активности

[2020-06-16 06:05] #10 closed, assigned to Progoger

[2020-06-16 06:10] #267 closed, assigned to MaksimBukhanov

[2020-06-16 06:14] MaksimBukhanov commented on #280
Ссылка исправлена

[2020-06-16 06:15] #280 closed, assigned to MaksimBukhanov

[2020-06-16 15:07] YuriSilenok commented on #223
Какие есть обновления по этой задаче?

[2020-06-16 15:08] YuriSilenok commented on #193
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-16 15:08] YuriSilenok commented on #192
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #192
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-16 15:08] YuriSilenok commented on #185
Пожалуйста, добавьте веху к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #179
Пожалуйста, добавьте веху к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #24
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #23
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #22
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #21
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-16 15:08] YuriSilenok commented on #15
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #12
Пожалуйста, добавьте описание к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #8
Пожалуйста, добавьте веху к этой задаче

[2020-06-16 15:08] YuriSilenok commented on #8
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-16 15:08] YuriSilenok commented on #14
Добрый день. В ветке issue-14 давно не было активности

[2020-06-16 15:08] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-06-16 15:08] YuriSilenok commented on #224
Добрый день. В ветке issue-224 давно не было активности

[2020-06-16 15:36] AnastasiVokhmyanina28 commented on #193
задача не актуальна
создана новая задача для ее решения (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/259)

[2020-06-16 16:02] AlbertShabrov commented on #282
Диаграмма классов для TcpServer можно посмотреть [здесь](https://drive.google.com/file/d/1kazl61uOHD_cMOpki6B0OZzPeQaQeJZq/view?usp=sharing)

[2020-06-16 16:05] AnastasiVokhmyanina28 commented on #185
Веха добавлена

[2020-06-16 16:05] #185 closed, assigned to nobody

[2020-06-16 16:07] AnastasiVokhmyanina28 commented on #179
Веха добавлена

[2020-06-16 16:36] SkinnerX7 commented on #8
задача дубляж, поэтому закрывается

[2020-06-16 16:43] CatherinePRO commented on #15
Описание добавлено

[2020-06-16 16:48] #21 closed, assigned to cyberAndrey

[2020-06-16 16:49] #22 closed, assigned to BlackReper086

[2020-06-16 16:50] #23 closed, assigned to Progoger

[2020-06-16 16:51] #24 closed, assigned to BlackReper086

[2020-06-17 06:02] YuriSilenok commented on #193
Пожалуйста, добавьте описание к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #192
Пожалуйста, добавьте описание к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-17 06:02] YuriSilenok commented on #192
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-17 06:02] YuriSilenok commented on #38
Пожалуйста, добавьте описание к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #18
Пожалуйста, добавьте веху к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #18
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-17 06:02] YuriSilenok commented on #12
Пожалуйста, добавьте описание к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #8
Пожалуйста, добавьте веху к этой задаче

[2020-06-17 06:02] YuriSilenok commented on #8
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-17 06:02] YuriSilenok commented on #97
Добрый день. В ветке issue-97 давно не было активности

[2020-06-17 06:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-06-17 06:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-06-17 06:33] AnastasiVokhmyanina28 commented on #193
У задачи веха Backlog.
вместо этой задачи была создана карточка в колонке Backlog

[2020-06-17 06:39] AnastasiVokhmyanina28 commented on #192
У задачи веха Backlog.
вместо этой задачи была создана карточка в колонке Backlog

[2020-06-17 06:43] AnastasiVokhmyanina28 commented on #38
Задача не актуальна.
объединена  с задачей (https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/35)

[2020-06-17 06:43] #38 closed, assigned to AlbertShabrov

[2020-06-17 07:42] CatherinePRO commented on #8
Веха добавлена, ответственный назначен

[2020-06-17 07:42] #8 closed, assigned to CatherinePRO

[2020-06-17 09:55] #15 closed, assigned to CatherinePRO

[2020-06-17 18:37] DanilKozlov00 commented on #226
Вроде исправил генерацию отчетов, в #276 все работает

[2020-06-17 18:37] #226 closed, assigned to DanilKozlov00, avilova

[2020-06-17 18:39] DanilKozlov00 commented on #225
Duplicate of [226](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/issues/226#issuecomment-645549782)

[2020-06-17 18:39] #225 closed, assigned to DanilKozlov00, avilova

[2020-06-17 19:15] cyberAndrey commented on #198
Выполнено

[2020-06-17 19:15] #198 closed, assigned to cyberAndrey

[2020-06-17 19:16] #135 closed, assigned to cyberAndrey

[2020-06-17 19:29] #204 closed, assigned to vvtatyana, avilova

[2020-06-17 19:46] YuriSilenok commented on #55
Какие есть обновления по этой задаче?

[2020-06-18 05:34] #261 closed, assigned to MaksimBukhanov

[2020-06-18 06:02] YuriSilenok opened #287 "Нарушено правило именования вех"
['10']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-06-18 12:30] #37 closed, assigned to nobody

[2020-06-18 12:30] #36 closed, assigned to leshastern

[2020-06-18 12:31] #34 closed, assigned to Someone-dono

[2020-06-19 06:02] YuriSilenok commented on #269
Какие есть обновления по этой задаче?

[2020-06-19 06:02] YuriSilenok commented on #287
['10']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(18-(IS|VT)bo-[12][ab]\))`

[2020-06-19 06:02] YuriSilenok commented on #196
Добрый день. В ветке issue-196 давно не было активности

[2020-06-19 09:38] #206 closed, assigned to MaJishpro

[2020-06-19 09:41] SkinnerX7 commented on #196
Ветка удалена

[2020-06-19 09:41] #196 closed, assigned to SkinnerX7

[2020-06-19 16:37] YuriSilenok commented on #252
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-19 16:37] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #55
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #224
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #229
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #223
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #93
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #197
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #14
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #136
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #61
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-19 16:37] YuriSilenok commented on #269
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #255
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-19 16:37] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-06-19 17:08] AlbertShabrov commented on #282
Задача решена, комментарий с ссылкой на диаграмму классов сверху

[2020-06-19 17:08] #282 closed, assigned to AlbertShabrov

[2020-06-19 17:40] AnastasiVokhmyanina28 commented on #270
[ссылка](https://docs.google.com/spreadsheets/d/1d4DwpPxyc5DkmKFavszVM5prBqGhY7CCWIz_CnZOHEs/edit?usp=sharing)

[2020-06-19 17:47] Someone-dono commented on #255
Аналоги были найдены, о них было рассказано на презентации.

С материалом можно ознакомиться по ссылке:  https://docs.google.com/document/d/1G8WyW3PiEELcpuslyulEVladHjf2QBmP5X4apfHKqfM/edit?usp=sharing

[2020-06-19 18:22] YuriSilenok commented on #270
этого недостаточно для описания ссылки.

[2020-06-20 06:01] YuriSilenok commented on #252
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-20 06:01] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:01] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:01] YuriSilenok commented on #55
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:01] YuriSilenok commented on #229
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #223
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #224
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #197
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #93
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #14
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #61
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #136
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-20 06:02] YuriSilenok commented on #269
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:02] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:02] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-20 06:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-06-20 09:43] YuriSilenok commented on #255
Пожалуйста, используйте гиперссылки для предоставления url на источник.
![image](https://user-images.githubusercontent.com/14871471/85198718-9c760a00-b2f3-11ea-857b-e102350083c9.png)

[2020-06-20 09:53] Someone-dono commented on #255
[Аналоги](https://docs.google.com/document/d/1G8WyW3PiEELcpuslyulEVladHjf2QBmP5X4apfHKqfM/edit?usp=sharing) были найдены, о них было рассказано на презентации.

[2020-06-20 09:53] #255 closed, assigned to Someone-dono

[2020-06-20 10:56] YuriSilenok commented on #224
Требуются уточнения обстоятельств закрытия задачи.
Заголовок и метки предполагают наличие запроса на слияние или связанных задач.

[2020-06-20 11:13] urec-programmec commented on #97
Задача закрывается т.к. была реализована

[2020-06-20 11:13] #97 closed, assigned to urec-programmec

[2020-06-20 11:15] urec-programmec commented on #223
Задача закрывается, т.к. была реализована

[2020-06-20 11:15] #223 closed, assigned to urec-programmec

[2020-06-20 11:16] urec-programmec commented on #229
Задача закрывается, т.к. была реализована

[2020-06-20 11:16] urec-programmec commented on #197
Задача закрывается, т.к. была реализована

[2020-06-20 11:16] #197 closed, assigned to SkinnerX7

[2020-06-21 06:01] YuriSilenok commented on #55
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-21 06:01] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-21 06:01] YuriSilenok commented on #136
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-21 06:02] YuriSilenok commented on #61
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-21 06:02] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-21 06:02] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-21 06:02] YuriSilenok commented on #229
Добрый день. Вы не удалили ветку issue-229 и закрыли задачу

[2020-06-21 09:56] SkinnerX7 commented on #229
Ветка удалена

[2020-06-21 09:56] #229 closed, assigned to SkinnerX7

[2020-06-21 10:03] SkinnerX7 commented on #55
Баг был исправлен в версии v0.0.0.6

[2020-06-21 10:03] #55 closed, assigned to cyberAndrey

[2020-06-22 06:01] YuriSilenok commented on #136
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-22 06:01] YuriSilenok commented on #61
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-06-22 06:02] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-22 06:02] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-22 08:56] #61 closed, assigned to Svyat935, ComButterbrot, MoL4okkk, ShapovalovQ

[2020-06-22 08:57] #287 closed, assigned to Svyat935, urec-programmec, AnastasiVokhmyanina28, avilova

[2020-06-23 06:01] YuriSilenok commented on #136
Пожалуйста, добавьте веху к этой задаче

[2020-06-23 06:02] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-23 06:02] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-23 06:02] YuriSilenok commented on #14
Добрый день. В ветке issue-14 давно не было активности

[2020-06-23 06:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-06-24 06:01] YuriSilenok commented on #136
Пожалуйста, добавьте веху к этой задаче

[2020-06-24 06:01] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-24 06:01] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-24 06:01] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-06-24 06:01] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-06-25 06:01] YuriSilenok commented on #259
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 06:01] YuriSilenok commented on #167
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 10:36] YuriSilenok commented on #109
Я не понимаю почему была закрыта задача.

[2020-06-25 10:58] YuriSilenok commented on #12
Чет я не понял, как это баг вдруг стал задачей?

[2020-06-25 13:03] YuriSilenok commented on #274
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #273
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #272
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #271
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #270
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #266
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #265
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #264
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #263
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #262
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #260
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #259
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #258
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #257
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #256
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #254
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #253
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:03] YuriSilenok commented on #248
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #193
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #192
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #186
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #179
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #176
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #175
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #169
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #167
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #44
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #40
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-25 13:04] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #44
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #40
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #179
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:04] YuriSilenok commented on #274
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #273
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #272
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #271
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #270
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #266
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #265
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #264
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #263
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:04] YuriSilenok commented on #262
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #260
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #259
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #258
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #257
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #256
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #254
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #253
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #248
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #193
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #192
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #186
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #179
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #176
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #175
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #169
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #167
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #44
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #40
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-25 13:05] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:05] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-25 13:05] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:05] YuriSilenok commented on #44
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:05] YuriSilenok commented on #40
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:05] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:05] YuriSilenok commented on #179
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-25 13:09] YuriSilenok commented on #35
@None-stopCoding Это не является эпиком

[2020-06-26 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-26 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #44
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #40
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #179
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:02] YuriSilenok commented on #193
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #179
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #192
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #44
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #40
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-26 05:03] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #44
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #40
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #179
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-26 05:03] YuriSilenok commented on #193
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:03] YuriSilenok commented on #192
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:03] YuriSilenok commented on #179
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:03] YuriSilenok commented on #44
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:03] YuriSilenok commented on #40
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 05:03] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-26 12:32] AnastasiVokhmyanina28 commented on #40
метка добавлена

[2020-06-26 12:32] #40 closed, assigned to leshastern

[2020-06-26 12:37] AnastasiVokhmyanina28 commented on #44
метка добавлена

[2020-06-26 12:37] #44 closed, assigned to AlbertShabrov

[2020-06-26 12:39] AnastasiVokhmyanina28 commented on #179
метка добавлена

[2020-06-26 12:39] #179 closed, assigned to leshastern

[2020-06-27 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-27 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-27 05:02] YuriSilenok commented on #167
Добрый день. В ветке issue-167 давно не было активности

[2020-06-27 05:02] YuriSilenok commented on #259
Добрый день. В ветке issue-259 давно не было активности

[2020-06-27 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-06-27 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:03] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-27 05:03] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:03] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-27 05:03] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-28 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-28 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-28 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-28 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-28 05:03] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-29 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-29 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-29 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-29 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-29 05:03] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-06-30 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-06-30 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-06-30 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-01 05:02] YuriSilenok commented on #14
Добрый день. В ветке issue-14 давно не было активности

[2020-07-01 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-01 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-01 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-02 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:02] YuriSilenok commented on #12
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #109
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-02 10:55] SkinnerX7 commented on #109
Почему эта задача открывается? Вопрос был решен путем добавления в документ инструкции как правильно оформлять файлы в репозитории

[2020-07-02 10:57] SkinnerX7 commented on #12
Я не помню зачем поднимал эту задачу(баг) скорее всего это дубляж #109. Думаю эту задачу можно закрыть

[2020-07-02 11:32] YuriSilenok commented on #109
Думаю мы можем закрыть ее так как семестр завершен и нет время объяснять требования к багам

[2020-07-02 11:32] #109 closed, assigned to Progoger

[2020-07-02 11:33] YuriSilenok commented on #12
Duplicate of #109

[2020-07-02 11:33] #12 closed, assigned to Progoger

[2020-07-03 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-03 13:15] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-03 13:15] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 13:15] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 13:15] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-04 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-04 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-04 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-04 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-05 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-05 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-05 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 11:59] AlbertShabrov commented on #167
Задача решена, ссылка на реквест [тут](https://github.com/Students-of-the-city-of-Kostroma/trpo_automation/pull/288)

[2020-07-06 11:59] #167 closed, assigned to AlbertShabrov

[2020-07-06 13:01] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 13:01] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 13:01] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 14:21] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 14:21] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 14:21] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 15:23] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:23] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 15:23] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 15:26] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:26] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 15:26] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-06 15:48] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:48] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-06 15:48] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-07 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-07 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-07 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-07 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-08 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-08 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-08 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-08 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-08 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-09 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-09 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-09 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-10 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-10 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-10 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-11 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-11 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-11 05:02] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-11 05:02] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-11 06:16] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-11 06:16] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-11 06:16] YuriSilenok commented on #18
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-11 06:16] YuriSilenok commented on #18
Пожалуйста, добавьте метки в вашу задачу

[2020-07-11 06:33] #18 closed, assigned to Tim-Shelll

[2020-07-11 10:43] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-14 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-15 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-15 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-18 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-21 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-22 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-22 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-25 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #93
Добрый день. В ветке issue-93 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #169
Добрый день. В ветке issue-169 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #238
Добрый день. В ветке issue-238 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #263
Добрый день. В ветке issue-263 давно не было активности

[2020-08-09 18:01] YuriSilenok commented on #283
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #281
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #274
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #273
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #272
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #271
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #270
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #269
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #268
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #266
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #265
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #264
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #263
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #262
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #260
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #259
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #258
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #257
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #256
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #254
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #253
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #252
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #250
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #248
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #238
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #224
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #193
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #192
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #186
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #176
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #175
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #169
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:02] YuriSilenok commented on #142
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:03] YuriSilenok commented on #136
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:03] YuriSilenok commented on #93
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:03] YuriSilenok commented on #35
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:03] YuriSilenok commented on #14
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:24] #14 closed, assigned to YuriSilenok

[2020-08-09 18:25] #35 closed, assigned to YuriSilenok

[2020-08-09 18:25] #93 closed, assigned to YuriSilenok

[2020-08-09 18:25] #136 closed, assigned to YuriSilenok

[2020-08-09 18:26] #142 closed, assigned to YuriSilenok

[2020-08-09 18:26] #169 closed, assigned to YuriSilenok

[2020-08-09 18:26] #175 closed, assigned to YuriSilenok

[2020-08-09 18:26] #176 closed, assigned to YuriSilenok

[2020-08-09 18:26] #186 closed, assigned to YuriSilenok

[2020-08-09 18:27] #192 closed, assigned to YuriSilenok

[2020-08-09 18:27] #193 closed, assigned to YuriSilenok

[2020-08-09 18:27] #224 closed, assigned to YuriSilenok

[2020-08-09 18:27] #238 closed, assigned to YuriSilenok

[2020-08-09 18:27] #248 closed, assigned to YuriSilenok

[2020-08-09 18:27] #250 closed, assigned to YuriSilenok

[2020-08-09 18:27] #252 closed, assigned to YuriSilenok

[2020-08-10 12:37] #253 closed, assigned to YuriSilenok

[2020-08-11 17:02] #283 closed, assigned to YuriSilenok

[2020-08-11 17:03] #281 closed, assigned to YuriSilenok

[2020-08-11 17:03] #274 closed, assigned to YuriSilenok

[2020-08-11 17:03] #273 closed, assigned to YuriSilenok

[2020-08-11 17:03] #272 closed, assigned to YuriSilenok

[2020-08-18 05:02] YuriSilenok commented on #271
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #270
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #269
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #268
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #266
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #265
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #264
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #263
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #262
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #260
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #259
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #258
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #257
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #256
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #254
Задача с Вас снята, так как по ней давно не было активности.

[2020-11-01 10:55] #271 closed, assigned to YuriSilenok

[2020-11-01 10:55] #270 closed, assigned to YuriSilenok

[2020-11-01 10:57] #269 closed, assigned to YuriSilenok

[2020-11-01 10:57] #268 closed, assigned to YuriSilenok

[2020-11-01 10:57] #266 closed, assigned to YuriSilenok

[2020-11-01 10:58] #265 closed, assigned to YuriSilenok

[2020-11-01 10:58] #264 closed, assigned to YuriSilenok

[2020-11-01 10:58] #263 closed, assigned to YuriSilenok

[2020-11-01 10:58] #262 closed, assigned to YuriSilenok

[2020-11-01 10:59] #260 closed, assigned to YuriSilenok

[2020-11-01 10:59] #259 closed, assigned to YuriSilenok

[2020-11-01 10:59] #258 closed, assigned to YuriSilenok

[2020-11-01 10:59] #257 closed, assigned to YuriSilenok

[2020-11-01 10:59] #256 closed, assigned to YuriSilenok

[2020-11-01 11:00] #254 closed, assigned to YuriSilenok